.about-hero .homepage-hero-wrapper {
  position: relative;
}
.about-hero .homepage-hero-wrapper .img-bg {
  position: absolute;
  width: 70%;
  height: auto;
  top: 50%;
  right: -100px;
  transform: translate(0, -50%);
}
.about-hero .content .page-header {
  max-width: 600px;
}
.about-hero .content .page-description {
  margin-top: 15px;
  max-width: 512px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.about-hero .content .btn-purple {
  margin-top: 30px;
}
@media (max-width: 1199.98px) {
  .about-hero .content .page-description {
    max-width: 450px;
  }
}
@media (max-width: 991.98px) {
  .about-hero .content .page-description {
    max-width: 400px;
  }
  .about-hero .homepage-hero-wrapper .img-bg {
    width: 70%;
    transform: translate(25px, -50%);
  }
}
@media (max-width: 575.98px) {
  .about-hero .homepage-hero-wrapper {
    flex-wrap: wrap;
  }
  .about-hero .homepage-hero-wrapper .img-bg {
    position: static;
    width: 100%;
    transform: none;
  }
}
.team {
  position: relative;
  overflow: hidden;
  padding: 60px;
  background: #29A37A;
  text-align: center;
}
.team .section-header {
  position: relative;
  z-index: 5;
}
.team .section-description {
  position: relative;
  z-index: 5;
  max-width: 856px;
  margin: 0 auto;
}
.team .team-wrapper {
  position: relative;
}
.team .team-wrapper .square-1 {
  position: absolute;
  z-index: 2;
  bottom: -150px;
  left: -250px;
}
.team .team-wrapper .square-2 {
  position: absolute;
  z-index: 2;
  right: -50%;
  top: -75%;
}
.team .team-slider {
  position: relative;
  z-index: 5;
  width: 100%;
  margin-top: 56px;
}
.team .team-slider .slick-slide {
  width: 416px;
  margin: 0 12px;
}
.team .team-slider-item {
  padding: 30px 20px;
  text-align: center;
  background: #F3F3F7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.team .team-slider-item img {
  border-radius: 200px;
  overflow: hidden;
  max-width: 245px;
  height: auto;
  margin: 0 auto 30px;
}
.team .team-slider-item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #29A37A;
}
.team .team-slider-item p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #3C3C3C;
}
@media (max-width: 991.98px) {
  .team .team-wrapper .team-slider-item img {
    width: 60%;
    height: auto;
  }
  .team .team-wrapper .team-slider-item p {
    line-height: 120%;
  }
}
@media (max-width: 575.98px) {
  .team {
    padding: 60px 0;
  }
  .team .square-1 {
    width: 100%;
    height: auto;
  }
  .team .square-2 {
    width: 100%;
    height: auto;
  }
  .team .section-header {
    text-align: left;
    padding-left: 12px;
  }
  .team .section-description {
    text-align: left;
    padding-left: 12px;
  }
}
.values {
  padding-bottom: 135px;
  margin-top: 170px;
  text-align: center;
}
.values .values-wrapper {
  position: relative;
  z-index: 5;
}
.values .values-wrapper .square-1 {
  z-index: 1;
  position: absolute;
  left: 0;
  top: -80px;
}
.values .values-wrapper .square-2 {
  right: -50px;
  bottom: -105px;
  z-index: 1;
  position: absolute;
}
.values .section-description {
  margin: 0 auto;
}
.values .section-description {
  max-width: 860px;
  margin: 0 auto;
}
.values .values-grid {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 30px;
}
.values .values-grid-item {
  display: flex;
  padding: 25px;
  text-align: left;
  background: #F3F3F7;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  gap: 10px;
  align-items: flex-start;
}
.values .values-grid-item img {
  max-width: 68px;
  height: auto;
}
.values .values-grid-item .content {
  flex: 1;
}
.values .values-grid-item .content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #3C3C3C;
}
@media (max-width: 1199.98px) {
  .values .values-wrapper .square-1 {
    transform: translateX(-150px);
  }
  .values .values-wrapper .square-2 {
    transform: translateX(150px);
  }
  .values .values-wrapper .values-grid-item {
    flex-wrap: wrap;
  }
  .values .values-wrapper .values-grid-item .content {
    width: 100%;
    flex: auto;
  }
}
@media (max-width: 991.98px) {
  .values {
    padding: 135px 0 100px;
  }
  .values .values-wrapper .values-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }
}
@media (max-width: 575.98px) {
  .values {
    margin-top: 0;
    padding: 65px 0;
  }
  .values .section-header {
    padding-left: 12px;
    text-align: left;
  }
  .values .section-description {
    padding-left: 12px;
    text-align: left;
  }
  .values .values-wrapper .values-grid {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
  .values .values-wrapper .values-grid-item {
    flex-wrap: nowrap;
  }
}
.mission {
  text-align: center;
}
.mission .section-header {
  margin: 0 auto;
}
.mission .section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0E110F;
  max-width: 500px;
  margin: 15px auto 0;
}
.mission .mission-wrapper {
  position: relative;
  padding: 260px 0 200px;
}
.mission .mission-wrapper .person {
  position: absolute;
  left: 0;
  bottom: 0;
}
.mission .mission-wrapper .items {
  position: absolute;
  right: -150px;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 1399.98px) {
  .mission .mission-wrapper {
    padding: 230px 0 170px;
  }
  .mission .mission-wrapper .person {
    width: 25%;
  }
  .mission .mission-wrapper .items {
    width: 35%;
    transform: translateX(50px, -50%);
  }
}
@media (max-width: 1199.98px) {
  .mission .mission-wrapper {
    padding: 170px 0 110px;
  }
  .mission .mission-wrapper .person {
    width: 25%;
  }
  .mission .mission-wrapper .items {
    width: 35%;
    transform: translateX(50px, -50%);
  }
}
@media (max-width: 991.98px) {
  .mission .mission-wrapper {
    padding: 170px 0 80px;
  }
  .mission .mission-wrapper .person {
    width: 25%;
    bottom: 0;
    transform: translate(-50px, 0);
  }
  .mission .mission-wrapper .items {
    width: 35%;
    right: -120px;
    top: 65%;
    transform: translateX(50px, -50%);
  }
  .mission .mission-wrapper .section-description {
    max-width: 400px;
  }
}
@media (max-width: 575.98px) {
  .mission .mission-wrapper {
    padding: 80px 0px 0px;
  }
  .mission .mission-wrapper .person {
    position: static;
    width: 35%;
    bottom: 0;
    transform: none;
  }
  .mission .mission-wrapper .items {
    position: static;
    width: 40%;
    right: -120px;
    top: 65%;
    transform: translate(25px, -50px);
  }
  .mission .mission-wrapper .section-description {
    max-width: 400px;
    margin-bottom: 60px;
  }
}
.cta.high .cta-wrapper {
  padding: 240px 0;
}
.cta.high .cta-wrapper img {
  bottom: 0;
  top: auto;
  transform: translate(0);
}
@media (max-width: 1199.98px) {
  .cta.high .cta-wrapper {
    padding: 200px 0;
  }
  .cta.high .cta-wrapper .content p {
    max-width: 500px;
  }
}
@media (max-width: 991.98px) {
  .cta.high .cta-wrapper {
    padding: 70px 0;
  }
  .cta.high .cta-wrapper .content p {
    max-width: 400px;
  }
}
@media (max-width: 575.98px) {
  .cta.high .cta-wrapper {
    padding: 70px 0px 0px;
  }
  .cta.high .cta-wrapper .content p {
    max-width: 400px;
  }
}
