.contact-us{
  margin-top: 60px;
  .page-header{
    font-size: 70px;
    margin-bottom: 15px;
    b{
      background: linear-gradient(90deg, #29A37A 0%, #B744B8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &-wrapper{
    position: relative;
    img{
      position: absolute;
      top: 45%;
      right: -150px;
      transform: translate(0,-50%);
    }
  }
}


@media (max-width: 1399.98px) { 
  .contact-us{
    &-wrapper{
      img{
        right: -220px;
        top: 40%;
        width: 70%;
      }
    }
  }
}
@media (max-width: 1199.98px) { 
  .contact-us{
    &-wrapper{
      .main-form{
        max-width: 500px;
      }
      img{
        right: -250px;
        top: 40%;
        width: 80%;
      }
    }
  }
}
@media (max-width: 991.98px) { 
  
}
@media (max-width: 767.98px) { 

}
@media (max-width: 575.98px) { 
  .contact-us{
    .page-header{
      font-size: 40px;
      line-height: 120%;
    }
    &-wrapper{
      img{
        width: 100%;
        position: static;
        transform: translate(0,0);
      }
    }
  }
}

.contact-details{
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
  margin-bottom: 20px;
  &-item{
    display: flex;
    padding: 20px;
    background: #F3F3F7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    gap: 15px;
    img{
      flex-basis: 60px;
      max-width: 60px;
      height: auto;
      position: static;
      right: auto;
      top: auto;
      transform: none;
    }
  }
}



@media (max-width: 1199.98px) { 
  .contact-details{
    &-item{
      padding: 10px;
      align-items: flex-start;
      img{
        max-width: 40px;
      }
      .content{
        p{
          font-size: 16px;
        }
      }  
    }
  }
}
@media (max-width: 991.98px) { 
  .contact-details{
    &-item{
      padding: 10px;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0;
      img{
        max-width: 40px;
      }
      .content{
        width: 100%;
        p{
          font-size: 16px;
          line-height: 120%;
        }
      }  
    }
  }
}

@media (max-width: 575.98px) { 
  .contact-details{
    margin-top: 10px;
    gap: 10px;
    grid-template-columns: 1fr;
    &-item{
      width: 100%;
      padding: 18px;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 14px;
      img{
        max-width: 40px;
      }
      .content{
        width: 100%;
        p{
          font-size: 16px;
          line-height: 120%;
        }
      }  
    }
  }
}