font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-BlackItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Bold.woff2') format('woff2'), url('../fonts/woff/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-BoldItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Black.woff2') format('woff2'), url('../fonts/woff/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-ExtraBoldItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-ExtraBold.woff2') format('woff2'), url('../fonts/woff/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-ExtraLight.woff2') format('woff2'), url('../fonts/woff/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-MediumItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-LightItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Medium.woff2') format('woff2'), url('../fonts/woff/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Light.woff2') format('woff2'), url('../fonts/woff/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-ExtraLightItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Italic.woff2') format('woff2'), url('../fonts/woff/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-ThinItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Regular.woff2') format('woff2'), url('../fonts/woff/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/woff/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-SemiBoldItalic.woff2') format('woff2'), url('../fonts/woff/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/woff/Poppins-Thin.woff2') format('woff2'), url('../fonts/woff/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b,
ul,
li {
  font-family: 'Poppins';
}
