.header{
  position: relative;
  z-index: 10;
  height: 100px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

  &-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  background: white;
}

.social-links{
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    width: 160px;
    justify-content: space-between;
  }

  .main-nav{
    margin-left: auto;
    margin-right: 40px;
    .menu{
      display: flex;
      list-style: none;
      gap: 40px;
      &-item{
        display: flex;
        position: relative;
        a{
          order: 1;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 60px;  
          color: #0E110F;
          text-decoration: none;
        }
        img{
          order: 2;
        }
        .sub-menu{
          display: none;
          position: absolute;
          z-index: 5;
          width: 300px;
          top: 30px;
          .menu-item{
            height: 40px;
            display: flex;
            align-items: center;
          }
        }
        &:hover{
          .sub-menu{
            display: block;
            position: absolute;
          }
        }
        .sub-menu{
          list-style: none;
          padding: 25px;
          background: #FFFFFF;
          border-radius: 25px;
          
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          li{

            font-weight: 500;
            font-size: 16px;
            line-height: 120%;

            color: #0E110F;
          }
        }
      }
    }
  }


  @media (max-width: 991.98px) { 
    .header{
      height: 80px;
      .burger{
        outline:none;
        border:none;
        background: transparent;
        margin-left: 10px;
      }
    }
  }


  @media (max-width: 575.98px) { 
    .header{
      height: 60px;
      .logo{
        height: 30px;
        width: auto;
      }
      
    }
  }



.mobile-menu{
  position: absolute;
  width: 90%;
  top: 0;
  z-index: 20;
  height: 100vh;
  right: -100%;
  background: #F3F3F7;
  padding: 30px;

  transition: 0.5s;

  &-header{
    display: flex;
    justify-content: end;
    button{
      border: none;
      outline: none;
    }
  }
  .main-nav{
    margin: 0;
    max-width: 350px;
    .menu{
      display: block;
      .menu-item{
        display: block;
        margin-bottom: 15px;
        a{
          font-size: 25px;
          line-height: 150%;
        }
      }
      .menu-item-has-children{
        display: flex;
        flex-wrap: wrap;
        a{
          order: 1;
        }
        img{
          order: 2;
        }
        .sub-menu{
          display: none;
          order: 3;
          width: 100%;
          transition: 0.5s;
        }
        &.active{
          .sub-menu{
            display: block;
            position: static;
            transform: none;
            width: auto;
            height: auto;
            background: none;
            border: none;
            box-shadow: none;
            transition: 0.5s;
          }
        }
      }
    }
  }
  .social-links{
    margin: 0;
    margin-top: 10px;
    max-width: 150px;
  }

  &.active{
    right: 0;
    transition: 0.5s;
  }
}