html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
}
body {
  cursor: crosshair;
  font-family: 'Poppins', sans-serif;
  background: url("hero.jpg") no-repeat 50% 50%;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.content {
  width: 100%;
  margin: 0 auto;
  z-index: -1;
}
.content h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5.4rem;
  color: #101010;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.content p {
  margin-top: 0;
  text-align: left;
  color: #101010;
  font-weight: 400;
}
.loader {
  z-index: 1;
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #000000;
}
.loader-logo {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: auto;
}
.loader-bar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.5rem;
  width: 40rem;
  background-color: #323232;
}
.loader-bar .loader-pad {
  height: 100%;
  width: 20%;
  background-color: #ffffff;
  animation: loader-pad 1.5s infinite ease-in;
}
.loader-sub {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50%;
  top: 50%;
  left: 0;
  background-color: #000000;
}
@keyframes loader-pad {
  0% {
    margin-left: 0%;
  }
  75% {
    margin-left: 80%;
  }
}
@media (max-width: 991px) {
  .loader .logo {
    width: 40rem;
  }
  .loader-bar {
    width: 30rem;
  }
}
@media (max-width: 767px) {
  .loader .logo {
    width: 20rem;
  }
  .loader-bar {
    width: 25rem;
  }
}
