@font-face {
    font-family: 'Europa';
    src: url('Europa-Light.woff2') format('woff2'),
        url('Europa-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

