@font-face {
  font-family: 'EuropaBold';
  src: local('EuropaNuovaBold'),
    url('../fonts/EuropaNuovaBold.woff2') format('woff2'),
    url('../fonts/EuropaNuovaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EuropaRegular';
  src: local('EuropaNuova'), local('EuropaNuovaRegular'),
    url('../fonts/EuropaNuovaRegular.woff2') format('woff2'),
    url('EuropaNuovaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//COLORS 
@background_50: #FCF9F5;
@background_100: #E3E0DC;
@background_200: #C4C1BE;
@background_300: #A8A6A3;
@background_400: #8C8A88;
@background_500: #706E6C;
@background_600: #545351;
@background_700: #383736;
@background_800: #1C1B1B;
@background_900: #151110;

@primary_50: #FFFAEC;
@primary_100: #FFF4D8;
@primary_200: #FFE9B1;
@primary_300: #FFDE8A;
@primary_400: #FFD363;
@primary_500: #FFC83C;
@primary_600: #E6B436;
@primary_700: #B38C2A;
@primary_800: #80641E;
@primary_900: #4C3C12;

@secondary_50: #FDEEEB;
@secondary_100: #F8CCC2;
@secondary_200: #F5BBAE;
@secondary_300: #F19986;
@secondary_400: #EC775D;
@secondary_500: #E75535;
@secondary_600: #B9442A;
@secondary_700: #8B3320;
@secondary_800: #5C2215;
@secondary_900: #2E110B;

@alert_50: #FCF0F0;
@alert_500: #FC4C4C;
@alert_900: #943838;

@green_50: #EBF7F1;
@green_500: #25DF86;
@green_900: #11663D;

body{
  overflow-x: hidden;
}


h1{
  font-family: 'EuropaBold';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -0.03em;
}
h2{
font-family: 'EuropaBold';
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 120%;
letter-spacing: -0.03em;
color: #000000;
}
h3{
font-family: 'EuropaBold';
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 120%;
letter-spacing: -0.03em;
}
h4{
font-family: 'EuropaBold';
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 120%;
letter-spacing: -0.03em;
margin-bottom: 32px;
}
h5{
font-family: 'EuropaBold';
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 120%;
}
h6{
  font-family: 'EuropaBold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
}

@media (max-width: 768px) {
  h1{
    font-size: 64px;
  }
  h2{
    font-size: 48px;
  }
  h3{
    font-size: 36px;
  }
  h4{
    font-size: 36px;
  } 
  h5{
    font-size: 24px;
  }  
}


p{
  font-family: 'EuropaRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
  color: @background_600;
}

@media (max-width: 1400px) {
p{
  font-size: 18px;
}
}
@media (max-width: 1200px) {
  p{
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  p{
    font-size: 14px;
  }
}
@media (max-width: 768px) {
 p{
    font-size: 12px;
 }
}

@media (max-width: 576px) {
  p{
    font-size: 10px;
  }
}
/// Buttons
.main-btn,.secondary-btn{
  display: inline-block;
  height: 48px;
  margin: 0 8px;
  border-radius:24px;
  padding: 0 24px 0 24px;
  background-color:@primary_500;
  font-family: 'EuropaBold';
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  line-height: 48px;
  text-align: center;
  color: black;
  &:hover{
    background-color: @primary_600;
    color: black;
  }
}
.secondary-btn {
  background-color: transparent;
  border-color: #E3E0DC;
  border: 1px solid #E3E0DC;
}
@media (max-width:576px){
  .main-btn,.secondary-btn{
    width: 340px;
    margin: 0 auto;
    margin-bottom: 12px;
    
    
    text-align: center;
  }
}

// li {
//   list-style: none;
//   &:before {
//     content: '';
//     display: inline-block;
//     height: 1em;
//     width: 1em;
//     background-image:url(../img/list-arrow.svg);
//     background-size: contain;
//     background-repeat: no-repeat;
//     margin-right: 0.5em;
//   }
// }
ul{
  list-style-image: url(../img/list-arrow.svg);
  padding-left: 12px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  li{
    margin-bottom: 8px;
    font-family: 'EuropaBold';
    font-size: 16px;
    color: @background_600;
  }
}






.to-top{
  width: 48px;
  height: 48px;
  background-image: url(../img/arrow-up.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width:1200px){
  .container {
    max-width: 1200px;
  }
}

@media (max-width:576px) {
  .mobile-disapear{
    display: none;
  }
}

.header{
  .navbar{
    margin-top: 32px;
    margin-bottom: 32px;
    .collapse{
      justify-content: end;
      flex-grow: initial;
      margin-left: auto;
      .navbar-nav{
        .nav-item{
          position: relative;
          margin-left: 40px;
          .nav-link{
            font-family: 'EuropaBold';
            font-size: 16px;
            color: @background_600;
          }
        }
        .current-item{
          position: relative;
          .nav-link
          {
            font-family: 'EuropaBold';
            color: black;
          }
          &::after{
            position: absolute;
            content:'';
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg,#E65535, #FEC227);
          }
        }
      }
    }
    &-brand{
      img{
        width: 150px;
        height: auto;
      }
    }
  }
  
}

@media (max-width: 1200px) {
  .header{
    .navbar{
      .collapse{
        .navbar-nav{
          .nav-item{
            margin-left: 20px;
            .nav-link{
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-light .navbar-toggler{
    border: none;
  }
  .header {
    .navbar {
      .collapse {
        .navbar-nav {
          .nav-item {
            width: 100%;
            box-sizing: border-box;
            margin-left: 20px;
            &::after{
              position: absolute;
              content:'';
              width: 100%;
              height: 1px;
              background: #E3E0DC;
            }
            .nav-link {
              padding: 0;
              line-height: 56px;
            }
          }
          .current-item::after{
            position: absolute;
            content:'';
            height: 2px;
            background: linear-gradient(90deg, #E65535, #FEC227);
          }
        }
      }
      .navbar-collapse{
        margin-top: 56px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header{
    .navbar{
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 576px) {
  .header{
    .navbar{
      .navbar-collapse{
        overflow-x: hidden;
        margin-top: 36px;
      }
    }
  }
}

.hero{
  margin-top: 80px;
  text-align: center;
  .container{
    position:relative;
    .token{
      position: absolute;
    }
    .token-5{
      top: 72px;
      right: 0;
      z-index: 1 ;
    }
    .token-6 {
      top: 72px;
      left: 0;
      z-index: 1;
    }
    .token-7 {
      bottom:-70px;
      left: 0;
      z-index: 1;
    }
    .token-8 {
      bottom:-70px ;
      right: 0;
      z-index: 1;
    }
  }
  p{
    text-align: center;
    width:860px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .hero{
    p{
      width: 100%;
    }
    
  }
}

@media (max-width: 768px) {
  .hero{
    margin-top: 56px;
    .token-5 {
      transform: translateX(50px);
    }

    .token-6 {
      transform: translateX(-50px);
    }

    .token-7 {
     transform: translateX(-60px);
    }

    .token-8 {
      transform: translateX(60px);
    }
  }
}

@media (max-width: 576px) {
  .hero{
    margin-top: 24px;
    .token{
      display: none;
    }
  }
}









.top_casinos{
  margin-top: 96px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 5;
  .container{
    position: relative;
    z-index: 5;
  }
  .main-btn{
    position: relative;
    z-index: 5;
  }
    .token {
      position: absolute;
    }

    .token-1 {
      top: 400px;
      left: 0;
      z-index: 2;
    }

    .token-2 {
      top: 120px;
      left: 50%;
      transform: translateX(545px);
      z-index: 6;
    }

    .token-3 {
      top: 300px;
      right: 0;
      z-index: 2;
    }

    .token-4 {
      top: 100px;
      left: 0;
      z-index: 2;
    }

    .token-9 {
      top: 100px;
      right: 50%;
      transform: translateX(-545px);
      z-index: 2;
    }

    .token-10 {
      top: 50px;
      right: 0;
    }
    .bg-image{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80%;
      z-index: 1;
      background: #FCF9F5;
    }
}
@media (max-width: 1400px) {
  .token {
    display: none;
  }
}



@media (max-width: 768px) {
  .top_casinos{
    margin-top: 56px;
  }
}

@media (max-width: 576px) {
  margin-top: 40px;
}


.top_casinos_wrapper {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .casino {
    box-shadow: 0px 2px 6px rgba(21, 17, 16, 0.08);
    border-radius: 8px;
    width: 260px;
    height: 362px;
    background-color: white;

    p {
      order: 3;
      font-family: 'EuropaBold';
      font-size: 18px;
      margin-bottom: 8px;
    }

    &-logo {
      margin-bottom: 32px;
      order: 1;
      position: relative;
      width: 100%;
      height: 120px;
      border-radius: 8px 8px 0 0;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 140px;
        height: auto;
      }

      .number {
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 24px;
        text-align: center;
        font-size: 16px;
        font-family: 'EuropaBold';
        color: white;
        background-color: @primary_500;
        border-radius: 16px;
        border: 4px solid white;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      .main-btn,
      .secondary-btn {
        padding: 0 16px 0 16px;
      }
    }

    .rating {
      width: 160px;
      display: flex;
      margin: 0 auto;
      margin-bottom: 18px;
      p{
        font-size: 12px;
        margin-bottom: 0;
        transform: translate(6px,3px);
      }
    }

    .tags {
      display: flex;
      justify-content: center;
      margin-bottom: 36px;

      .tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px 8px 4px;
        width: 112px;
        height: 23px;
        left: 106px;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #EBF7F1;
        box-sizing: border-box;
        border-radius: 100px;

        p {
          font-size: 10px;
          margin-bottom: 0;
        }

        .green p {
          color: #11663D;
        }

        .red p {
          color: #943838;
        }
      }

    }
  }

  .card_1 .casino-logo {
    background-color: #79C000;
  }

  .card_2 .casino-logo {
    background-color: #131F45;
  }

  .card_3 .casino-logo {
    background-color: #1B9E31;
  }

  .card_4 .casino-logo {
    background-color: #FF6F0E;
  }
}


@media (max-width: 1200px) {
  .top_casinos{
    .top_casinos_wrapper{
      justify-content: space-evenly;
      .casino{
        width: 400px;
        margin-bottom: 36px;
      }
    }
  }
}

@media (max-width: 992px) {
  .top_casinos {
    .top_casinos_wrapper {
      justify-content: space-between;
      .casino {
        width: 320px;
        margin-bottom: 36px;
        .casino-logo{
          img{
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .top_casinos {
    .top_casinos_wrapper {
      justify-content: space-between;

      .casino {
        width:48%;
        margin-bottom: 36px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 576px) {
  .top_casinos {
    .top_casinos_wrapper {
      justify-content: space-evenly;

      .casino {
        width: 340px;
        margin-bottom: 36px;
        .tags{
          .tag{
            margin-left: 3px;
            margin-right: 3px;
          }
        }
        .buttons{
          .main-btn,.secondary-btn{
            width: 45%;
          }
        }
      }
    }
    .main-btn {
      margin-bottom: 0;
    }
  }
}








.casinos_wrapper {
  margin-top: 32px;
  margin-bottom: 40px;
  text-align: center;

  .casino {
    display: flex;
    width: 100%;
    height: 87px;
    padding: 0 24px 0 24px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(21, 17, 16, 0.08);
    border-radius: 8px;

    .casino-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        order: 2;
        margin: 0 24px;
      }

      .number {
        order: 1;
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 28px;
        text-align: center;
        font-size: 16px;
        font-family: 'EuropaBold';
        color: black;
        background-color: white;
        border-radius: 16px;
        border: 1px solid #E3E0DC;
      }
    }

    p {
      margin-right: auto;
      font-family: 'EuropaBold';
      font-size: 18px;
      margin-bottom: 0px;
      color: @background_900;
    }

    .rating {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
        .mobile-appear{
          display: none;
        }
      P {
        font-size: 12px;
        margin-bottom: 0px;
        margin-left: 12px;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;

      .main-btn,
      .secondary-btn {
        padding: 0 16px 0 16px;
      }
    }
  }
}
@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .casinos_wrapper{
    .casino{
      padding-left: 16px;
      padding-right: 16px;
      .casino-logo{
        img{
          margin: 0 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .casinos_wrapper{
    margin-top: 0;
    .casino{
      height: 160px;
      padding-bottom: 16px;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .casino-logo{
        img{
          margin: 0 16px;
        }
      }
      .buttons{
        justify-content: space-between;
        width: 100%;
        .main-btn,.secondary-btn{
          width: 160px;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .casinos_wrapper{
    margin-bottom: 32px;
    .casino{
      width: 343px;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-between;
      .casino-logo{
        margin-right: 0px;
      }
      p{
        margin-right: initial;
      }
      p{
        display: none;
      }
      .rating{
        width: 140px;
        margin: 8px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        .mobile-appear {
          width: 100%;
          display: block;
          text-align: left;
          font-size: 18px;
          color: black;
          font-family: 'EuropaBold';
        }
        p{
          margin-left: 0;
          display: initial;
        }
      }
      .buttons{
        .main-btn,.secondary-btn{
          width: 150px;
         
        }
      }
    }
    
  }
}

.latest-news{
  text-align: center;
  margin-top: 64px;
  margin-bottom: 80px;
  h5{
    margin-bottom: 32px;
  }
  p{
    width: 662px;
    margin: 0 auto;
    font-size: 16px;
    color:@background_600;
  }
  &-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    justify-content: space-between;
    .post{
      width: 356px;
      margin-bottom: 36px;
      margin-left: 18px;
      margin-right: 18px;
      img{
        width: 100%;
        height: 200px;
        margin-bottom: 24px;
      }
      h3{
        width: 100%;
        font-family: 'EuropaBold';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        text-align: left;
        /* or 27px */


        /* 🌞 Light/Background/900 */

        color: #151110;
      }
    }
  }
}


@media (max-width: 1200px) {
  .latest-news{
    .latest-news-wrapper{
      .post{
        margin-left: 0;
        margin-right: 0;
        width: 31%;
        img{
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .latest-news {
    .latest-news-wrapper {
      .post {
        
        width: 342px;

        
      }
    }
  }
}

@media (max-width: 768px) {
  .latest-news {
    margin-bottom: 56px;
    margin-top: 56px;
    p{
      width: 100%;
    }
    .latest-news-wrapper {
      margin-top: 56px;
      .post {
        width: 48%;
        h3{
          margin-bottom: 36px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .latest-news {
    margin-bottom: 32px;
    margin-top: 32px;
    p {
      width: 100%;
    }

    .latest-news-wrapper {
      margin-top: 32px;
      .post {
        margin: 0 auto;
       width: 342px;
       h3 {
         margin-bottom: 24px;
       }
      }
    }
    .main-btn{
      margin-bottom: 0;
    }
  }
}






.about-us{
  
  background: #FCF9F5;
  position: relative;
  height: 678px;
  &-wrapper{
    position: relative;
    padding-top: 72px;
    .content{
      width: 552px;
      
      h2{
        font-family: 'EuropaBold';
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 120%;
        /* or 43px */

        letter-spacing: -0.03em;

        /* 🌞 Light/Background/900 */

        color: #151110;
      }
      p{
        font-size: 16px;
        color:@background_600;
      }
      ul{
        margin: 32px 0;
      }
    }
    .image-1,.image-2{
      position: absolute;
      width: 600px;
      height: 678px;
      .wrapper{
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          
        }
      }
    }
    .image-1{
      top: 0%;
      right: 0;
      .wrapper{
        img{
          border-top-right-radius: 180px;
        }
      }
    }
    .image-2{
      top: 94px;
      right: 0;
      transform: translateX(110px);
     .wrapper{
       img{
          border-bottom-left-radius: 180px;
       }
     }
    }
    .review{
      position: absolute;
      width: 406px;
      height: 232px;
      background: #FFFFFF;
      box-shadow: 0px 23px 36px rgba(26, 15, 13, 0.5);
      backdrop-filter: blur(46px);
      padding: 32px;
      .review-header{
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
          margin-left: 16px;
          margin-right: auto;
          margin-bottom: 0;
          font-size: 18px;
          color: black;
          font-family: 'EuropaBold';
        }
        .tag {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 8px 4px;

          height: 23px;
          background: #FFFFFF;
          border: 1px solid #EBF7F1;
          box-sizing: border-box;
          border-radius: 100px;

          p {
            font-size: 10px;
            margin-bottom: 0;
            margin-left: 4px;
          }
        }
        .green p {
          margin-right: 4px;
          color: #11663D;
        }
      }
    }
    .review-1{
      top: 170px;
      left: 50%;
      transform: translateX(145px);
      border-radius: 24px 0px 24px 24px;
    }
    .review-2{
      top: 425px;
      left: 50%;
      transform: translateX(50px);
      border-radius: 24px 24px 24px 0px;
    }
  }
}

@media (max-width: 1400px) {
  .about-us {
    overflow-x: hidden;
    
    .about-us-wrapper {
      .content {
        width: 450px;
      }

      .image-1 {
        right: 0;
        transform: translateX(-100px);
      }

      .image-2 {
        right: 0;
        transform: none;
      }
    }
  }

}
@media (max-width: 1200px) {
  .about-us{
    height: 1340px;
    background: linear-gradient(#FCF9F5 75%, #FFF 75%);
    .about-us-wrapper{
      .content{
        width: 100%;
      }
      .image-1{
        width: 1200px;
        top: 560px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        .wrapper{
          img{
            border-radius:0px;
          }
        }
      }
      .image-2{
        top: 628px;
        right: 0;
        transform: translateX(150px);
      }
    }
    .review-1{
      top: 634px;
      right: 0;
      transform: none;
    }
    .review-2{
      top: 869px;
      transform: translateX(-250px);
    }
  }
}

@media (max-width: 992px) {
  .about-us{
    overflow-x: hidden;
    height: 1400px;
    .about-us-wrapper {
      
      .image-1 {
        top: 626px;
        height: 688px;
        right: auto;
        left: 0;
        transform: translateX(-15%);
        
      }
      .image-2 {
        top: 680px;
        right: 0;
      }
      .review-1{
        top: 650px;
        right: 0;
        transform: translateX(-150px);
      }
      .review-2{
        top: 936px;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-us{
    height: auto;
    padding-bottom: 100px;
    overflow-y: hidden;
    .about-us-wrapper{
      .content{
        text-align: center;
        ul{
          width: 610px;
          margin-left: auto;
          margin-right: auto;
          li{
            text-align: left;
          }
        }
      }
      .image-1{
        position: static;
        margin-top: 56px;
      }
      .image-2{
        top: 694px;
        transform: translateX(90px);
      }
      .review-1 {
        top: 750px;
        right: 0;
        transform: translateX(-145px);
      }
      .review-2 {
        top: 1006px;
        right: auto;
        left: 0;
        transform: translateX(24px);
      }
    }
  }
}

@media (max-width: 576px) {
  .about-us{
    .about-us-wrapper{
      padding-top: 32px;
      .content{
        text-align: left;
        h2{
          font-size: 24px;
          
        }
        ul{
          width: 342px;
        }
        .main-btn{
          display: block;
          margin: 0 auto;
          margin-bottom: 60px;
        }
      }
      .image-1{
        display: none;
      }
      .image-2{
        position: static;
        height: 662px;
        width: auto;
        transform: translateX(-12px);
        .wrapper{
          img{
            border-radius:0px;
            
            width: auto;
          }
        }
      }
      .review-1,.review-2{
        position: static;
        margin-left: auto;
        margin-right: auto;
        width: 343px;
        height:256px;
        transform: none;
        .review-header{
          .tag{
            width: 100px;
            height:36px;
            p{
              font-size: 10px;
              line-height: 13px;
              margin-left: 8px;
            }
          }
        }
        .review-body{
          p{
            font-size: 16px;
          }
        }
      }
      
      .review-1{
        margin-top: -600px;
        margin-bottom: 36px;
      }
      .review-2{

      }
    }
  }
}










.nessesary-info{
  margin: 64px 0;
  p{
    width: 552px;
    font-size: 16px;
  }
  .info-cards{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    .card{
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      width: 32%;
      height: 172px;
      padding: 24px;
      border-radius: 8px;
      a{
        margin-top: auto;
        margin-bottom: 24px;
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: 'EuropaBold';
      }
      p{
        font-family: 'EuropaRegular';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 0;
      }
    }
    .card-1{
      background-image:url(../img/nessesary-info-bg-1.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .card-2 {
      background-image: url(../img/nessesary-info-bg-2.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .card-3 {
      background-image: url(../img/nessesary-ifo-bg-3.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}


@media (max-width: 992px) {
  .nessesary-info{
    p{
      width: 100%;
    }
    .info-cards{
      .card{
        a {
          margin-bottom: 8px;
        }
        p{
          width: 80%;
          
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .nessesary-info {
    .info-cards {
      display: block;
      .card {
        width: 343px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 16px;
        
        p {
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .nessesary-info{
    margin-bottom: 40px;
    p{
      width: 100%;
    }
    .info-cards{
      .card{
        width: 100%;

      }
    }
  }
}







.ratings{
  position: relative;
  z-index: 5;
  padding-top: 100px;
  text-align: center;
 
  .ratings-bg{
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0;
    width: 100%;
    height: 490px;
    background-image: url(../img/rating-bg.png);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    filter: brightness(0.25);
  }
  h4{
    color: white;
    text-align: left;
  }
  p{
    text-align: left;
    margin-bottom: 32px;
    font-family: 'EuropaRegular';
    font-size: 16px;
    line-height: 24px;
    color: @background_100;
  }
  ul {
    margin-top: 32px;
    padding-inline-start:15px ;
    li {
      color: white;
      text-align: left;
    }
  }
  .row{
    margin-bottom: 72px;
  }
  &-reviews{
    width: 1200px;
   
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    .review-card{
      display: inline-block; 
      background-color: #fff;
      box-shadow: 0px 23px 36px rgba(26, 15, 13, 0.08);
      border-radius: 24px 24px 24px 0px;
      padding: 32px 24px 32px 24px;
      width: 258px;
      height: 224px;
      box-sizing: border-box;
      text-align: center;
      .rating{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
          font-size: 12px;
          margin: 0;
          margin-left: 12px;
          color: @background_600;
          
        }
      }
      p{
        font-family: 'EuropaRegular';
        font-size: 14px;
        line-height: 21px;
        margin-top: 16px;
        color: @background_600;
      }
    }
  }
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .ratings{
    overflow-x:hidden;
    .ratings-bg{
      height: 560px;
    }
    &-reviews{
       justify-content: start;
       align-items: center;
       white-space: nowrap;
       position: relative;
       overflow-x: scroll;
       overflow-y: visible;
       -webkit-overflow-scrolling:auto;
       padding-bottom: 100px;
       margin-bottom: 0;
       .review-card{
        margin-right: 36px;
         white-space: normal;
       }
    }
    
  }
}

@media (max-width: 992px) {
  .ratings{
    .row{
      margin-bottom: 56px;
    }
    .ratings-bg{
      height: 700px;
    }
    
  }
}

@media (max-width: 768px) {
  .ratings{
    .ratings-bg {
      height: 650px;
    }
  }
}

@media (max-width: 576px) {
  .ratings {
    .ratings-bg {
      height: 730px;
    }
    .main-btn,.secondary-btn{
      margin-top: -56px;
      margin-bottom: 32px;
    }
  }
}






.how-to-find{
  margin-bottom: 72px;
  position: relative;
  overflow-x: hidden;
  .how-to-find-wrapper{
    position: relative;
    .image-1 {
      position: absolute;
      top: 0%;
      right: 0%;
      width: 454px;
      height: 627px;
      z-index: 5;
      border-radius: 0px 80px;
      overflow: hidden;
      .rotate-wrapper{
        z-index: 100;
        width: 160%;
        height: 120%;
        background-image:url(../img/how-to-find-1.jpg);
        background-position: left 27% center;
        background-size:cover;
        background-repeat:no-repeat;
        transform:translate(-120px,-50px) rotate(-9deg) ;
      }
      
    }
    .image-2 {
      position: absolute;
      top:180px;
      right: -150px;
      width: 468px;
      height: 861px;
      z-index: 1;
      border-radius: 80px 0px;
      background-image:url(../img/how-to-find-2.jpg);
      background-position:center center;

    }
  }
  
    margin-top: 72px;
    // width: 552px;
    h4{
      margin-top: 64px;
    }  
    h5{
      font-size: 18px;
      margin-bottom: 16px;
    }
    p{
      font-size: 14px;
      line-height: 150%;
    }
    .featured-image{
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #FCF9F5;
      border-radius: 32px;
      img{
        height: 25px;
        width: 25px;
      }
    }
  
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .how-to-find{
    .how-to-find-wrapper{
      
      display: flex;
      flex-direction: column;
      .image-1{
        position: static;
        border-radius:0px;
        width: 150%;
        height: 376px;
        transform: translateX(-150px);
        order: 5;
        
        .rotate-wrapper{
          width: 100%;
          height:100%;
          transform: rotate(0) translate(0);
          background-position: center center;
        }
      }
      .image-2{
        display: none;
      }
      .row-2,.row-3{
        
        p{
          width: 100%;
        }
      }
    }
    
  }
}

@media (max-width: 768px) {
  .how-to-find{
    .how-to-find-wrapper{
      .image-1{
        order: 1;
        width: 160%;
        .rotate-wrapper{
        }
      }
      .row-1{
        order: 2;

      }
      .row-2{
        text-align: center;
        order: 3;
        .featured-image{
          margin-left: auto;
          margin-right: auto;
        }
      }
      .row-3{
        text-align: center;
        order: 4;
        .featured-image{
          margin-left: auto;
          margin-right: auto;
        }
      }

    }
    
  }
}

@media (max-width: 576px) {
  .how-to-find {
    .how-to-find-wrapper {
      .image-1 {
        order: 10;
        width: calc(115%);
        height: 180px;
        transform: translateX(-15px);
        .rotate-wrapper {
          width: 100%;
          background-position:  18%;
        }
      }
    }
  }
}


.law{
  position: relative;
  overflow-x: hidden;
  .container{
    position: relative;
    z-index: 5;
    .bg-image-1 {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(150px);
      width: 604px;
      height: 826px;
      z-index: 1;
      border-radius: 0px 0px 0px 180px;
      background-image: url(../img/law-bg.jfif);
      background-position: center center;
      background-size: cover;
    }
  }
  .row-1{
    p{
      font-size: 16px;
    }
  }
  .row-2{
    p{
      font-size: 16px;
    }
  }
  h5{
    margin-bottom: 32px;
  }
  .registration {
    margin-top: 72px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
    &-card {
      position: relative;
      z-index: 5;
      width: 258px;
      height: 335px;
      padding: 0px 0px 24px 24px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;
      h3{
        font-size: 24px;
        color: white;
      }
      p{
        font-size: 16px;
        color: white;
      }
      .bg-img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        text-align: right;
        img{
          height: 100%;
          width: auto;
          filter: brightness(0.5);
          transform: translateX(-25%);
        }
      }
    } 
  }
  .payments{
    
    margin-top: 32px;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .line-breaker{
      display: none;
    }
  }
  .secondary-btn{
    margin-bottom: 64px;
  }
  .column{
    h3{
      font-size:18px;
    }
    line-height: 27px;
    p{
      font-size: 14px;
      line-height: 150%;
      color: @background_600;
    }
  }
  
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {
  .law{
    .container{
      .bg-image-1{
        transform: translateX(250px);
      }
    }
  }
}

@media (max-width: 992px) {
  .law{
    .container{
      display: flex;
      flex-direction: column;
      .bg-image-1{
        display: none;
        position: static;
        width: 150%;
        height: 376px;
        margin-bottom: 32px;
        transform: translateX(-145px);
        border-radius:0px;
        order: 2;
      }
      .row-1{
        order: 1;
        p{
          font-size: 16px;
        }
      }
      .row-2{
        order: 3;
        font-size: 16px;
      }
      .row-3{
        order: 4;
      }
      .registration{
        justify-content: space-between;
        &-card{
          width: 45%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .law{
    h5{
      font-size: 24px;
    }
    
    
  }
  
}

@media (max-width: 576px) {
  .law{
    .payments {
      flex-wrap: wrap;
      margin-bottom: 32px;
      .payment{
        margin-bottom: 16px;
        
      }
      .line-breaker{
        display: block;
        width: 100%;
        height: 1px;
        background:white;
      }
    }
    .row-1{
      .registration{
        flex-direction: column;
        align-items: center;
        &-card{
          width: 100%;
          margin-bottom: 32px;
          .main-btn {
            width: initial;
            margin-left: 0;
          }
        }
      }
    }
    .row-2{
      .secondary-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}





.cta{
  position: relative;
  z-index: 5;
  padding-bottom: 110px;
  text-align: center;
  overflow: hidden;
  .bg-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    background-image: url(../img/cta-main.png);
    background-size:cover;
    background-position: center center;
    filter: brightness(0.25);
  }
  h4{
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 750px;
    
  }
  p{
    font-family: 'EuropaRegular';
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 32px;
    width: 662px;
    color: #E3E0DC;
    line-height:24px ;
  }
 .secondary-btn{
    color: white;
  }
}
.white{
  h4,.h5{
    color: black;
  }
  p{
    color: #545351;
  }
}



@media (max-width: 768px) {
  .cta{
    p{
      width: 90%;
    }
    h4 {
      font-size: 36px;
      width: 90%;

    }
  }
}

@media (max-width: 576px) {
  .cta{
    padding-bottom: 40px;
    h4{
      margin-top: 40px;
    }
  }
}







.faq{
  text-align:center;
  padding: 64px 0;
  background: #FCF9F5;
  h5{
    margin-bottom: 32px;
  }
  p{
    font-size: 18px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .accordion{
    margin-top:64px;
    margin-bottom: 64px;
    &-item{
      box-shadow: 0px 2px 6px rgba(21, 17, 16, 0.08);
      border-radius: 8px;
      margin-bottom: 16px;
      background-color: #fff;
      border: none;
      .accordion-header{
        border-radius: 8px;
        &:focus {
          outline: none;
        }
      }
      h2{
        outline: none;
        border-radius: 8px;
        border: none;
      }
      .accordion-body{
        font-family: 'EuropaRegular';
      }
      .accordion-button{
        height: 72px;
        outline: none;
        border: none;
        background: #fff;
        border-radius: 8px;
        line-height: 150%;
        &:focus{
          outline: none;
        }
      }
      .accordion-button:not(.collapsed){
        background:white;
        color: black;
      }
      .accordion-body{
        text-align: left;
      }
    }
    .accordion-button::after{
      height: 40px;
      width: 40px;
      border: 1px solid #E3E0DC;
      border-radius: 20px;
      line-height: 40px;
      background-image: url(../img/accordion-arrow.svg);
      background-position: center center;
    }
  }
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .faq{
    p{
      width: 100%;
    }
  }
}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
  .faq{
    p{
      width: 70%;
      margin-left:auto;
      margin-right: auto;
    }
    .accordion{
      &-item{
        .accordion-button{

        }
      }
    }
  }
}





.straight{
  position: relative;
  margin-top: 96px;
  margin-bottom: 96px;
  overflow-x: hidden;
  overflow-y: visible;
  
  .container{
    position: relative;
    z-index: 5;
    .bg-image {
      position: absolute;
      top: -136px;
      right: -150px;
      z-index: -1;
    }
  }
  h4{
    width: 552px;
  }
  
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .straight{
    .bg-image{
      right: -50px;
    }
  }
}

@media (max-width: 576px) {
  .straight{
    .bg-image{
      display: none;
    }
    h4{
      font-size: 24px;
      width: 100%;
    }
    p{
      font-size: 16px;
    }
  }
}








.footer{
  background:#000000;
  padding-top: 64px;
  .container{
    position: relative;
  }
  img{
    width: 180px;
    margin-bottom: 36px;
  }
  p{
    font-family: 'EuropaRegular';
    font-size: 14px;
    max-width: 210px;
    color: @background_400;
  }
  .menu-header{
    font-size: 16px;
  }
  ul{
    padding-inline-start: 0px;
    li{
      list-style: none;
      margin-bottom: 16px;
      a{
        font-size: 16px;
        
        text-decoration: none;
        font-family: 'EuropaBold';
        color: white;
      }
    }
    margin-bottom: 100px;
  }
  .row{
    border-bottom: 1px solid #1C1B1B;
  }
  .logos{
    width: 520px;
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    .logos-wrapper{
      width: 320px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        height: 24px;
        width: auto;
        margin-bottom: 0;
      }
    }
    p{
      font-size: 12px;
      line-height: 24px;
      vertical-align: middle;
      color: @background_600;
      margin-bottom: 0;
    }
  }
  .to-top{
    position: absolute;
    right: 0;
    bottom:45px;
    transform: translateY(50%);
  }
}
@media (max-width: 768px) {
  
  .footer{
    text-align: center;
    padding-bottom: 56px;
    p{
      max-width: initial;
    }
    .logos {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 36px;

      .logos-wrapper {
        width: 100%;
        justify-content: space-evenly;
      }

      p {
        width: 100%;
      }
    }
    .menu-header {
      width: 100%;
      max-width: initial;
    }
    .to-top{
      bottom:-16px;
      right: 16px;
    }
  }
}

@media (max-width: 576px) {
  .footer{
    padding-bottom: 72px;
    .logos{
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
      .logos-wrapper{
        width: 100%;
        justify-content: space-evenly;
      }
      p{
        width: 100%;
      }
    }
  }
}

.game-categories-hero{
  text-align: center;
  
  .game-categories{
    margin-top: 64px;
    &-wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 64px;
      .category-card{
        width: 356px;
        min-height: 527;
        margin-bottom: 36px;
        overflow:hidden;
        border-radius: 8px;
        box-shadow: 0px 2px 6px rgba(21, 17, 16, 0.08);
        .card-header{
          position: relative;
          overflow: hidden;
          height: 147px;
          padding: 0;
          border-radius: 8px 8px 0px 0px;
          background: linear-gradient(99.78deg, #11BA69 -24.07%, #13683F 100%);
          .bg-large {
            width: 100%;
            height: 100%;
            
          }
          .bg-small{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
        }
        .card-body{
          padding: 24px;
          p {
            font-size: 14px;
            height: 200px;
          }
          .card-body-header{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            .tag {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 6px 8px 4px;
              margin-left: 16px;
              min-width: 112px;
              height: 25px;
              left: 106px;
              top: 0px;
              background: #FDEEEB;
              border: 1px solid #EBF7F1;
              box-sizing: border-box;
              border-radius: 100px;

              p {
                font-size: 10px;
                margin-bottom: 0;
                color: #943838;
                margin-left: 6px;
              }
            }
            .yellow{
              background: #FFFAEC;
              p{
                color: #80641E;
                padding: 0;
                margin: 0;
              }
            }
            p {
              height: auto;
              margin-bottom: 0;
              font-family: 'EuropaBold';
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 120%;
              color: #151110;
            }
          }
          
        }
      }
    }
  }
}



@media (max-width: 1200px) {
  .game-categories-hero{
    .game-categories{
      .game-categories-wrapper{
        justify-content: space-evenly;
        .category-card{
         
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .game-categories-hero {
    .game-categories {
      .game-categories-wrapper {
        justify-content: space-between;

        .category-card {
          width: 342px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .game-categories-hero {
    .game-categories {
      .game-categories-wrapper {
        justify-content: space-evenly;

        .category-card {
          width: 342px;
          .card-body{
            .main-btn{
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {}

.live-casinos{
  
  &-wrapper{
    display: flex;
    justify-content: space-between;
    .live-casino{
      box-shadow: 0px 2px 6px rgba(21, 17, 16, 0.08);
      border-radius: 24px 0px 24px 0px;
      width: 258px;
      height: 382px;
      .casino-header{
        height: 128px;
        background: #E13E3E;
        border-radius: 24px 0px 0px 0px;
        .tag {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 6px 8px 4px;
          margin-left: 16px;
          width: 112px;
          height: 25px;
          left: 106px;
          top: 0px;
          background: #FDEEEB;
          border: 1px solid #EBF7F1;
          box-sizing: border-box;
          border-radius: 100px;

          p {
            font-size: 10px;
            margin-bottom: 0;
            color: #943838;
            margin-left: 6px;
          }
        }
      }
      .casino-body{
        text-align: center;
      }
      .casino-buttons{
        text-align: center;
        .main-btn,.secondary-btn{
          padding: 0 16px 0 16px;
        }
      }
    }
  }
}







//media queries templates
@media (max-width: 1400px) {
 
}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}