/* table of content - start
================================================== */
/* 
* Project Name   :  Borne - Agency Portfolio Template
* File           :  CSS Base
* Version        :  1.0.0
* Last change    :  Friday, 28 May 2021
* Author         :  wp_studio
* Developer      :  webrok (https://www.fiverr.com/webrok)

==================================================

1 - Template Global Settings
	1.1 - Template Fonts
	1.2 - Template Global Reset

2 - Template Elements
	2.1 - Template colors
	2.2 - BackToTop Button Style
	2.3 - Preloader Style
	2.4 - Template Spacing Settings
	2.5 - Template Decoration Settings
	2.6 - Template Button Style
	2.7 - Order & Unordered List Settings
	2.8 - Carousel Settings
	2.9 - Title Style
	2.10 - Social Links Style
	2.11 - Form Style
	2.12 - Rating Star Style
	2.13 - Pagination Nav Style
	2.14 - Meta
	2.15 - Tags
	2.16 - Comment
	2.17 - Funfact
	2.18 - CSS Animation
	2.19 - LiveChat

3 - Template Components
	3.1 - Header
	3.2 - Footer
	3.3 - Breadcrumb
	3.4 - Sidebar
	3.5 - Slider
	3.6 - Banner
	3.7 - About
	3.8 - Service
	3.9 - Testimonial
	3.10 - CallToAction
	3.11 - Team
	3.12 - Contact
	3.13 - Portfolio
	3.14 - Blog
	3.15 - Shop
	3.16 - Details
	3.17 - Error
*/
/* table of content - end
================================================== */

// Template Global Settings
@import 'variable';
@import 'mixin';
@import 'fonts';
@import 'reset';

// Template Elements
@import 'elements/color';
@import 'elements/backtotop';
@import 'elements/preloader';
@import 'elements/spacing';
@import 'elements/decoration';
@import 'elements/button';
@import 'elements/list';
@import 'elements/carousel';
@import 'elements/title';
@import 'elements/social';
@import 'elements/form';
@import 'elements/rating';
@import 'elements/pagination';
@import 'elements/meta';
@import 'elements/tags';
@import 'elements/comment';
@import 'elements/funfact';
@import 'elements/animation';
@import 'elements/livechat';

// Template Components
@import 'components/newheader';
@import 'components/header';
@import 'components/footer';
@import 'components/breadcrumb';
@import 'components/sidebar';
@import 'components/slider';
@import 'components/banner';
@import 'components/about';
@import 'components/service';

@import 'components/testimonial';
@import 'components/calltoaction';
@import 'components/team';
@import 'components/contact';
@import 'components/portfolio';
@import 'components/blog';
@import 'components/shop';
@import 'components/details';
@import 'components/error';


@import 'components/my_services';
@import 'components/services_accordion';

// Template Responsive
@import 'responsive';




//services_accordion

.services-accordion {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 50px;
	.accordion-item {
	 	
		.accordion-header {
			border-bottom:none;
			.accordion-button {
				padding: 0;
				border-bottom: none;
				outline: none;
				.blog_simple_layout{
					width: 100%;
					border: none;
					justify-content: space-between;
				}
				&::after{
					justify-self: end;
					width: 2.5rem;
					height: 2.5rem;
					background-image: url(../images/accordion-button.svg);
					background-size: cover;
				}
				.blog_col_1{
					justify-self: end;
				}
				&:not(.collapsed){
					background-color: white;
					border-bottom:none;
					color: black;
					&::after{
						transform: rotate(135deg);
					}
				}
				&:focus{
					outline: none;
					border: none;
					box-shadow: none;
				}
			}
			.collapsed{
				border-bottom: 1px solid black;
			}
		}
		.accordion-collapse{
			border-bottom:1px solid black;
			border-top: none;
		}
		.accordion-body{
			padding: 0;
			padding-bottom: 50px;
			padding-right: 25px;
			border-top:none;
			.blog_simple_layout{
				padding-top: 0;
				.btn_text{
					font-size: 22px;
				}
				border-top:none;
				.btn{
					font-size: 18px;
				}
			}
		}
	}
}
.large-accordion{
	.accordion-item{
		.accordion-header {
			.accordion-button {
				.blog_simple_layout {
					padding-bottom: 50px;
					
					.item_title{
						margin-bottom: 0;
						font-size: 48px;
						line-height: 1;
						font-weight: 500;
					}
				}
			}
		}
		.accordion-body{
			padding-right: 0;
			.blog_simple_layout{
				border-top: 1px solid grey;
				padding-top: 50px;
			}
		}
	}
}
.faq_accordion{
	.accordion-item{
		.accordion-header{
			.accordion-button{
				.blog_simple_layout{
					padding-bottom: 30px;
					padding-top: 35px;
					.item_title {
						margin-bottom: 0;
						line-height: 1;
					}
				}
			}
		}
	}
}


.service-list{
	list-style: none;
	padding-inline-start: 0;
	width: 100%;
	li{
		padding-bottom: 20px;
		width: 100%;
		a{
			display: flex;
			width: 100%;
			justify-content: space-between;
			
			font-size: 24px;
			color: black;
			span{
				margin-right: 50px;
			}
			.service-item-name{
				margin-right: auto;
			}
			svg{
				path{
					fill: white;
					transition: 0.3s;
				}
			}
			
			&:hover{
				svg{
						path {
							fill: black;
							transition: 0.3s;
						}
				}
			}
		}
		
	}
}

.cta_section{
	background-color:black;
	.small_title{
		color: white;
	}
	.line{
		background-color:white;
	}
	.big_title{
		color: white;
	}
	a{
		color: white;
	}
	a:hover{
		color: #5EC8B5;
	}
}
.blog_section_content{
	margin-top: 50px;
}


.development-steps{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	h4{
		font-size: 34px;
		font-weight: 400;
	}
	.development-steps-item{
		width: 48%;
		margin-top: 35px;
	}


}
@media screen and (max-width: 575px){
	.development-steps{
		.development-steps-item{
			width: 100%;
		}
	}

}

@media screen and (max-width: 991px){
	.services-accordion{
		.accordion-item{
			.accordion-header{
				.accordion-button{
					.blog_simple_layout{
						padding-top: 0;
					}
				}
			}
			.accordion-body{
				.blog_simple_layout{
					padding-top: 0;
				}
			}
		}
	}
}