.thin() {
  font-family: 'montserrat_thin';
}

.extralight() {
  font-family: 'montserrat_extralight';
}

.light() {
  font-family: 'montserrat_light';
}

.reg() {
  font-family: 'montserrat_regular';
}

.med() {
  font-family: 'montserrat_medium';
}

.semibold() {
  font-family: 'montserrat_semibold';
}

.bold() {
  font-family: 'montserrat_bold';
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color:@theme-grey;
}

::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}

::-webkit-scrollbar-track {
  background: #242424;
}

::-webkit-scrollbar-thumb {
  background: #5EC8B5;
}

@main-color: #5EC8B5;
@theme-grey: #242424;

//buttons
.btn-main{
  display:block;
  width: 15.625vw; //300
  height: 2.865vw; //55
  margin-bottom: 1rem;
  margin-right: 2rem;
  border: none;
  background: #5EC8B5;
  box-shadow: 9px 9px 72px rgba(94, 200, 181, 0.4);
  border-radius: 1.042vw;
  color:White;
  font-size: 1.042vw;
  .reg();
  &:hover{
    color: black;
  }
}
.ghost-white{
  background: transparent;
  box-shadow:none;
  border: 2px solid white;
  color:White;
  font-size: 1.042vw;
  .reg();
    &:hover {
      background:@main-color;
      border-color: @main-color;
      color: black;
    }
}
.ghost-black {
  background: transparent;
  box-shadow:none;
  border: 2px solid black;
  color:black;
  font-size: 1.042vw;
  .reg();
  &:hover {
    background:@main-color;
    border-color: @main-color;
  }
}
@media(max-width:991px){
  .btn-main{
    // width: 30.272vw;
    // height: 5.550vw;
    width: 300px;
    height: 55px; 
    border-radius:2rem;
    margin-bottom: 2.018vw;
    font-size: 2.018vw;
  }
}
@media(max-width:768px) {
  .btn-main{
    // width: 39.063vw;
    // height: 7.161vw ;
    width: 300px;
    height: 55px;
    margin-bottom: 2.604vw;
    font-size: 2.604vw;
  }
} 
@media(max-width:545px) {
  .btn-main  {
    // width: 55.046vw;
    // height: 10.092vw;
    width: 300px;
    height: 55px;
    margin-bottom: 3.670vw;
    font-size: 4.587vw;
    border-width: 1px;
  }
} 
section {
  background-color: #242424;
  padding-top: 5rem;
  .section-header {
    padding: 0 8.5rem;
    margin-bottom: 5rem;
    position: relative;
    h2 {
      color: white;
      .reg();
      font-size: 2.083vw;
    }
    .line {
      position: absolute;
      height: 2px;
      width: 8.854vw;
      top: 3.125vw; //6rem
      left: 0;
      background-color: #5EC8B5;
    }
  }
}
@media(max-width:991px){
  section {
    .section-header {
      padding: 0 2.083vw;
      margin-bottom: 3rem;
      h2{
        padding-left: 0 2.083vw;
        font-size: 4.036vw; 
      }
      .line{
        top: 6vw;
        width: 17.154vw;
      }
    }
  }
}
@media(max-width:768px) {
  section {
    .section-header {
      padding: 0 2.083vw;
      margin-bottom: 3rem;
      h2 {
        padding-left: 0 2.083vw;
        font-size: 5.208vw;
      }
      .line {
        width: 22.135vw;
        top: 8vw;
      }
    }
  }
}
@media(max-width:545px){
  section {
    .section-header {
      padding: 0 2.083vw;
      margin-bottom: 2rem;
      h2 {
        padding-left: 0 2.083vw;
        font-size: 7.339vw;
      }

      .line {
        width: 31.193vw;
        top: 12vw;
      }
    }
  }
}

.secondary-main{
  background-image: url(../img/services-secondary.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 31.771vw;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  position: relative;
  .main-header{
    padding-top: 1rem;
    p{
      color:white;    
    }
    padding-right: 4rem ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    .descriptor{
      display: flex;
      align-items:center;
      p{
        margin-bottom: 0;
        margin-left: 1.563vw;
        font-size: 0.833vw;
      }
      img{
        width: 5.208vw;
        height: auto;
      }
    }
    .phone{
      display: flex;
      justify-content: space-evenly;
      align-items:center;
      font-size: 0.938vw;
      p{
        margin-bottom: 0;
      }
    }
  }
  .main-content{
    position: absolute;
    top: 50%;
    left:8.5rem;
    transform: translateY(-50%);
    h1{
      font-size: 2.083vw; 
      .reg();
      color:white;
      margin-bottom: 3.125vw;
    }
    h2{
      font-size: 1.302vw;
      .light();
      color:white;
      margin-bottom: 2.083vw;
    }
    button{
      display: inline-block;
    }
  }
}
@media(max-width:991px){
  .secondary-main{
    padding: 0 2.083vw;
    height: 80vh;
    font-weight: 100vw;
    .main-header{
      display: none;
    }
    .main-content{
      left: 2.083vw;
      h1{
        font-size: 4.036vw;
        margin-bottom:4.036vw;
      }
      h2{
        font-size: 2.523vw;
        margin-bottom:4.036vw;
      }
      button{
        display: block;
      }
    }
  }
}
@media(max-width:768px) {
  .secondary-main {
    height: 70vh;
    font-weight: 100vw;
    .main-content {
      h1 {
        font-size: 5.208vw; //40px
        margin-bottom: 5.208vw;
      }

      h2 {
        font-size: 3.255vw; //25px
        margin-bottom: 5.208vw;
      }
    }
  }
}
@media(max-width:545px) {
  .secondary-main {
    height: 100vh;
    font-weight: 100vw; 
    .main-content {
      left: 0;
      text-align: center;
      h1 {
        font-size: 7.339vw;
         margin-bottom: 7.339vw;
      }

      h2 {
        font-size: 4.587vw;
        margin-bottom: 7.339vw;
        padding: 0 3rem;
      }
      button{
        display: inline-block;
      }
      .btn-main,.btn-ghost-white{
        margin-bottom: 4.587vw;
      }
    }
  }
}
.all-services {
  background-color: #242424;
  &-container {
    padding-right: 8.5rem;
    display: flex;
    flex-wrap: wrap;

    .service {
      width: 33.33%;
      padding-left: 8.5rem;
      padding-right: 2.083vw;
      padding-bottom: 1.563vw;
      padding-top: 1.563vw;
      transition: 2s;
      cursor: default;
      &-info {
        margin-bottom: 6rem;

        h3 {
          color: white;
          font-size: 1.563vw;
          .light();
          margin-bottom: 1.042vw;
        }
        p {
          color: white;
          display: inline-block;
          font-size: 0.833vw; //16px
          .light();
          width: 80%;
        }
      }
      &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 1.563vw;
          color: white;
          .reg();
        }

        a {
          font-size: 1.042vw;
          color: white;
          text-decoration: none;
          .light();
        }
      }
    }

    .service:hover {
      background-color: #5EC8B5;
      transition: 2s;

      .service-info {

        h3,
        p {
          color: #242424;
        }
      }

      .service-nav {

        span,
        a {
          color: #242424;
        }
      }
    }
  }
}

@media(max-width:991px){
  .all-services{
    &-container{
      padding-right:0;
      .service{
        width: 50%;
        
        padding:4.036vw 2.083vw;
        &-info{
          margin-bottom: 3.027vw;
          h3{
            font-size: 3.027vw;
          }
          p{
            width: 80%;
            font-size: 1.816vw;
          }
        }
        &-nav{
          span{
            font-size: 3.027vw;
          }
          a{
            font-size: 1.816vw;
          }
        }
      }
    }
  }
}
@media(max-width:768px) {
  .all-services {
    &-container {
      padding-right: 0;
      .service {
        width: 50%;
        padding:5.208vw 2.604vw;
        &-info {
          margin-bottom: 3rem;
          h3 {
            font-size: 3.027vw;
          }
          p {
            width: 80%;
            font-size: 1.816vw;
          }
        }
        &-nav {
          span {
            font-size: 3.027vw;
          }
          a {
            font-size: 1.816vw;
          }
        }
      }
    }
  }
}
@media(max-width:545px) {
  .all-services {
    &-container {
      padding-right: 0;
      .service {
        width: 100%;
        // padding: 2vw 4vw;
        padding: 2rem 1rem;
        &-info {
          margin-bottom: 2rem;
          h3 {
            font-size: 5.505vw;
            margin-bottom: 2rem;  
          }

          p {
            width: 80%;
            font-size: 3.670vw;
          }
        }
        &-nav {
          span {
            font-size: 4.587vw;
          }
          a {
            font-size: 4.587vw;
          }
        }
      }
    }
  }
}


.works {
  &-container {
    margin-top: 5rem;
    padding-right: 8.5rem;
    padding-left: 8.5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-wrap: wrap;

    .work {
      width: 100%;
      position: relative;
      margin-bottom: 5rem;
      &-bg {
        padding: 0;
        width: 50%;
        height: auto;
      }
      &-hover {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        padding-left: 8.5rem;
        padding-bottom: 2.604vw;
        z-index: 2;
        background: rgba(0, 0, 0, 0.0);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:start;
        &-info {
          h3 {
            margin-bottom: 2rem;
            font-size: 2.083vw;
             color: #5EC8B5;
            .reg();
          }
          p {
            width: 80%;
            margin-bottom: 2rem;
            font-size: 0.833vw;
            color: white;
            .light();
          } 
          .categories{
            margin-bottom: 2rem;
            a {
              width: 300px;
              height: 30px;
              border-radius: 1rem;
              padding: 0.3rem 1rem;
              
              font-size: 0.833vw;
              color: black;
              background-color: @main-color;
              .reg();
              text-decoration: none;
            }
          }
        }

        &-nav {
          width: 80%;
          display: flex;
          justify-content: space-between;
          a {
            color: white;
            text-decoration: none;
            font-size: 1.042vw;
            .light();
          }
        }
      }
    }
    .btn-main{
      display: inline-block;
      margin: 0 auto;
      text-decoration: none ;
      line-height: 55px;
      text-align: center;
    }
  }
}

@media(max-width:991px){
  .works{
    &-container {
      padding: 0  2.083vw;
      padding-bottom: 5rem;
      .work{
       &-hover{
         padding-left: 4.036vw;
       }
      }
    }
  }
}
@media(max-width:768px) {
  .works {
    &-container {
      padding-right: 0;

      .work {
        &-hover-info{
          h3{
            font-size: 3.027vw;
            margin-bottom: 1rem;
          }
          p{
            font-size: 1.816vw;
            margin-bottom: 1rem;
          }
          .categories{
            margin-bottom: 1rem;
          }
        }
        &-hover-nav{
          a{
            font-size: 3.027vw;
          }
        }
      }
    }
  }
}
@media(max-width:545px) {
  .works {
    &-container {
      padding-right: 0;

      .work {}
    }
  }
}


.cta-secondary{
  background-color: white;
  text-align: center;
  margin-bottom: 5.208vw;
  h2{
    font-size: 2.083vw;
    color:black;
    .reg();
  }
  p{
    font-size: 1.042vw;
    .reg();
    margin-bottom: 2.083vw;
  }
  button{
    margin: 0 auto;
  }
  .default-form{
    width: 36.458vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .row{
      width: 49%;
      padding: 0 2.5rem;
      // flex-flow: column wrap;
      .default-form-input {
        height: 1.563vw;
        width: 100%;
        margin-bottom: 2.344vw;
        border: none;
        border-bottom: 1px solid #BBBBBB;
        font-size: 1.042vw;
        line-height: 1.563vw;
      }
      .default-form-textarea {
        height: 9.375vw;
        width: 100%;
        border: none;
        font-size: 1.042vw;
        border-bottom: 1px solid #BBBBBB;
      }
      input:focus, textarea:focus{
        border: none;
        border-bottom: 1px solid #BBBBBB;
        outline: none;
      }
    }
  }
}
@media(max-width:991px) {
  .cta-secondary  {
    h2{
      font-size: 4.036vw;
    }
    p{
      font-size: 2.018vw;
    }
    .default-form{
      // width: 70.636vw;
      width: 70rem;
      margin-bottom: 4rem;
      .row{
        .default-form-input{
          height: 3rem;
          font-size: 2rem;
        }
        .default-form-textarea{
          font-size: 2rem; 
          height: 13.6rem;
        }
      }
    }
  }
}
@media(max-width:768px) {
  .cta-secondary {
    h2 {
      font-size: 4.036vw;
    }
    p {
      font-size: 2.018vw;
      
    }
    .default-form {
      // width: 70.636vw;
      width: 70rem;
      margin-bottom: 4rem;

      .row {
        .default-form-input {
          height: 3rem;
          font-size: 2rem;
        }

        .default-form-textarea {
          font-size: 2rem;
          height: 13rem;
        }
      }
    }
  }
}
@media(max-width:545px) {
  .cta-secondary {
    h2 {
      font-size: 7.339vw;
    }
    p {
      font-size: 3.670vw;
      margin-bottom: 2rem;
    }
    .default-form {
      // width: 70.636vw;
      width: 30rem;
      margin-bottom: 4rem;
      flex-wrap: wrap;
      .row {
        width: 100%;
        padding: 0;
        .default-form-input {
          height: 3rem;
          font-size: 2rem;
        }

        .default-form-textarea {
          font-size: 2rem;
          height: 13.6rem;
        }
      }
    }
  }
}
