
.thin(){
font-family:'montserrat_thin';
}
.extralight(){
font-family:'montserrat_extralight';
}
.light(){
font-family:'montserrat_light';
}
.reg(){
font-family:'montserrat_regular';
}
.med(){
font-family:'montserrat_medium';
}
.semibold(){
font-family:'montserrat_semibold';
}
.bold(){
font-family:'montserrat_bold';
}


@main-color: #5EC8B5;
@theme-grey: #242424;

html {
  font-size: 10px;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #5EC8B5;
}

