@font-face {
  font-family: 'montserrat_extrabold';
  src: url('../fonts/MontserratAlternates-ExtraBold.woff2') format('woff2'), url('../fonts/MontserratAlternates-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_bold';
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'), url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_black';
  src: url('../fonts/MontserratAlternates-Black.woff2') format('woff2'), url('../fonts/MontserratAlternates-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_extralight';
  src: url('../fonts/MontserratAlternates-ExtraLight.woff2') format('woff2'), url('../fonts/MontserratAlternates-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_semibold';
  src: url('MontserratAlternates-SemiBold.woff2') format('woff2'), url('MontserratAlternates-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_medium';
  src: url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'), url('../fonts/MontserratAlternates-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_thin';
  src: url('../fonts/MontserratAlternates-Thin.woff2') format('woff2'), url('../fonts/MontserratAlternates-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_light';
  src: url('../fonts/MontserratAlternates-Light.woff2') format('woff2'), url('../fonts/MontserratAlternates-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'), url('../fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #5EC8B5;
}
.contact-btn {
  display: inline-block;
  color: white;
  border: 1px solid #959595;
  background-color: transparent;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 2.5rem;
  width: auto;
  text-align: center;
  font-family: 'montserrat_regular';
}
.contact-btn:hover {
  color: white;
  text-decoration: none;
}
.portfolio .logo,
.about .logo,
.blog .logo {
  width: 12rem;
}
.portfolio .logo img,
.about .logo img,
.blog .logo img {
  width: 100%;
}
.why-us {
  position: relative;
  background-color: #242424;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.why-us .argument-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.why-us .argument-wrapper .argument {
  display: flex;
  align-items: center;
  margin: 5rem 0;
  padding: 0 1.5rem;
  width: 30%;
  height: 7rem;
  border-left: 2px solid #5EC8B5;
}
.why-us .argument-wrapper .argument h3 {
  color: white;
  font-size: 2.5rem;
  font-family: 'montserrat_light';
}
.how-work {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
  height: auto;
}
.how-work .how-work-content {
  margin: 5rem 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.how-work .how-work-content .stage {
  position: relative;
  width: 25%;
}
.how-work .how-work-content .stage span {
  font-size: 3rem;
  font-family: 'montserrat_medium';
}
.how-work .how-work-content .stage .dot {
  z-index: 10;
  margin: 3rem 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #5EC8B5;
}
.how-work .how-work-content .stage h3 {
  font-size: 2.5rem;
  font-family: 'montserrat_regular';
  min-height: 8rem;
}
.how-work .how-work-content .stage .line {
  position: absolute;
  z-index: -1;
  transform: translateY(8.5rem);
  width: 100%;
  height: 2px;
  background: #242424;
}
.how-work .how-work-content .stage p {
  font-size: 2rem;
  padding-right: 2rem;
}
.full {
  position: relative;
}
.btn-main {
  display: block;
  width: 15.625vw;
  height: 2.865vw;
  margin-bottom: 1rem;
  margin-right: 2rem;
  border: none;
  background: #5EC8B5;
  box-shadow: 9px 9px 72px rgba(94, 200, 181, 0.4);
  border-radius: 1.042vw;
  color: White;
  font-size: 1.042vw;
  font-family: 'montserrat_regular';
}
.btn-main:hover {
  color: black;
}
.ghost-white {
  background: transparent;
  box-shadow: none;
  border: 2px solid white;
  color: White;
  font-size: 1.042vw;
  font-family: 'montserrat_regular';
}
.ghost-white:hover {
  background: #5ec8b5;
  border-color: #5ec8b5;
  color: black;
}
.ghost-black {
  background: transparent;
  box-shadow: none;
  border: 2px solid black;
  color: black;
  font-size: 1.042vw;
  font-family: 'montserrat_regular';
}
.ghost-black:hover {
  background: #5ec8b5;
  border-color: #5ec8b5;
}
@media (max-width: 991px) {
  .btn-main {
    width: 300px;
    height: 55px;
    border-radius: 2rem;
    margin-bottom: 2.018vw;
    font-size: 2.018vw;
  }
}
@media (max-width: 768px) {
  .btn-main {
    width: 300px;
    height: 55px;
    margin-bottom: 2.604vw;
    font-size: 2.604vw;
  }
}
@media (max-width: 545px) {
  .btn-main {
    width: 300px;
    height: 55px;
    margin-bottom: 3.670vw;
    font-size: 4.587vw;
    border-width: 1px;
  }
}
section {
  background-color: #242424;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section .section-header {
  padding: 0 8.5rem;
  margin-bottom: 5rem;
  position: relative;
}
section .section-header h2 {
  color: white;
  font-family: 'montserrat_regular';
  font-size: 2.083vw;
}
section .section-header .line {
  height: 2px;
  width: 17rem;
  margin-top: 2rem;
  transform: translateX(-8.5rem);
  background-color: #5EC8B5;
}
@media (max-width: 991px) {
  section .section-header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  section .section-header h2 {
    padding-left: 0 2.083vw;
    font-size: 4.036vw;
  }
  section .section-header .line {
    width: 10.5rem;
    transform: translateX(-2.5rem);
  }
}
@media (max-width: 768px) {
  section .section-header {
    padding: 0 3rem;
  }
  section .section-header h2 {
    padding-left: 0 2.083vw;
    font-size: 5.208vw;
  }
  section .section-header line {
    width: 10.5rem;
    transform: translateX(-2.5rem);
  }
}
@media (max-width: 545px) {
  section .section-header {
    padding: 0 2rem;
  }
  section .section-header h2 {
    padding-left: 0 2.083vw;
    font-size: 7.339vw;
  }
  section .section-header .line {
    width: 10.5rem;
    transform: translateX(-2rem);
  }
}
.secondary-main {
  background-image: url(../img/services-secondary.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 31.771vw;
  padding-left: 8.5rem;
  padding-right: 8.5rem;
  position: relative;
}
.secondary-main .main-header {
  padding-top: 1rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondary-main .main-header p {
  color: white;
}
.secondary-main .main-header .descriptor {
  display: flex;
  align-items: center;
}
.secondary-main .main-header .descriptor p {
  margin-bottom: 0;
  margin-left: 1.563vw;
  font-size: 0.833vw;
}
.secondary-main .main-header .descriptor img {
  width: 5.208vw;
  height: auto;
}
.secondary-main .main-header .phone {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.938vw;
}
.secondary-main .main-header .phone p {
  margin-bottom: 0;
}
.secondary-main .main-content {
  position: absolute;
  top: 50%;
  left: 8.5rem;
  transform: translateY(-50%);
}
.secondary-main .main-content h1 {
  font-size: 2.083vw;
  font-family: 'montserrat_regular';
  color: white;
  margin-bottom: 3.125vw;
}
.secondary-main .main-content h2 {
  font-size: 1.302vw;
  font-family: 'montserrat_light';
  color: white;
  margin-bottom: 2.083vw;
}
.secondary-main .main-content button {
  display: inline-block;
}
.secondary-main .main-content p {
  font-size: 1.042vw;
  color: white;
  margin-top: 2rem;
  font-family: 'montserrat_light';
}
@media (max-width: 991px) {
  .secondary-main {
    padding: 0 2.083vw;
    height: 80vh;
    font-weight: 100vw;
  }
  .secondary-main .main-header {
    display: none;
  }
  .secondary-main .main-content {
    left: 2.083vw;
  }
  .secondary-main .main-content h1 {
    font-size: 4.036vw;
    margin-bottom: 4.036vw;
  }
  .secondary-main .main-content h2 {
    font-size: 2.523vw;
    margin-bottom: 4.036vw;
  }
  .secondary-main .main-content button {
    display: block;
  }
}
@media (max-width: 768px) {
  .secondary-main {
    height: 70vh;
    font-weight: 100vw;
  }
  .secondary-main .main-content h1 {
    font-size: 5.208vw;
    margin-bottom: 5.208vw;
  }
  .secondary-main .main-content h2 {
    font-size: 3.255vw;
    margin-bottom: 5.208vw;
  }
}
@media (max-width: 545px) {
  .secondary-main {
    height: 100vh;
    font-weight: 100vw;
  }
  .secondary-main .main-content {
    left: 0;
    text-align: center;
  }
  .secondary-main .main-content h1 {
    font-size: 7.339vw;
    margin-bottom: 7.339vw;
  }
  .secondary-main .main-content h2 {
    font-size: 4.587vw;
    margin-bottom: 7.339vw;
    padding: 0 3rem;
  }
  .secondary-main .main-content button {
    display: inline-block;
  }
  .secondary-main .main-content .btn-main,
  .secondary-main .main-content .btn-ghost-white {
    margin-bottom: 4.587vw;
  }
}
.steps {
  background-color: #242424;
}
.steps-container {
  padding: 0 8.5rem;
  display: flex;
  flex-wrap: wrap;
}
.steps-container .step {
  display: flex;
  position: relative;
  width: 33.33%;
  padding-right: 2.083vw;
  padding-bottom: 1.563vw;
  padding-top: 1.563vw;
  transition: 2s;
  cursor: default;
}
.steps-container .step .side-line {
  position: relative;
  width: 2.604vw;
  border-left: 1px solid #5ec8b5;
  margin-right: 2.604vw;
}
.steps-container .step .side-line .mid-line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #5ec8b5;
}
.steps-container .step .two,
.steps-container .step .three,
.steps-container .step .five,
.steps-container .step .six {
  border: none;
}
.steps-container .step-info {
  z-index: 10;
}
.steps-container .step-info h3 {
  width: 90%;
  color: white;
  font-size: 1.563vw;
  font-size: 1.302vw;
  font-family: 'montserrat_medium';
  margin-bottom: 1.042vw;
}
.steps-container .step-info ul {
  width: 90%;
}
.steps-container .step-info ul li {
  color: white;
  font-size: 0.833vw;
  font-family: 'montserrat_light';
}
@media (max-width: 991px) {
  .steps-container {
    padding: 0 2.083vw;
  }
  .steps-container .step {
    width: 50%;
    padding: 4.036vw 0;
  }
  .steps-container .step .side-line {
    width: 5.045vw;
    margin-right: 5.045vw;
  }
  .steps-container .step .side-line .mid-line {
    width: 5.045vw;
  }
  .steps-container .step .three,
  .steps-container .step .five {
    border-left: 1px solid #5ec8b5;
  }
  .steps-container .step .four {
    border: none;
  }
  .steps-container .step-info h3 {
    width: 100%;
    font-size: 3.027vw;
  }
  .steps-container .step-info ul {
    width: 100%;
  }
  .steps-container .step-info ul li {
    font-size: 1.816vw;
  }
}
@media (max-width: 768px) {
  .steps-container {
    padding: 0 2.604vw;
  }
  .steps-container .step {
    width: 50%;
    padding: 5.208vw 0;
  }
  .steps-container .step .number {
    font-size: 8vw;
  }
  .steps-container .step-info {
    margin-bottom: 3rem;
  }
  .steps-container .step-info h3 {
    font-size: 3.027vw;
  }
  .steps-container .step-info p {
    width: 90%;
    font-size: 1.816vw;
  }
}
@media (max-width: 545px) {
  .steps-container {
    padding-right: 0;
  }
  .steps-container .step {
    width: 100%;
    padding: 2rem 0;
  }
  .steps-container .step .side-line {
    border: none;
  }
  .steps-container .step-info h3 {
    font-size: 5.505vw;
    margin-bottom: 2rem;
    color: white;
  }
  .steps-container .step-info ul {
    width: 90%;
  }
  .steps-container .step-info ul li {
    font-size: 3.670vw;
  }
  .steps-container .step-nav span {
    font-size: 4.587vw;
  }
  .steps-container .step-nav a {
    font-size: 4.587vw;
  }
}
.description {
  background-color: white;
}
.description .section-header h2 {
  color: black;
  width: 40%;
  font-size: 1.302vw;
  font-family: 'montserrat_regular';
}
.description .section-header .line {
  top: 3.646vw;
}
.description .description-container {
  width: 100%;
  padding-left: 8.5rem;
  padding-right: 17rem;
  display: flex;
  align-items: center;
}
.description .description-container p {
  width: 40%;
  color: black;
  font-size: 1.042vw;
  margin-right: auto;
}
.description .description-container .btn-main,
.description .description-container .ghost-black {
  justify-self: flex-end;
}
@media (max-width: 991px) {
  .description .section-header h2 {
    font-size: 2.523vw;
    width: 60%;
  }
  .description .description-container {
    padding: 0 2.083vw;
    display: block;
  }
  .description .description-container p {
    width: 50%;
    font-size: 2rem;
  }
}
.steps-cta {
  position: relative;
  padding: 9.375vw 0 2.604vw 0;
}
.steps-cta-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.steps-cta-container h3 {
  color: white;
  font-size: 1.302vw;
  font-family: 'montserrat_light';
}
.steps-cta .arrow {
  position: absolute;
  width: 4.427vw;
  height: 13.906vw;
  right: 15vw;
  top: -30%;
}
@media (max-width: 991px) {
  .steps-cta {
    padding-top: 7vw;
  }
  .steps-cta-container {
    width: 90%;
  }
  .steps-cta-container h3 {
    font-size: 1.816vw;
  }
  .steps-cta-container .btn-main {
    font-size: 2vw;
  }
  .steps-cta .arrow {
    top: -50%;
  }
}
@media (max-width: 768px) {
  .steps-cta {
    padding-top: 1vw;
    padding-bottom: 10vw;
  }
  .steps-cta-container {
    width: 80%;
  }
  .steps-cta-container h3 {
    font-size: 1.816vw;
    padding-bottom: 5vw;
    padding-right: 0.5rem;
  }
  .steps-cta-container .btn-main {
    font-size: 2vw;
  }
  .steps-cta .arrow {
    width: 6vw;
    right: 5vw;
    top: -80%;
    height: auto;
  }
}
@media (max-width: 545px) {
  .steps-cta-container {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .steps-cta-container h3 {
    text-align: center;
    font-size: 3.670vw;
    padding-bottom: 5vw;
  }
  .steps-cta-container .btn-main {
    font-size: 3.670vw;
  }
  .steps-cta .arrow {
    width: 12vw;
    right: 5vw;
    top: -30%;
    height: auto;
  }
}
.price-list {
  position: relative;
}
.price-list .price-table {
  padding: 0 8.5rem;
  margin: 10rem auto;
  width: 100%;
}
.price-list .price-table .line {
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #5ec8b5;
  display: flex;
  flex-wrap: nowrap;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}
.price-list .price-table .line p {
  color: white;
  font-size: 2.5rem;
  font-family: 'montserrat_regular';
  padding: 0;
  margin: 0;
}
.price-list .price-table .line .type {
  color: white;
  width: 35%;
  font-family: 'montserrat_regular';
}
.price-list .price-table .line .price {
  color: white;
  width: 25%;
  font-family: 'montserrat_regular';
}
.price-list .price-table .line .time {
  color: white;
  width: 30%;
}
.price-list .price-table .line h3,
.price-list .price-table .line p {
  font-family: 'montserrat_medium';
}
.price-list .price-table .header {
  display: flex;
  align-items: center;
}
.price-list .price-table .header h3 {
  font-size: 3rem;
  font-family: 'montserrat_regular';
  padding: 0;
  margin: 0;
}
.price-list p {
  font-size: 1.5rem;
  padding: 0 1rem;
}
@media (max-width: 991) {
  .price-list {
    margin-right: 0;
  }
  .price-list .price-table {
    margin: 6rem 0;
  }
  .price-list .price-table .header h3 {
    font-size: 2rem;
  }
  .price-list .price-table .line p {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .price-list {
    margin-right: 0;
    padding: 2rem 4rem;
  }
  .price-list .price-table {
    margin: 4rem 0;
  }
}
@media (max-width: 545px) {
  .price-list {
    margin-right: 0;
    padding: 4rem 0rem;
  }
  .price-list .price-table .header h3 {
    font-size: 1.8rem;
  }
  .price-list .price-table .line p {
    font-size: 1.8rem;
  }
}
.success-components-container {
  padding: 0 8.5rem 0 8.5rem;
  display: flex;
  align-items: center;
}
.success-components-container .success-image {
  width: 30%;
  height: auto;
}
.success-components-container .fork {
  width: 70%;
  height: auto;
  margin-left: 1.042vw;
  display: flex;
}
.success-components-container .fork-left {
  margin: 4vw 0;
  width: 12vw;
  position: relative;
  display: flex;
  border-right: 1px solid #5ec8b5;
}
.success-components-container .fork-left .center-line {
  position: absolute;
  top: 50%;
  transform: translateY(-1px);
  width: 100%;
  height: 1px;
  background-color: #5ec8b5;
}
.success-components-container .fork-right {
  width: 5.208vw;
  margin: 4vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.success-components-container .fork-right .line {
  width: 100%;
  height: 1px;
  background-color: #5ec8b5;
}
.success-components-container .fork-content {
  display: flex;
  width: 100%;
  padding-left: 2.083vw;
  flex-wrap: wrap;
  align-items: center;
}
.success-components-container .fork-content .line {
  width: 10%;
  height: 1px;
  background-color: #5ec8b5;
}
.success-components-container .fork-content .component {
  width: 90%;
  margin: 1.3vw 0;
}
.success-components-container .fork-content .component h3 {
  color: white;
  font-family: 'montserrat_regular';
  font-size: 1.302vw;
  margin-bottom: 1.042vw;
}
.success-components-container .fork-content .component p {
  font-size: 0.938vw;
  font-weight: 300;
  color: white;
}
.stages {
  background-color: #242424;
}
.stages-container {
  padding: 0 8.5rem;
  display: flex;
  flex-wrap: wrap;
}
.stages-container .stage {
  display: flex;
  position: relative;
  width: 33.33%;
  padding-left: 8.5rem;
  padding-right: 2.083vw;
  padding-bottom: 1.563vw;
  padding-top: 1.563vw;
  transition: 2s;
  cursor: default;
}
.stages-container .stage .number {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -25%);
  z-index: 1;
  font-family: 'montserrat_bold';
  font-style: normal;
  font-weight: 900;
  font-size: 6vw;
  color: rgba(0, 0, 0, 0.35);
}
.stages-container .stage-info {
  margin-bottom: 6rem;
  z-index: 10;
}
.stages-container .stage-info h3 {
  color: white;
  font-size: 1.563vw;
  font-family: 'montserrat_light';
  margin-bottom: 1.042vw;
}
.stages-container .stage-info p {
  color: white;
  display: inline-block;
  font-size: 0.833vw;
  font-family: 'montserrat_light';
  width: 80%;
}
.stages-container .stage-info p b {
  color: #5ec8b5;
}
@media (max-width: 991px) {
  .stages-container {
    padding: 0 2.083vw;
  }
  .stages-container .stage {
    width: 50%;
    padding: 4.036vw 2.083vw;
    padding-left: 6vw;
  }
  .stages-container .stage .number {
    font-size: 8vw;
    transform: translate(10%, -5%);
  }
  .stages-container .stage-info {
    margin-bottom: 3.027vw;
  }
  .stages-container .stage-info h3 {
    font-size: 3.027vw;
  }
  .stages-container .stage-info p {
    width: 90%;
    font-size: 1.816vw;
  }
}
@media (max-width: 768px) {
  .stages-container {
    padding: 0;
  }
  .stages-container .stage {
    width: 50%;
    padding: 5.208vw 2.604vw;
    padding-left: 5.208vw;
  }
  .stages-container .stage .number {
    font-size: 8vw;
  }
  .stages-container .stage-info {
    margin-bottom: 3rem;
  }
  .stages-container .stage-info h3 {
    font-size: 3.027vw;
  }
  .stages-container .stage-info p {
    width: 90%;
    font-size: 1.816vw;
  }
}
@media (max-width: 545px) {
  .stages-container {
    padding-right: 0;
  }
  .stages-container .stage {
    width: 100%;
    padding: 2rem 3rem;
  }
  .stages-container .stage .number {
    font-size: 20vw;
    left: 50%;
    top: 0;
    transform: translate(-50%, -20%);
  }
  .stages-container .stage-info {
    text-align: center;
    margin-bottom: 6rem;
    transform: translateY(50%);
  }
  .stages-container .stage-info h3 {
    font-size: 5.505vw;
    margin-bottom: 2rem;
    color: #5ec8b5;
  }
  .stages-container .stage-info p {
    width: 80%;
    font-size: 3.670vw;
  }
  .stages-container .stage-nav span {
    font-size: 4.587vw;
  }
  .stages-container .stage-nav a {
    font-size: 4.587vw;
  }
}
.all-services {
  background-color: #242424;
}
.all-services-container {
  padding-right: 8.5rem;
  display: flex;
  flex-wrap: wrap;
}
.all-services-container .service {
  width: 33.33%;
  padding-left: 8.5rem;
  padding-right: 2.083vw;
  padding-bottom: 1.563vw;
  padding-top: 1.563vw;
  transition: 2s;
  cursor: default;
}
.all-services-container .service-info {
  margin-bottom: 6rem;
}
.all-services-container .service-info h3 {
  color: white;
  font-size: 1.563vw;
  font-family: 'montserrat_light';
  margin-bottom: 1.042vw;
}
.all-services-container .service-info p {
  color: white;
  display: inline-block;
  font-size: 0.833vw;
  font-family: 'montserrat_light';
  width: 80%;
}
.all-services-container .service-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-services-container .service-nav span {
  font-size: 1.563vw;
  color: white;
  font-family: 'montserrat_regular';
}
.all-services-container .service-nav a {
  font-size: 1.042vw;
  color: white;
  text-decoration: none;
  font-family: 'montserrat_light';
}
.all-services-container .service:hover {
  background-color: #5EC8B5;
  transition: 2s;
}
.all-services-container .service:hover .service-info h3,
.all-services-container .service:hover .service-info p {
  color: #242424;
}
.all-services-container .service:hover .service-nav span,
.all-services-container .service:hover .service-nav a {
  color: #242424;
}
@media (max-width: 991px) {
  .all-services-container {
    padding-right: 0;
  }
  .all-services-container .service {
    width: 50%;
    padding: 4.036vw 2.083vw;
  }
  .all-services-container .service-info {
    margin-bottom: 3.027vw;
  }
  .all-services-container .service-info h3 {
    font-size: 3.027vw;
  }
  .all-services-container .service-info p {
    width: 80%;
    font-size: 1.816vw;
  }
  .all-services-container .service-nav span {
    font-size: 3.027vw;
  }
  .all-services-container .service-nav a {
    font-size: 1.816vw;
  }
}
@media (max-width: 768px) {
  .all-services-container {
    padding-right: 0;
  }
  .all-services-container .service {
    width: 50%;
    padding: 5.208vw 2.604vw;
  }
  .all-services-container .service-info {
    margin-bottom: 3rem;
  }
  .all-services-container .service-info h3 {
    font-size: 3.027vw;
  }
  .all-services-container .service-info p {
    width: 80%;
    font-size: 1.816vw;
  }
  .all-services-container .service-nav span {
    font-size: 3.027vw;
  }
  .all-services-container .service-nav a {
    font-size: 1.816vw;
  }
}
@media (max-width: 545px) {
  .all-services-container {
    padding-right: 0;
  }
  .all-services-container .service {
    width: 100%;
    padding: 2rem 1rem;
  }
  .all-services-container .service-info {
    margin-bottom: 2rem;
  }
  .all-services-container .service-info h3 {
    font-size: 5.505vw;
    margin-bottom: 2rem;
  }
  .all-services-container .service-info p {
    width: 80%;
    font-size: 3.670vw;
  }
  .all-services-container .service-nav span {
    font-size: 4.587vw;
  }
  .all-services-container .service-nav a {
    font-size: 4.587vw;
  }
}
.works-container {
  padding-right: 8.5rem;
  display: flex;
  flex-wrap: wrap;
}
.works-container .work {
  width: 50%;
  position: relative;
}
.works-container .work-bg {
  padding: 0;
  width: 100%;
  height: auto;
}
.works-container .work-hover {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  padding-left: 8.5rem;
  z-index: 2;
  background: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  opacity: 0;
  transition: 1s;
}
.works-container .work-hover-info h3 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: #5EC8B5;
  font-family: 'montserrat_regular';
}
.works-container .work-hover-info p {
  width: 90%;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  color: white;
  font-family: 'montserrat_light';
}
.works-container .work-hover-info .categories {
  margin-bottom: 2rem;
}
.works-container .work-hover-info .categories a {
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  font-size: 1.6rem;
  color: black;
  background-color: #5ec8b5;
  font-family: 'montserrat_regular';
  text-decoration: none;
}
.works-container .work-hover-nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.works-container .work-hover-nav a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-family: 'montserrat_light';
}
.works-container .work-hover-nav:hover a {
  color: #5ec8b5;
}
.works-container .work-hover-nav:hover svg {
  fill: #5ec8b5;
}
.works-container .work:hover .work-hover {
  opacity: 1;
  transition: 1s;
}
.works-container .btn-main {
  display: inline-block;
  margin: 0 auto;
  margin-top: 5rem;
  text-decoration: none;
  line-height: 55px;
  text-align: center;
}
@media (max-width: 991px) {
  .works-container {
    padding: 0 2.083vw;
    padding-bottom: 5rem;
  }
  .works-container .work-hover {
    padding-left: 4.036vw;
  }
}
@media (max-width: 768px) {
  .works-container {
    padding-right: 0;
  }
  .works-container .work-hover-info h3 {
    font-size: 3.027vw;
    margin-bottom: 1rem;
  }
  .works-container .work-hover-info p {
    font-size: 1.816vw;
    margin-bottom: 1rem;
  }
  .works-container .work-hover-info .categories {
    margin-bottom: 1rem;
  }
  .works-container .work-hover-info .categories a {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.816vw;
  }
  .works-container .work-hover-nav a {
    font-size: 3.027vw;
  }
}
@media (max-width: 545px) {
  .works-container {
    padding-right: 0;
    padding-left: 0;
  }
  .works-container .work img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .works-container .work-hover {
    position: static;
    width: 100%;
    height: auto;
  }
  .works-container .work-hover-info h3 {
    font-size: 5.505vw;
  }
  .works-container .work-hover-info p {
    font-size: 4.587vw;
  }
  .works-container .work-hover-info .categories a {
    font-size: 4.587vw;
  }
  .works-container .work-hover-nav a {
    font-size: 5.505vw;
  }
}
.cta-secondary {
  background-color: white;
  text-align: center;
}
.cta-secondary h2 {
  font-size: 2.083vw;
  color: black;
  font-family: 'montserrat_regular';
}
.cta-secondary p {
  font-size: 1.042vw;
  font-family: 'montserrat_regular';
  margin-bottom: 2.083vw;
}
.cta-secondary button {
  margin: 0 auto;
}
.cta-secondary .default-form {
  width: 36.458vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.cta-secondary .default-form .row {
  width: 49%;
  padding: 0 2.5rem;
}
.cta-secondary .default-form .row .default-form-input {
  height: 1.563vw;
  width: 100%;
  margin-bottom: 2.344vw;
  border: none;
  border-bottom: 1px solid #BBBBBB;
  font-size: 1.042vw;
  line-height: 1.563vw;
}
.cta-secondary .default-form .row .default-form-textarea {
  height: 9.375vw;
  width: 100%;
  border: none;
  font-size: 1.042vw;
  border-bottom: 1px solid #BBBBBB;
}
.cta-secondary .default-form .row input:focus,
.cta-secondary .default-form .row textarea:focus {
  border: none;
  border-bottom: 1px solid #BBBBBB;
  outline: none;
}
@media (max-width: 991px) {
  .cta-secondary h2 {
    font-size: 4.036vw;
  }
  .cta-secondary p {
    font-size: 2.018vw;
  }
  .cta-secondary .default-form {
    width: 70rem;
    margin-bottom: 4rem;
  }
  .cta-secondary .default-form .row .default-form-input {
    height: 3rem;
    font-size: 2rem;
  }
  .cta-secondary .default-form .row .default-form-textarea {
    font-size: 2rem;
    height: 13.6rem;
  }
}
@media (max-width: 768px) {
  .cta-secondary h2 {
    font-size: 4.036vw;
  }
  .cta-secondary p {
    font-size: 2.018vw;
  }
  .cta-secondary .default-form {
    width: 70rem;
    margin-bottom: 4rem;
  }
  .cta-secondary .default-form .row .default-form-input {
    height: 3rem;
    font-size: 2rem;
  }
  .cta-secondary .default-form .row .default-form-textarea {
    font-size: 2rem;
    height: 13rem;
  }
}
@media (max-width: 545px) {
  .cta-secondary h2 {
    font-size: 7.339vw;
  }
  .cta-secondary p {
    font-size: 3.670vw;
    margin-bottom: 2rem;
  }
  .cta-secondary .default-form {
    width: 30rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
  }
  .cta-secondary .default-form .row {
    width: 100%;
    padding: 0;
  }
  .cta-secondary .default-form .row .default-form-input {
    height: 3rem;
    font-size: 2rem;
  }
  .cta-secondary .default-form .row .default-form-textarea {
    font-size: 2rem;
    height: 13.6rem;
  }
}
.design-samples {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.design-samples .design-slider {
  margin: 5rem 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.design-samples .design-slider .slide {
  width: 100%;
  padding: 0 2rem;
  border: none;
  outline: none;
}
.design-samples .design-slider .slide img {
  width: 100%;
}
.design-samples .design-slider .slick-arrow {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid #6f6f6f;
  border-radius: 50%;
  outline: none;
}
.design-samples .design-slider .slick-arrow i {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.design-samples .design-slider .slick-arrow:hover {
  border-color: #5EC8B5;
}
.design-samples .design-slider .slick-arrow:hover i {
  color: #5EC8B5;
}
.design-samples .design-slider .slick-arrow:focus {
  outline: none;
}
.design-samples .design-slider .slick-next {
  order: 3;
  margin: 1rem;
}
.design-samples .design-slider .slick-prev {
  order: 2;
  z-index: 100;
  margin: 1rem;
}
.discussion {
  padding-top: 8rem;
  padding-bottom: 1rem;
  background-color: #242424;
  position: relative;
  margin-bottom: 0;
}
.discussion h3 {
  color: white;
}
.discussion p {
  color: white;
}
.discussion-content {
  text-align: center;
  margin-top: 5rem;
}
.discussion-content h3 {
  color: white;
  font-size: 3rem;
  font-family: 'montserrat_regular';
}
.discussion-content p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.footer-light {
  padding: 0 8.5rem;
  display: block;
  background-color: white;
  margin-top: 0;
}
.footer-light p {
  line-height: 4rem;
  vertical-align: bottom;
  color: black;
  font-family: 'montserrat_light';
  font-size: 1.5rem;
  margin-block-end: 0;
}
.footer-light p a {
  font-family: 'montserrat_light';
  color: black;
  text-decoration: none;
}
.footer-dark {
  padding: 0 8.5rem;
  display: block;
  background-color: #242424;
}
.footer-dark p {
  line-height: 4rem;
  vertical-align: bottom;
  color: white;
  font-family: 'montserrat_light';
  font-size: 1.5rem;
  margin-block-end: 0;
}
.footer-dark p a {
  font-family: 'montserrat_light';
  color: white;
  text-decoration: none;
}
.footer-post {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0;
}
.about {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-image: url(../img/aboutus.png);
  height: auto;
}
.about .logo {
  position: absolute;
}
.about h2 {
  color: white;
  font-size: 4rem;
  font-family: 'montserrat_regular';
}
.about p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_extralight';
  margin-bottom: 8rem;
}
.team {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: auto;
}
.team .team-slider {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
  overflow-x: hidden;
}
.team .team-slider .team-member {
  width: 100%;
  padding: 1rem 3rem;
  outline: none;
}
.team .team-slider .team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.team .team-slider .team-member h3 {
  font-size: 2.5rem;
  font-family: 'montserrat_medium';
}
.team .team-slider .team-member p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.team .team-slider .slick-arrow {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid #6f6f6f;
  border-radius: 50%;
  outline: none;
}
.team .team-slider .slick-arrow i {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.team .team-slider .slick-arrow:hover {
  border-color: #5EC8B5;
}
.team .team-slider .slick-arrow:hover i {
  color: #5EC8B5;
}
.team .team-slider .slick-arrow:focus {
  outline: none;
}
.team .team-slider .slick-next {
  order: 3;
  margin: 1rem;
}
.team .team-slider .slick-prev {
  order: 2;
  z-index: 100;
  margin: 1rem;
}
.feedback {
  position: relative;
  height: 40rem;
}
.feedback .feedback-slider {
  margin-top: 15rem;
}
.feedback .feedback-slider .media {
  margin: 0 auto;
  width: 100rem;
}
.feedback .feedback-slider .mr-3,
.feedback .feedback-slider .media-body {
  height: 15rem;
}
.feedback .feedback-slider .media-body h5 {
  font-family: 'montserrat_medium';
  font-size: 3rem;
}
.feedback .feedback-slider .media-body p {
  font-size: 2rem;
}
.portfolio {
  padding-top: 4rem;
  background-color: #242424;
  position: relative;
  padding-bottom: 10rem;
}
.portfolio .logo {
  position: absolute;
}
.portfolio .logo img {
  width: 100%;
}
.category-nav {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  list-style: none;
}
.category-nav::-webkit-scrollbar {
  display: none;
}
.category-nav a {
  margin: 0 1.5rem;
  min-width: 20rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: 'montserrat_regular';
  display: inline-block;
  background: #242424;
  border: 1px solid grey;
  text-decoration: none;
}
.category-nav a:hover {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
  text-decoration: none;
  color: #242424;
}
.category-nav li.current-menu-item a {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
}
.category-nav-light a {
  background-color: transparent;
  border: 1px solid grey;
  color: black;
  text-decoration: none;
}
.category-nav-light a:hover {
  text-decoration: none;
  color: black;
}
.category-nav-light a.current-menu-item {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
}
.portfolio-posts {
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-posts .portfolio-item {
  padding: 6rem 0rem;
  padding-right: 4rem;
  width: 50%;
  display: flex;
}
.portfolio-posts .portfolio-item .portfolio-content {
  width: 45%;
  vertical-align: top;
}
.portfolio-posts .portfolio-item .portfolio-content h3 {
  width: 100%;
  color: white;
  font-size: 3rem;
  font-family: 'montserrat_regular';
}
.portfolio-posts .portfolio-item .portfolio-content p {
  font-size: 1.6rem;
  color: white;
  font-family: 'montserrat_light';
  margin-bottom: 4rem;
}
.portfolio-posts .portfolio-item .portfolio-content a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'montserrat_regular';
}
.portfolio-posts .portfolio-item .portfolio-content a:hover {
  color: #5EC8B5;
}
.portfolio-posts .portfolio-item .portfolio-content a:hover:after {
  color: #5EC8B5;
}
.portfolio-posts .portfolio-item .portfolio-content a:after {
  font-family: "FontAwesome";
  content: "\f061";
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
  vertical-align: middle;
  font-weight: 500;
  color: white;
}
.portfolio-posts .portfolio-item .portfolio-image {
  width: 50%;
}
.portfolio-posts .portfolio-item .portfolio-image img {
  display: block;
  width: 100%;
}
.portfolio-single {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #242424;
  position: relative;
}
.portfolio-single .logo {
  position: absolute;
  width: 12rem;
}
.portfolio-single .logo img {
  width: 100%;
}
.portfolio-single h1 {
  color: white;
}
.portfolio-single-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  background-color: #242424;
  text-align: center;
}
.portfolio-single-wrapper .pad {
  margin-top: 4rem;
}
.portfolio-single-wrapper img {
  width: 70rem;
  height: auto;
  margin-bottom: 4rem;
}
.portfolio-single-wrapper a {
  display: block;
  margin-bottom: 10rem;
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  text-decoration: none;
}
.portfolio-single-wrapper a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.portfolio-single-wrapper h2,
.portfolio-single-wrapper p {
  color: white;
  font-family: 'montserrat_regular';
  font-size: 4rem;
}
.portfolio-single-wrapper p {
  font-size: 2rem;
  font-family: 'montserrat_light';
}
.portfolio-single-wrapper h3 {
  color: #7b7b7b;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.portfolio-single-wrapper .row {
  text-align: left;
}
.portfolio-single-wrapper .row .color-boxes {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-single-wrapper .row .color-boxes .box {
  margin-right: 2rem;
  width: 12rem;
  height: 12rem;
  font-size: 2rem;
  color: white;
  font-family: 'montserrat_regular';
}
.adaptive-design {
  padding-top: 4rem;
  text-align: center;
  height: auto;
}
.adaptive-design h2 {
  font-family: 'montserrat_regular';
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.adaptive-design .devices {
  width: 100%;
  text-align: center;
  margin-bottom: 10rem;
}
.adaptive-design .devices img {
  vertical-align: bottom;
  margin: 0 2rem;
}
.adaptive-design .devices .imac {
  display: none;
  width: 50%;
}
.adaptive-design .devices .ipad {
  width: 50% ;
}
.adaptive-design .devices .iphone {
  width: 15%;
}
.adaptive-design .pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.adaptive-design .pages img {
  width: 48%;
  padding: 2rem;
}
.adaptive-design a {
  display: block;
  margin-top: 2rem;
  margin-bottom: 10rem;
  color: black;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  text-decoration: none;
}
.adaptive-design a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.contacts {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #242424;
  text-align: center;
}
.contacts h1 {
  margin-top: 6rem;
  color: white;
  font-size: 5rem;
  font-family: 'montserrat_bold';
  margin-bottom: 12.5rem;
}
.contacts .contacts-wrapper {
  margin: 0 auto;
}
.contacts .contacts-wrapper .child {
  margin: 0 auto;
  width: 37.5rem;
  text-align: left;
  margin-bottom: 3rem;
}
.contacts .contacts-wrapper .child p {
  margin-bottom: 0;
  margin-left: 1rem;
  display: inline-block;
  color: white;
  font-family: 'montserrat_regular';
  font-size: 2rem;
  line-height: 4.1rem;
  vertical-align: middle;
}
.contacts-discussion {
  padding-top: 10rem;
  text-align: center;
  background-color: #242424;
}
.contacts-discussion h2 {
  color: white;
  font-size: 4rem;
  font-family: 'montserrat_bold';
  margin-bottom: 4rem;
}
.contacts-footer {
  width: 100%;
  background-color: #242424;
  position: absolute ;
  bottom: 0;
}
.error-footer {
  background-color: white;
}
.blog {
  position: relative;
  padding-top: 4rem;
  text-align: center;
}
.blog .logo {
  position: absolute;
}
.blog-content {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.blog-content .blog-post {
  width: 50%;
  padding: 0 4rem;
  margin-bottom: 8rem;
}
.blog-content .blog-post img {
  width: 100%;
  margin-bottom: 2.5rem;
  height: auto;
}
.blog-content .blog-post h2 {
  font-family: 'montserrat_medium';
  font-size: 3rem;
  min-height: 8rem;
}
.blog-content .blog-post p {
  font-size: 2rem;
  font-family: sans-serif;
}
.blog-content .blog-post .link-wrapper {
  text-align: center;
}
.blog-content .blog-post .link-wrapper a {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  color: black;
  text-decoration: none;
}
.blog-content .blog-post .link-wrapper a:hover {
  color: #5EC8B5;
}
.blog-content .blog-post .link-wrapper a:hover:after {
  color: #5EC8B5;
}
.blog-content .blog-post .link-wrapper a:after {
  font-family: "FontAwesome";
  content: "\f061";
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
  vertical-align: middle;
  font-weight: 500;
  color: black;
}
.post-head {
  position: relative;
  max-width: 100rem;
  padding-top: 4rem;
  text-align: center;
  margin: 0 auto;
}
.post-head .logo {
  display: none;
  position: absolute;
  width: 12rem;
}
.post-head .logo img {
  width: 100%;
}
.post-head .post-image img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.post-head .post-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.post-head .post-navigation a {
  font-size: 1.5rem;
  font-family: 'montserrat_regular';
  color: black;
}
.post-head .post-navigation a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.post-head .post-navigation .post-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  text-align: right;
}
.post-head .post-navigation .post-stats p,
.post-head .post-navigation .post-stats i {
  margin-left: 1rem;
  align-self: center;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.post-head .post-navigation .post-stats .p {
  font-family: 'montserrat_regular';
}
.post-head,
.post-body,
.post-footer {
  padding-left: 0;
  padding-right: 0;
}
.post-body {
  max-width: 100rem;
  padding-top: 1rem;
  margin: 0 auto;
}
.post-body .post-main-img {
  width: 100%;
}
.post-body .post-thumbnail {
  margin-bottom: 1rem;
}
.post-body .post-thumbnail img {
  width: 100%;
  height: auto;
}
.post-body img {
  width: 80%;
  height: auto;
  margin-bottom: 1.5rem;
}
.post-body h2 {
  font-size: 2.2rem ;
  margin-bottom: 1.5rem;
}
.post-body p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.post-body a {
  font-size: 2rem;
  color: #5EC8B5;
  text-decoration: none;
}
.post-body ul {
  margin-bottom: 1.5rem;
}
.post-body ul li {
  font-size: 1.8rem;
}
.post-footer {
  max-width: 100rem;
  padding-top: 1rem;
  margin: 0 auto;
}
.post-footer .stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.post-footer .stars p {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.post-footer .line {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #9c9c9c;
}
.post-footer .post-links {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.post-footer .post-links .next-post,
.post-footer .post-links .prev-post {
  width: 30rem;
}
.post-footer .post-links .next-post a,
.post-footer .post-links .prev-post a {
  font-size: 1.5rem;
  font-family: 'montserrat_medium';
  color: black;
  text-decoration: none;
}
.post-footer .post-links .next-post a:hover,
.post-footer .post-links .prev-post a:hover {
  color: #5EC8B5;
}
.post-footer .post-links .next-post {
  text-align: right;
}
.error {
  text-align: center;
}
.error img {
  width: 45%;
}
.error h1 {
  margin: 2rem 0;
  font-size: 5rem;
  font-family: 'montserrat_bold';
}
.error p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.landing-description {
  margin-top: 10rem;
}
.landing-description .pad {
  margin-top: 4rem;
}
.landing-description h2 {
  font-size: 3rem;
  font-family: 'montserrat_regular';
  margin-bottom: 4rem;
}
.landing-description p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin-bottom: 4rem;
}
.landing-description ul {
  margin-bottom: 4rem;
}
.landing-description ul li {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin-bottom: 1rem;
}
.landing-description .comparison {
  display: flex;
  flex-wrap: nowrap;
}
.landing-description .advantages b,
.landing-description .advantages h2 {
  color: #378D00;
}
.landing-description .disadvantages b,
.landing-description .disadvantages h2 {
  color: #FF0000;
}
.prices {
  padding-top: 8rem;
  padding-bottom: 6rem;
  position: relative;
}
.prices .header-dark {
  padding-left: 8.5rem;
}
.prices-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.prices-wrapper .price {
  background-color: #f1f1f1;
  margin: 0 2rem;
  text-align: center;
  width: 32.5rem;
  padding-bottom: 2rem;
  justify-content: space-evenly;
}
.prices-wrapper .price-name {
  background-color: #242424;
  border-bottom: 1px solid #A8A8A8;
}
.prices-wrapper .price-name h3 {
  font-size: 3rem;
  color: white;
  font-family: 'montserrat_bold';
  line-height: 7rem;
  vertical-align: middle;
}
.prices-wrapper .price-qnty {
  background-color: #242424;
}
.prices-wrapper .price-qnty p {
  color: white;
  font-family: 'montserrat_medium';
  font-size: 6rem;
  margin-bottom: 0;
}
.prices-wrapper .price-divider {
  background-color: #5EC8B5;
  min-height: 0.6rem;
}
.prices-wrapper .price-divider p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.prices-wrapper .price-features {
  min-height: 35rem;
}
.prices-wrapper .price-features p {
  font-size: 2rem;
  color: black;
  margin: 1.5rem 0;
}
.prices-wrapper .price-features .blocked {
  color: grey;
  text-decoration: line-through;
}
.prices-wrapper .price-features .price-divider {
  background-color: #5EC8B5;
  min-height: 0.6rem;
}
.prices-wrapper .price-features .price-divider p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin: 0;
}
.prices-wrapper .price-btn {
  width: 80%;
  height: 6rem;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  color: white;
  background-color: #242424;
  border: none;
}
@media (max-width: 1540px) {
  .category-nav {
    justify-content: left;
  }
}
@media (max-width: 1281px) {
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 2.3rem;
  }
}
@media (max-width: 1199px) {
  .post-head,
  .post-body,
  .post-footer {
    max-width: 85rem;
  }
  .post-head {
    padding-top: 8rem;
  }
  .why-us .argument-wrapper .argument h3 {
    font-size: 2.5rem;
  }
}
@media (max-width: 991px) {
  .post-head,
  .post-body,
  .post-footer,
  .footer-post {
    padding: 0 4rem;
    padding-top: 1rem;
    max-width: 100% !important;
  }
  .post-head {
    padding-top: 8rem;
  }
  .post-head h1 {
    font-size: 2.5rem;
  }
  .post-footer .post-links .prev-post a,
  .post-footer .post-links .next-post a {
    font-size: 1.2rem;
  }
  .header-line {
    left: 50%;
    transform: translateX(-50%);
  }
  .phone-btn {
    width: 4rem;
    height: 4rem;
  }
  .why-us {
    padding-right: 0;
  }
  .why-us .argument-wrapper {
    padding: 0;
    padding-left: 2rem;
  }
  .why-us .argument-wrapper .argument {
    margin: 3rem 0;
    width: 50%;
    height: 10rem;
  }
  .how-work {
    padding-right: 2rem;
    padding-left: 4rem;
  }
  .how-work .how-work-content .stage h3 {
    font-size: 2rem;
  }
  .how-work .how-work-content .stage p {
    font-size: 1.8rem;
    min-height: 10rem;
  }
  .portfolio {
    padding: 0 ;
    padding-top: 4rem;
  }
  .portfolio-posts {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-posts .portfolio-item {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .category-nav {
    justify-content: right;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-top: 5rem;
  }
  .category-nav a {
    margin: 0;
    margin-right: 1.5rem;
  }
  .about {
    padding-left: 0;
    padding-right: 0;
  }
  .team {
    padding-bottom: 4rem;
  }
  .team .team-slider {
    margin-bottom: 0;
  }
  .blog-content {
    padding: 4rem 0;
  }
  .contacts {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    text-align: center;
  }
  .contacts h1 {
    margin-bottom: 6rem;
  }
  .contacts .child {
    margin-bottom: 2rem;
  }
  .contacts-footer {
    width: 100%;
    position: static;
  }
  .contacts-footer p {
    text-align: center;
  }
  .contacts-discussion {
    padding-top: 2.5rem;
  }
  .blog {
    padding-left: 0;
    padding-right: 0;
  }
  .blog-content {
    margin-top: 0;
  }
  .blog-content .blog-post {
    width: 100%;
  }
  .prices {
    padding: 4rem 0;
  }
  .prices .prices-wrapper {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .prices .prices-wrapper .price {
    margin-bottom: 4rem;
    width: 29%;
  }
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 2rem;
  }
  .prices .prices-wrapper .price .price-features {
    min-height: 28rem;
  }
  .prices .prices-wrapper .price .price-features .price-divider p {
    margin-top: 0;
  }
  .prices .prices-wrapper .price .price-features p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .landing-description {
    margin-top: 0;
    padding: 6rem 0;
  }
  .about {
    padding: 4rem 1rem;
  }
  .about h2 {
    margin-top: 2rem;
  }
  .error {
    padding-left: 0;
    padding-right: 0;
  }
  .error img {
    margin-top: 7rem;
    width: 80%;
  }
  .error h1,
  .error p {
    padding: 0 6rem;
  }
  .portfolio-single-wrapper {
    padding-top: 4rem;
  }
  .portfolio-single-wrapper h2 {
    margin-top: 4rem;
  }
  .portfolio-single-wrapper img {
    width: 90%;
    margin-bottom: 4rem;
  }
  .portfolio-single-wrapper a {
    margin-bottom: 4rem;
  }
  .adaptive-design .devices .ipad {
    width: 60%;
  }
  .adaptive-design .devices .iphone {
    width: 20%;
  }
  .adaptive-design .pages {
    flex-wrap: wrap;
  }
  .adaptive-design .pages img {
    width: 100%;
  }
  .adaptive-design a {
    margin-bottom: 4rem;
  }
}
@media (max-width: 767px) {
  .how-work {
    padding-bottom: 4rem;
  }
  .how-work .how-work-content .stage {
    position: relative;
    width: 100%;
    min-height: 21rem;
  }
  .how-work .how-work-content .stage p,
  .how-work .how-work-content .stage h3 {
    margin-left: 3rem;
  }
  .how-work .how-work-content .stage span {
    position: absolute;
    margin-left: 3rem;
    margin-top: 0;
    line-height: 3rem;
  }
  .how-work .how-work-content .stage .dot {
    margin-top: 1rem;
  }
  .how-work .how-work-content .stage h3 {
    font-size: 3rem;
  }
  .how-work .how-work-content .stage p {
    font-size: 2rem;
  }
  .how-work .how-work-content .stage .line {
    top: 1.5rem;
    left: 9px;
    height: 100%;
    width: 2px;
    transform: none;
  }
  .device3,
  .iphone1 {
    display: none;
  }
  .device .why-us {
    padding-left: 0;
  }
  section .header-light,
  section .header-dark {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 5rem;
    text-align: center;
  }
  section .header-line {
    display: none;
  }
  .portfolio-posts .portfolio-item {
    padding: 4rem 4rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
  }
  .portfolio-posts .portfolio-item .portfolio-content,
  .portfolio-posts .portfolio-item .portfolio-image {
    width: 100%;
  }
  .portfolio-posts .portfolio-item .portfolio-content {
    margin: 0 auto;
    width: 90%;
  }
  .portfolio-posts .portfolio-item .portfolio-image {
    width: 90%;
    margin: 4rem auto;
  }
  .portfolio-posts .portfolio-item .portfolio-image img {
    width: 100%;
  }
  .phone-btn {
    left: 0;
  }
  .team .team-slider {
    margin-bottom: 0;
    margin-top: 5rem;
  }
  .about h2 {
    font-size: 3rem;
  }
  .prices .prices-wrapper {
    flex-wrap: wrap;
  }
  .prices .prices-wrapper .price {
    width: 70%;
  }
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 3rem;
  }
  .prices .prices-wrapper .price .price-features p {
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }
  .landing-description {
    padding: 4rem 0;
  }
  .discussion .discussion-content h3 {
    font-size: 2rem;
  }
  .post-body p {
    font-size: 1.8rem;
  }
  .blog .category-nav {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .post-head h1 {
    font-size: 1.8rem;
  }
  .blog-content .blog-post {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 6rem;
  }
  .blog-content .blog-post p {
    font-size: 1.8rem;
  }
  .error img {
    margin-top: 7rem;
    width: 90%;
  }
  .error h1 {
    font-size: 3rem;
  }
  .portfolio-single-wrapper {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .portfolio-single-wrapper img {
    width: 90%;
  }
  .adaptive-design {
    padding: 4rem 2rem;
  }
  .adaptive-design .devices .ipad {
    width: 55%;
  }
  .adaptive-design .pages img {
    padding: 0;
    margin-bottom: 2rem;
  }
  .adaptive-design a {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .contacts h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .contacts .contacts-wrapper .child {
    width: 30rem;
  }
  .contacts .contacts-wrapper .child p {
    font-size: 1.6rem;
  }
  .contacts-discussion h2 {
    font-size: 3rem;
  }
  .contacts-footer {
    position: static;
    display: block;
  }
}
@media (max-width: 545px) {
  .post-head,
  .post-body,
  .post-footer,
  .footer-post {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100% !important;
  }
  .blog-content .blog-post p {
    font-size: 1.6rem;
  }
  .post-body p {
    font-size: 1.6rem;
  }
  .why-us {
    padding: 4rem 2rem;
  }
  .why-us .argument-wrapper .argument {
    width: 100%;
    margin: 2rem 0;
    height: 7rem;
  }
  .why-us .argument-wrapper .argument h3 {
    font-size: 2rem;
  }
  .discussion {
    padding: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .footer-dark {
    text-align: center;
    padding: 0 4rem;
  }
  .about {
    padding: 4rem 1rem;
  }
  .about h2 {
    margin-top: 2rem;
  }
  .portfolio-posts .portfolio-item {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .category-nav a {
    font-size: 1.8rem;
  }
  .footer-dark,
  .footer-light {
    text-align: center;
    padding: 4rem 2rem;
    padding-bottom: 1rem;
  }
  .footer-dark p,
  .footer-light p {
    font-size: 1.4rem;
  }
  .design-samples {
    padding: 4rem 2rem;
  }
  .prices .prices-wrapper .price {
    width: 85%;
  }
  .portfolio-single {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-single-wrapper h2 {
    font-size: 3rem;
  }
  .portfolio-single-wrapper p {
    font-size: 1.8rem;
  }
  .adaptive-design {
    padding: 4rem 0;
  }
  .adaptive-design h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .adaptive-design .pages {
    padding: 0 2rem;
  }
  .blog-post {
    margin-bottom: 4rem;
  }
}
