@font-face {
  font-family: 'montserrat_extrabold';
  src: url('../fonts/MontserratAlternates-ExtraBold.woff2') format('woff2'), url('../fonts/MontserratAlternates-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_bold';
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'), url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_black';
  src: url('../fonts/MontserratAlternates-Black.woff2') format('woff2'), url('../fonts/MontserratAlternates-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_extralight';
  src: url('../fonts/MontserratAlternates-ExtraLight.woff2') format('woff2'), url('../fonts/MontserratAlternates-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_semibold';
  src: url('MontserratAlternates-SemiBold.woff2') format('woff2'), url('MontserratAlternates-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_medium';
  src: url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'), url('../fonts/MontserratAlternates-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_thin';
  src: url('../fonts/MontserratAlternates-Thin.woff2') format('woff2'), url('../fonts/MontserratAlternates-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_light';
  src: url('../fonts/MontserratAlternates-Light.woff2') format('woff2'), url('../fonts/MontserratAlternates-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'montserrat_regular';
  src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'), url('../fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  direction: ltr;
}
::-webkit-scrollbar-track {
  background: #242424;
}
::-webkit-scrollbar-thumb {
  background: #5EC8B5;
}
.contact-btn {
  display: inline-block;
  color: white;
  border: 1px solid #959595;
  background-color: transparent;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  margin-top: 2.5rem;
  width: auto;
  text-align: center;
  font-family: 'montserrat_regular';
}
.contact-btn:hover {
  color: white;
  text-decoration: none;
}
section .header-line {
  position: absolute;
  left: 0;
  top: 14rem;
  width: 25rem;
  height: 2px;
  background-color: #5EC8B5;
}
section .header-light {
  font-size: 4rem;
  color: white;
  font-family: 'montserrat_regular';
  margin-bottom: 10rem;
}
section .header-dark {
  font-size: 4rem;
  color: black;
  font-family: 'montserrat_regular';
  margin-bottom: 10rem;
}
.phone-btn {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  width: 5.4rem;
  cursor: pointer;
  z-index: 2;
  font-family: 'montserrat_regular';
}
.phone-btn img {
  width: 100%;
}
.portfolio .logo,
.about .logo,
.blog .logo {
  width: 12rem;
}
.portfolio .logo img,
.about .logo img,
.blog .logo img {
  width: 100%;
}
.why-us {
  position: relative;
  background-color: #242424;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.why-us .argument-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.why-us .argument-wrapper .argument {
  display: flex;
  align-items: center;
  margin: 5rem 0;
  padding: 0 1.5rem;
  width: 30%;
  height: 7rem;
  border-left: 2px solid #5EC8B5;
}
.why-us .argument-wrapper .argument h3 {
  color: white;
  font-size: 2.5rem;
  font-family: 'montserrat_light';
}
.how-work {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white;
  height: auto;
}
.how-work .how-work-content {
  margin: 5rem 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.how-work .how-work-content .stage {
  position: relative;
  width: 25%;
}
.how-work .how-work-content .stage span {
  font-size: 3rem;
  font-family: 'montserrat_medium';
}
.how-work .how-work-content .stage .dot {
  z-index: 10;
  margin: 3rem 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #5EC8B5;
}
.how-work .how-work-content .stage h3 {
  font-size: 2.5rem;
  font-family: 'montserrat_regular';
  min-height: 8rem;
}
.how-work .how-work-content .stage .line {
  position: absolute;
  z-index: -1;
  transform: translateY(8.5rem);
  width: 100%;
  height: 2px;
  background: #242424;
}
.how-work .how-work-content .stage p {
  font-size: 2rem;
  padding-right: 2rem;
}
.full {
  position: relative;
}
.design-samples {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.design-samples .design-slider {
  margin: 5rem 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.design-samples .design-slider .slide {
  width: 100%;
  padding: 0 2rem;
  border: none;
  outline: none;
}
.design-samples .design-slider .slide img {
  width: 100%;
}
.design-samples .design-slider .slick-arrow {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid #6f6f6f;
  border-radius: 50%;
  outline: none;
}
.design-samples .design-slider .slick-arrow i {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.design-samples .design-slider .slick-arrow:hover {
  border-color: #5EC8B5;
}
.design-samples .design-slider .slick-arrow:hover i {
  color: #5EC8B5;
}
.design-samples .design-slider .slick-arrow:focus {
  outline: none;
}
.design-samples .design-slider .slick-next {
  order: 3;
  margin: 1rem;
}
.design-samples .design-slider .slick-prev {
  order: 2;
  z-index: 100;
  margin: 1rem;
}
.price-list {
  padding-top: 8rem;
  padding-bottom: 4rem;
  position: relative;
  margin-right: 8.5rem;
}
.price-list .price-table {
  margin: 10rem auto;
  width: 100%;
}
.price-list .price-table .line {
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid #a0a0a0;
  display: flex;
  flex-wrap: nowrap;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
}
.price-list .price-table .line p {
  font-size: 2.5rem;
  font-family: 'montserrat_regular';
  padding: 0;
  margin: 0;
}
.price-list .price-table .line .type {
  width: 35%;
}
.price-list .price-table .line .price {
  width: 25%;
}
.price-list .price-table .line .time {
  width: 30%;
}
.price-list .price-table .line h3,
.price-list .price-table .line p {
  font-family: 'montserrat_medium';
}
.price-list .price-table .header {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}
.price-list .price-table .header h3 {
  font-size: 2.5rem;
  font-family: 'montserrat_medium';
  padding: 0;
  margin: 0;
}
.price-list p {
  font-size: 1.5rem;
  padding: 0 1rem;
}
.discussion {
  padding-top: 8rem;
  padding-bottom: 1rem;
  background-color: #242424;
  position: relative;
  margin-bottom: 0;
}
.discussion h3 {
  color: white;
}
.discussion p {
  color: white;
}
.discussion-content {
  text-align: center;
  margin-top: 5rem;
}
.discussion-content h3 {
  color: white;
  font-size: 3rem;
  font-family: 'montserrat_regular';
}
.discussion-content p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.default-form {
  margin: 0 auto;
  max-width: 35rem;
}
.default-form input {
  background-color: transparent;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 0;
  -webkit-appearance: none;
}
.default-form input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
}
.default-form .default-form-btn {
  margin-top: 4rem;
  border: 2px solid grey;
  width: 100%;
  font-size: 2rem;
  background-color: transparent;
  font-family: 'montserrat_regular';
  color: white;
  line-height: 5rem;
  margin-bottom: 4rem;
}
.default-form select {
  margin-top: 1rem;
  width: 100%;
  background-color: #242424;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  color: grey;
  display: flex;
  align-items: center;
}
.default-form select:focus {
  border-radius: 0;
  outline: none;
}
.footer-light {
  padding: 0 8.5rem;
  display: block;
  background-color: white;
  margin-top: 0;
}
.footer-light p {
  line-height: 4rem;
  vertical-align: bottom;
  color: black;
  font-family: 'montserrat_light';
  font-size: 1.5rem;
  margin-block-end: 0;
}
.footer-light p a {
  font-family: 'montserrat_light';
  color: black;
  text-decoration: none;
}
.footer-dark {
  padding: 0 8.5rem;
  display: block;
  background-color: #242424;
}
.footer-dark p {
  line-height: 4rem;
  vertical-align: bottom;
  color: white;
  font-family: 'montserrat_light';
  font-size: 1.5rem;
  margin-block-end: 0;
}
.footer-dark p a {
  font-family: 'montserrat_light';
  color: white;
  text-decoration: none;
}
.footer-post {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0;
}
.about {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-image: url(../img/aboutus.png);
  height: auto;
}
.about .logo {
  position: absolute;
}
.about h2 {
  color: white;
  font-size: 4rem;
  font-family: 'montserrat_regular';
}
.about p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_extralight';
  margin-bottom: 8rem;
}
.team {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: auto;
}
.team .team-slider {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
  overflow-x: hidden;
}
.team .team-slider .team-member {
  width: 100%;
  padding: 1rem 3rem;
  outline: none;
}
.team .team-slider .team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.team .team-slider .team-member h3 {
  font-size: 2.5rem;
  font-family: 'montserrat_medium';
}
.team .team-slider .team-member p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.team .team-slider .slick-arrow {
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid #6f6f6f;
  border-radius: 50%;
  outline: none;
}
.team .team-slider .slick-arrow i {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.team .team-slider .slick-arrow:hover {
  border-color: #5EC8B5;
}
.team .team-slider .slick-arrow:hover i {
  color: #5EC8B5;
}
.team .team-slider .slick-arrow:focus {
  outline: none;
}
.team .team-slider .slick-next {
  order: 3;
  margin: 1rem;
}
.team .team-slider .slick-prev {
  order: 2;
  z-index: 100;
  margin: 1rem;
}
.feedback {
  position: relative;
  height: 40rem;
}
.feedback .feedback-slider {
  margin-top: 15rem;
}
.feedback .feedback-slider .media {
  margin: 0 auto;
  width: 100rem;
}
.feedback .feedback-slider .mr-3,
.feedback .feedback-slider .media-body {
  height: 15rem;
}
.feedback .feedback-slider .media-body h5 {
  font-family: 'montserrat_medium';
  font-size: 3rem;
}
.feedback .feedback-slider .media-body p {
  font-size: 2rem;
}
.portfolio {
  padding-top: 4rem;
  background-color: #242424;
  position: relative;
  padding-bottom: 10rem;
}
.portfolio .logo {
  position: absolute;
}
.portfolio .logo img {
  width: 100%;
}
.category-nav {
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  list-style: none;
}
.category-nav::-webkit-scrollbar {
  display: none;
}
.category-nav a {
  margin: 0 1.5rem;
  min-width: 20rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-family: 'montserrat_regular';
  display: inline-block;
  background: #242424;
  border: 1px solid grey;
  text-decoration: none;
}
.category-nav a:hover {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
  text-decoration: none;
  color: #242424;
}
.category-nav li.current-menu-item a {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
}
.category-nav-light a {
  background-color: transparent;
  border: 1px solid grey;
  color: black;
  text-decoration: none;
}
.category-nav-light a:hover {
  text-decoration: none;
  color: black;
}
.category-nav-light a.current-menu-item {
  background-color: #5EC8B5;
  border-color: #5EC8B5;
}
.portfolio-posts {
  background-color: #242424;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-posts .portfolio-item {
  padding: 6rem 0rem;
  padding-right: 4rem;
  width: 50%;
  display: flex;
}
.portfolio-posts .portfolio-item .portfolio-content {
  width: 45%;
  vertical-align: top;
}
.portfolio-posts .portfolio-item .portfolio-content h3 {
  width: 100%;
  color: white;
  font-size: 3rem;
  font-family: 'montserrat_regular';
}
.portfolio-posts .portfolio-item .portfolio-content p {
  font-size: 1.6rem;
  color: white;
  font-family: 'montserrat_light';
  margin-bottom: 4rem;
}
.portfolio-posts .portfolio-item .portfolio-content a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
  font-family: 'montserrat_regular';
}
.portfolio-posts .portfolio-item .portfolio-content a:hover {
  color: #5EC8B5;
}
.portfolio-posts .portfolio-item .portfolio-content a:hover:after {
  color: #5EC8B5;
}
.portfolio-posts .portfolio-item .portfolio-content a:after {
  font-family: "FontAwesome";
  content: "\f061";
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
  vertical-align: middle;
  font-weight: 500;
  color: white;
}
.portfolio-posts .portfolio-item .portfolio-image {
  width: 50%;
}
.portfolio-posts .portfolio-item .portfolio-image img {
  display: block;
  width: 100%;
}
.portfolio-single {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #242424;
  position: relative;
}
.portfolio-single .logo {
  position: absolute;
  width: 12rem;
}
.portfolio-single .logo img {
  width: 100%;
}
.portfolio-single h1 {
  color: white;
}
.portfolio-single-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 10rem;
  background-color: #242424;
  text-align: center;
}
.portfolio-single-wrapper .pad {
  margin-top: 4rem;
}
.portfolio-single-wrapper img {
  width: 70rem;
  height: auto;
  margin-bottom: 4rem;
}
.portfolio-single-wrapper a {
  display: block;
  margin-bottom: 10rem;
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  text-decoration: none;
}
.portfolio-single-wrapper a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.portfolio-single-wrapper h2,
.portfolio-single-wrapper p {
  color: white;
  font-family: 'montserrat_regular';
  font-size: 4rem;
}
.portfolio-single-wrapper p {
  font-size: 2rem;
  font-family: 'montserrat_light';
}
.portfolio-single-wrapper h3 {
  color: #7b7b7b;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.portfolio-single-wrapper .row {
  text-align: left;
}
.portfolio-single-wrapper .row .color-boxes {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-single-wrapper .row .color-boxes .box {
  margin-right: 2rem;
  width: 12rem;
  height: 12rem;
  font-size: 2rem;
  color: white;
  font-family: 'montserrat_regular';
}
.adaptive-design {
  padding-top: 4rem;
  text-align: center;
  height: auto;
}
.adaptive-design h2 {
  font-family: 'montserrat_regular';
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.adaptive-design .devices {
  width: 100%;
  text-align: center;
  margin-bottom: 10rem;
}
.adaptive-design .devices img {
  vertical-align: bottom;
  margin: 0 2rem;
}
.adaptive-design .devices .imac {
  display: none;
  width: 50%;
}
.adaptive-design .devices .ipad {
  width: 50% ;
}
.adaptive-design .devices .iphone {
  width: 15%;
}
.adaptive-design .pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.adaptive-design .pages img {
  width: 48%;
  padding: 2rem;
}
.adaptive-design a {
  display: block;
  margin-top: 2rem;
  margin-bottom: 10rem;
  color: black;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  text-decoration: none;
}
.adaptive-design a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.contacts {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #242424;
  text-align: center;
}
.contacts h1 {
  margin-top: 6rem;
  color: white;
  font-size: 5rem;
  font-family: 'montserrat_bold';
  margin-bottom: 12.5rem;
}
.contacts .contacts-wrapper {
  margin: 0 auto;
}
.contacts .contacts-wrapper .child {
  margin: 0 auto;
  width: 37.5rem;
  text-align: left;
  margin-bottom: 3rem;
}
.contacts .contacts-wrapper .child p {
  margin-bottom: 0;
  margin-left: 1rem;
  display: inline-block;
  color: white;
  font-family: 'montserrat_regular';
  font-size: 2rem;
  line-height: 4.1rem;
  vertical-align: middle;
}
.contacts-discussion {
  padding-top: 10rem;
  text-align: center;
  background-color: #242424;
}
.contacts-discussion h2 {
  color: white;
  font-size: 4rem;
  font-family: 'montserrat_bold';
  margin-bottom: 4rem;
}
.contacts-footer {
  width: 100%;
  background-color: #242424;
  position: absolute ;
  bottom: 0;
}
.error-footer {
  background-color: white;
}
.blog {
  position: relative;
  padding-top: 4rem;
  text-align: center;
}
.blog .logo {
  position: absolute;
}
.blog-content {
  margin: 0 auto;
  margin-top: 10rem;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.blog-content .blog-post {
  width: 50%;
  padding: 0 4rem;
  margin-bottom: 8rem;
}
.blog-content .blog-post img {
  width: 100%;
  margin-bottom: 2.5rem;
  height: auto;
}
.blog-content .blog-post h2 {
  font-family: 'montserrat_medium';
  font-size: 3rem;
  min-height: 8rem;
}
.blog-content .blog-post p {
  font-size: 2rem;
  font-family: sans-serif;
}
.blog-content .blog-post .link-wrapper {
  text-align: center;
}
.blog-content .blog-post .link-wrapper a {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  color: black;
  text-decoration: none;
}
.blog-content .blog-post .link-wrapper a:hover {
  color: #5EC8B5;
}
.blog-content .blog-post .link-wrapper a:hover:after {
  color: #5EC8B5;
}
.blog-content .blog-post .link-wrapper a:after {
  font-family: "FontAwesome";
  content: "\f061";
  display: inline-block;
  font-size: 1.6rem;
  padding-left: 1rem;
  vertical-align: middle;
  font-weight: 500;
  color: black;
}
.post-head {
  position: relative;
  max-width: 100rem;
  padding-top: 4rem;
  text-align: center;
  margin: 0 auto;
}
.post-head .logo {
  display: none;
  position: absolute;
  width: 12rem;
}
.post-head .logo img {
  width: 100%;
}
.post-head .post-image img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.post-head .post-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.post-head .post-navigation a {
  font-size: 1.5rem;
  font-family: 'montserrat_regular';
  color: black;
}
.post-head .post-navigation a:hover {
  text-decoration: none;
  color: #5EC8B5;
}
.post-head .post-navigation .post-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  text-align: right;
}
.post-head .post-navigation .post-stats p,
.post-head .post-navigation .post-stats i {
  margin-left: 1rem;
  align-self: center;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.post-head .post-navigation .post-stats .p {
  font-family: 'montserrat_regular';
}
.post-head,
.post-body,
.post-footer {
  padding-left: 0;
  padding-right: 0;
}
.post-body {
  max-width: 100rem;
  padding-top: 1rem;
  margin: 0 auto;
}
.post-body .post-main-img {
  width: 100%;
}
.post-body .post-thumbnail {
  margin-bottom: 1rem;
}
.post-body .post-thumbnail img {
  width: 100%;
  height: auto;
}
.post-body img {
  width: 80%;
  height: auto;
  margin-bottom: 1.5rem;
}
.post-body h2 {
  font-size: 2.2rem ;
  margin-bottom: 1.5rem;
}
.post-body p {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.post-body a {
  font-size: 2rem;
  color: #5EC8B5;
  text-decoration: none;
}
.post-body ul {
  margin-bottom: 1.5rem;
}
.post-body ul li {
  font-size: 1.8rem;
}
.post-footer {
  max-width: 100rem;
  padding-top: 1rem;
  margin: 0 auto;
}
.post-footer .stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.post-footer .stars p {
  font-size: 2rem;
  line-height: 2.3rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.post-footer .line {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #9c9c9c;
}
.post-footer .post-links {
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.post-footer .post-links .next-post,
.post-footer .post-links .prev-post {
  width: 30rem;
}
.post-footer .post-links .next-post a,
.post-footer .post-links .prev-post a {
  font-size: 1.5rem;
  font-family: 'montserrat_medium';
  color: black;
  text-decoration: none;
}
.post-footer .post-links .next-post a:hover,
.post-footer .post-links .prev-post a:hover {
  color: #5EC8B5;
}
.post-footer .post-links .next-post {
  text-align: right;
}
.error {
  text-align: center;
}
.error img {
  width: 45%;
}
.error h1 {
  margin: 2rem 0;
  font-size: 5rem;
  font-family: 'montserrat_bold';
}
.error p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.landing-description {
  margin-top: 10rem;
}
.landing-description .pad {
  margin-top: 4rem;
}
.landing-description h2 {
  font-size: 3rem;
  font-family: 'montserrat_regular';
  margin-bottom: 4rem;
}
.landing-description p {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin-bottom: 4rem;
}
.landing-description ul {
  margin-bottom: 4rem;
}
.landing-description ul li {
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin-bottom: 1rem;
}
.landing-description .comparison {
  display: flex;
  flex-wrap: nowrap;
}
.landing-description .advantages b,
.landing-description .advantages h2 {
  color: #378D00;
}
.landing-description .disadvantages b,
.landing-description .disadvantages h2 {
  color: #FF0000;
}
.prices {
  padding-top: 8rem;
  padding-bottom: 6rem;
  position: relative;
}
.prices .header-dark {
  padding-left: 8.5rem;
}
.prices-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.prices-wrapper .price {
  background-color: #f1f1f1;
  margin: 0 2rem;
  text-align: center;
  width: 32.5rem;
  padding-bottom: 2rem;
  justify-content: space-evenly;
}
.prices-wrapper .price-name {
  background-color: #242424;
  border-bottom: 1px solid #A8A8A8;
}
.prices-wrapper .price-name h3 {
  font-size: 3rem;
  color: white;
  font-family: 'montserrat_bold';
  line-height: 7rem;
  vertical-align: middle;
}
.prices-wrapper .price-qnty {
  background-color: #242424;
}
.prices-wrapper .price-qnty p {
  color: white;
  font-family: 'montserrat_medium';
  font-size: 6rem;
  margin-bottom: 0;
}
.prices-wrapper .price-divider {
  background-color: #5EC8B5;
  min-height: 0.6rem;
}
.prices-wrapper .price-divider p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
}
.prices-wrapper .price-features {
  min-height: 35rem;
}
.prices-wrapper .price-features p {
  font-size: 2rem;
  color: black;
  margin: 1.5rem 0;
}
.prices-wrapper .price-features .blocked {
  color: grey;
  text-decoration: line-through;
}
.prices-wrapper .price-features .price-divider {
  background-color: #5EC8B5;
  min-height: 0.6rem;
}
.prices-wrapper .price-features .price-divider p {
  color: white;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  margin: 0;
}
.prices-wrapper .price-btn {
  width: 80%;
  height: 6rem;
  font-size: 2rem;
  font-family: 'montserrat_regular';
  color: white;
  background-color: #242424;
  border: none;
}
.dev-phases {
  padding-left: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
.dev-phases .header-dark {
  padding-left: 8.5rem;
}
.dev-phases .phases {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dev-phases .phases .phase {
  width: 25%;
  padding-top: 4rem;
  border-right: 1px solid #CECCCC;
}
.dev-phases .phases .phase .circle {
  background-color: #5EC8B5;
  border-radius: 100%;
  margin: 0 auto;
  width: 24rem;
  height: 0;
  padding-bottom: 24rem;
  position: relative;
}
.dev-phases .phases .phase .circle-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.dev-phases .phases .phase .circle-wrapper h3 {
  font-family: 'montserrat_medium';
  font-size: 2rem;
}
.dev-phases .phases .phase .circle-wrapper p {
  font-family: 'montserrat_regular';
  font-size: 1.6rem;
}
.dev-phases .phases .phase ul {
  margin: 4rem auto;
  width: 24.5rem;
}
.dev-phases .phases .phase ul li {
  width: 100%;
  margin: 0 auto;
  font-family: 'montserrat_regular';
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.dev-phases .phases .four {
  border-right: none;
}
.dev-phases .phases .final {
  border-right: none;
}
.dev-phases .phases .final .circle {
  background-color: #242424;
}
.dev-phases .phases .final .circle .circle-wrapper h3,
.dev-phases .phases .final .circle .circle-wrapper p {
  color: white;
}
section {
  background-color: #242424;
  padding-top: 7.5rem;
  padding-right: 8.5rem;
  padding-left: 8.5rem;
}
section .section-header {
  padding: 0 8.5rem;
  margin-bottom: 5rem;
  position: relative;
}
section .section-header h2 {
  color: white;
  font-family: 'montserrat_regular';
  font-size: 4rem;
}
section .section-header .line {
  position: absolute;
  height: 2px;
  width: 17rem;
  top: 6rem;
  left: 0;
  background-color: #5EC8B5;
}
@media (max-width: 1540px) {
  .category-nav {
    justify-content: left;
  }
}
@media (max-width: 1281px) {
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 2.3rem;
  }
}
@media (max-width: 1199px) {
  .post-head,
  .post-body,
  .post-footer {
    max-width: 85rem;
  }
  .post-head {
    padding-top: 8rem;
  }
  .why-us .argument-wrapper .argument h3 {
    font-size: 2.5rem;
  }
  .dev-phases .phases {
    justify-content: left;
  }
  .dev-phases .phases .phase {
    width: 33%;
  }
  .dev-phases .phases .phase .circle {
    width: 23rem;
    padding-bottom: 23rem;
  }
  .dev-phases .phases .phase ul {
    width: 23rem;
  }
  .dev-phases .phases .phase ul li {
    width: 100%;
  }
  .dev-phases .phases .tree,
  .dev-phases .phases .six {
    border-right: none;
  }
  .dev-phases .phases .four,
  .dev-phases .phases .final {
    border-right: 1px solid #cecccc;
  }
}
@media (max-width: 991px) {
  .post-head,
  .post-body,
  .post-footer,
  .footer-post {
    padding: 0 4rem;
    padding-top: 1rem;
    max-width: 100% !important;
  }
  .post-head {
    padding-top: 8rem;
  }
  .post-head h1 {
    font-size: 2.5rem;
  }
  .post-footer .post-links .prev-post a,
  .post-footer .post-links .next-post a {
    font-size: 1.2rem;
  }
  .header-line {
    left: 50%;
    transform: translateX(-50%);
  }
  .phone-btn {
    width: 4rem;
    height: 4rem;
  }
  .why-us {
    padding-right: 0;
  }
  .why-us .argument-wrapper {
    padding: 0;
    padding-left: 2rem;
  }
  .why-us .argument-wrapper .argument {
    margin: 3rem 0;
    width: 50%;
    height: 10rem;
  }
  .how-work {
    padding-right: 2rem;
    padding-left: 4rem;
  }
  .how-work .how-work-content .stage h3 {
    font-size: 2rem;
  }
  .how-work .how-work-content .stage p {
    font-size: 1.8rem;
    min-height: 10rem;
  }
  .portfolio {
    padding: 0 ;
    padding-top: 4rem;
  }
  .portfolio-posts {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-posts .portfolio-item {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .category-nav {
    justify-content: right;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-top: 5rem;
  }
  .category-nav a {
    margin: 0;
    margin-right: 1.5rem;
  }
  .about {
    padding-left: 0;
    padding-right: 0;
  }
  .team {
    padding-bottom: 4rem;
  }
  .team .team-slider {
    margin-bottom: 0;
  }
  .blog-content {
    padding: 4rem 0;
  }
  .contacts {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    text-align: center;
  }
  .contacts h1 {
    margin-bottom: 6rem;
  }
  .contacts .child {
    margin-bottom: 2rem;
  }
  .contacts-footer {
    width: 100%;
    position: static;
  }
  .contacts-footer p {
    text-align: center;
  }
  .contacts-discussion {
    padding-top: 2.5rem;
  }
  .blog {
    padding-left: 0;
    padding-right: 0;
  }
  .blog-content {
    margin-top: 0;
  }
  .blog-content .blog-post {
    width: 100%;
  }
  .price-list {
    margin-right: 0;
  }
  .price-list .price-table {
    margin: 6rem 0;
  }
  .price-list .price-table .header h3 {
    font-size: 2rem;
  }
  .price-list .price-table .line p {
    font-size: 2rem;
  }
  .prices {
    padding: 4rem 0;
  }
  .prices .prices-wrapper {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .prices .prices-wrapper .price {
    margin-bottom: 4rem;
    width: 29%;
  }
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 2rem;
  }
  .prices .prices-wrapper .price .price-features {
    min-height: 28rem;
  }
  .prices .prices-wrapper .price .price-features .price-divider p {
    margin-top: 0;
  }
  .prices .prices-wrapper .price .price-features p {
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  .landing-description {
    margin-top: 0;
    padding: 6rem 0;
  }
  .about {
    padding: 4rem 1rem;
  }
  .about h2 {
    margin-top: 2rem;
  }
  .error {
    padding-left: 0;
    padding-right: 0;
  }
  .error img {
    margin-top: 7rem;
    width: 80%;
  }
  .error h1,
  .error p {
    padding: 0 6rem;
  }
  .portfolio-single-wrapper {
    padding-top: 4rem;
  }
  .portfolio-single-wrapper h2 {
    margin-top: 4rem;
  }
  .portfolio-single-wrapper img {
    width: 90%;
    margin-bottom: 4rem;
  }
  .portfolio-single-wrapper a {
    margin-bottom: 4rem;
  }
  .adaptive-design .devices .ipad {
    width: 60%;
  }
  .adaptive-design .devices .iphone {
    width: 20%;
  }
  .adaptive-design .pages {
    flex-wrap: wrap;
  }
  .adaptive-design .pages img {
    width: 100%;
  }
  .adaptive-design a {
    margin-bottom: 4rem;
  }
  .dev-phases {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .dev-phases .phases {
    margin-top: 8rem;
    justify-content: left;
  }
  .dev-phases .phases .phase {
    width: 33%;
    padding-top: 2rem;
  }
  .dev-phases .phases .phase .circle {
    width: 20rem;
    padding-bottom: 20rem;
  }
  .dev-phases .phases .phase .circle h3 {
    font-size: 1.6rem;
  }
  .dev-phases .phases .phase ul {
    width: 20rem;
  }
  .dev-phases .phases .phase ul li {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .how-work {
    padding-bottom: 4rem;
  }
  .how-work .how-work-content .stage {
    position: relative;
    width: 100%;
    min-height: 21rem;
  }
  .how-work .how-work-content .stage p,
  .how-work .how-work-content .stage h3 {
    margin-left: 3rem;
  }
  .how-work .how-work-content .stage span {
    position: absolute;
    margin-left: 3rem;
    margin-top: 0;
    line-height: 3rem;
  }
  .how-work .how-work-content .stage .dot {
    margin-top: 1rem;
  }
  .how-work .how-work-content .stage h3 {
    font-size: 3rem;
  }
  .how-work .how-work-content .stage p {
    font-size: 2rem;
  }
  .how-work .how-work-content .stage .line {
    top: 1.5rem;
    left: 9px;
    height: 100%;
    width: 2px;
    transform: none;
  }
  .device3,
  .iphone1 {
    display: none;
  }
  .device .why-us {
    padding-left: 0;
  }
  section .header-light,
  section .header-dark {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 5rem;
    text-align: center;
  }
  section .header-line {
    display: none;
  }
  .portfolio-posts .portfolio-item {
    padding: 4rem 4rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
  }
  .portfolio-posts .portfolio-item .portfolio-content,
  .portfolio-posts .portfolio-item .portfolio-image {
    width: 100%;
  }
  .portfolio-posts .portfolio-item .portfolio-content {
    margin: 0 auto;
    width: 90%;
  }
  .portfolio-posts .portfolio-item .portfolio-image {
    width: 90%;
    margin: 4rem auto;
  }
  .portfolio-posts .portfolio-item .portfolio-image img {
    width: 100%;
  }
  .phone-btn {
    left: 0;
  }
  .team .team-slider {
    margin-bottom: 0;
    margin-top: 5rem;
  }
  .about h2 {
    font-size: 3rem;
  }
  .price-list {
    margin-right: 0;
    padding: 2rem 4rem;
  }
  .price-list .price-table {
    margin: 4rem 0;
  }
  .prices .prices-wrapper {
    flex-wrap: wrap;
  }
  .prices .prices-wrapper .price {
    width: 70%;
  }
  .prices .prices-wrapper .price .price-name h3 {
    font-size: 3rem;
  }
  .prices .prices-wrapper .price .price-features p {
    font-size: 2.5rem;
    margin: 1.5rem 0;
  }
  .landing-description {
    padding: 4rem 0;
  }
  .discussion .discussion-content h3 {
    font-size: 2rem;
  }
  .post-body p {
    font-size: 1.8rem;
  }
  .blog .category-nav {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .post-head h1 {
    font-size: 1.8rem;
  }
  .blog-content .blog-post {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 6rem;
  }
  .blog-content .blog-post p {
    font-size: 1.8rem;
  }
  .error img {
    margin-top: 7rem;
    width: 90%;
  }
  .error h1 {
    font-size: 3rem;
  }
  .portfolio-single-wrapper {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .portfolio-single-wrapper img {
    width: 90%;
  }
  .adaptive-design {
    padding: 4rem 2rem;
  }
  .adaptive-design .devices .ipad {
    width: 55%;
  }
  .adaptive-design .pages img {
    padding: 0;
    margin-bottom: 2rem;
  }
  .adaptive-design a {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .contacts h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .contacts .contacts-wrapper .child {
    width: 30rem;
  }
  .contacts .contacts-wrapper .child p {
    font-size: 1.6rem;
  }
  .contacts-discussion h2 {
    font-size: 3rem;
  }
  .contacts-footer {
    position: static;
    display: block;
  }
  .dev-phases .header-dark {
    padding-left: 0;
  }
  .dev-phases .phases {
    justify-content: space-evenly;
  }
  .dev-phases .phases .phase {
    width: 50%;
  }
  .dev-phases .phases .phase .circle {
    width: 23rem;
    padding-bottom: 23rem;
  }
  .dev-phases .phases .phase .circle h3 {
    font-size: 1.8rem;
  }
  .dev-phases .phases .phase ul {
    width: 23rem;
  }
  .dev-phases .phases .phase ul li {
    width: 100%;
  }
  .dev-phases .phases .two,
  .dev-phases .phases .four,
  .dev-phases .phases .six,
  .dev-phases .phases .final {
    border-right: none;
  }
  .dev-phases .phases .one,
  .dev-phases .phases .tree,
  .dev-phases .phases .five,
  .dev-phases .phases .seven {
    border-right: 1px solid #CECCCC;
  }
}
@media (max-width: 545px) {
  .post-head,
  .post-body,
  .post-footer,
  .footer-post {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100% !important;
  }
  .blog-content .blog-post p {
    font-size: 1.6rem;
  }
  .post-body p {
    font-size: 1.6rem;
  }
  .why-us {
    padding: 4rem 2rem;
  }
  .why-us .argument-wrapper .argument {
    width: 100%;
    margin: 2rem 0;
    height: 7rem;
  }
  .why-us .argument-wrapper .argument h3 {
    font-size: 2rem;
  }
  .discussion {
    padding: 0 4rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .footer-dark {
    text-align: center;
    padding: 0 4rem;
  }
  .about {
    padding: 4rem 1rem;
  }
  .about h2 {
    margin-top: 2rem;
  }
  .portfolio-posts .portfolio-item {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .category-nav a {
    font-size: 1.8rem;
  }
  .footer-dark,
  .footer-light {
    text-align: center;
    padding: 4rem 2rem;
    padding-bottom: 1rem;
  }
  .footer-dark p,
  .footer-light p {
    font-size: 1.4rem;
  }
  .default-form .default-form-btn {
    margin-bottom: 2rem;
  }
  .price-list {
    margin-right: 0;
    padding: 4rem 0rem;
  }
  .price-list .price-table .header h3 {
    font-size: 1.8rem;
  }
  .price-list .price-table .line p {
    font-size: 1.8rem;
  }
  .design-samples {
    padding: 4rem 2rem;
  }
  .prices .prices-wrapper .price {
    width: 85%;
  }
  .portfolio-single {
    padding-left: 0;
    padding-right: 0;
  }
  .portfolio-single-wrapper h2 {
    font-size: 3rem;
  }
  .portfolio-single-wrapper p {
    font-size: 1.8rem;
  }
  .adaptive-design {
    padding: 4rem 0;
  }
  .adaptive-design h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .adaptive-design .pages {
    padding: 0 2rem;
  }
  .blog-post {
    margin-bottom: 4rem;
  }
  .dev-phases {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .dev-phases .phases {
    justify-content: center;
  }
  .dev-phases .phases .phase {
    width: 100%;
    border-right: none;
  }
  .dev-phases .phases .phase .circle {
    width: 30rem;
    padding-bottom: 30rem;
  }
  .dev-phases .phases .phase .circle h3 {
    font-size: 2rem;
  }
  .dev-phases .phases .phase ul {
    width: 30rem;
  }
  .dev-phases .phases .phase ul li {
    width: 100%;
    font-size: 1.8rem;
  }
}
