.home-hero.about-us {
  background-image: url(../img/about-us-bg.png);
}
.know-us-better {
  margin-top: 150px;
}
.know-us-better .section-header {
  margin-bottom: 80px;
}
.know-us-better .content-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.know-us-better .content-1 .small {
  display: block;
  width: 100%;
  margin: 0 0 40px;
  color: #1A3E58;
}
.know-us-better .content-1 p {
  max-width: 660px;
  margin-bottom: 0;
}
.know-us-better .content-1 p b {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #CCA06F;
}
.know-us-better .content-1 p + p {
  margin-top: 20px;
}
@media (max-width: 1399.98px) {
  .know-us-better .section-header {
    margin-bottom: 60px;
  }
  .know-us-better .content-1 .small {
    margin-bottom: 20px;
  }
}
@media (max-width: 1199.98px) {
  .know-us-better .content-1 .small {
    margin-bottom: 10px;
  }
  .know-us-better .content-2 img {
    height: 340px;
    object-fit: cover;
  }
}
@media (max-width: 991.98px) {
  .know-us-better .content-1 {
    margin-top: 30px;
    order: 2;
  }
  .know-us-better .content-2 {
    order: 1;
  }
  .know-us-better .content-2 img {
    height: auto;
  }
}
@media (max-width: 575.98px) {
  .know-us-better {
    margin-top: 80px;
  }
  .know-us-better .section-header {
    margin-bottom: 22px;
    font-size: 35px;
    line-height: 137%;
  }
  .know-us-better .content-1 {
    padding: 0 30px;
  }
  .know-us-better .content-1 h3 {
    font-size: 25px;
    line-height: 137%;
  }
  .know-us-better .content-2 img {
    height: 280px;
    object-fit: cover;
  }
}
.icons-banner {
  margin-top: 163px;
  background: #CCA06F;
  padding: 110px 0 130px;
}
.icons-banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.icons-banner-wrapper-item {
  width: calc(33.33333333%);
}
.icons-banner-wrapper-item .image-wrapper {
  text-align: center;
  min-height: 90px;
}
.icons-banner-wrapper-item .image-wrapper img {
  width: 90px;
  height: auto;
}
.icons-banner-wrapper-item h3 {
  max-width: 400px;
  margin: 20px auto 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  color: #1E3E55;
}
.icons-banner-wrapper-item p {
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #1E3E55;
}
@media (max-width: 1199.98px) {
  .icons-banner {
    padding: 80px 0 100px;
  }
  .icons-banner-wrapper-item {
    width: 28%;
  }
}
@media (max-width: 991.98px) {
  .icons-banner {
    padding: 80px 0 100px;
  }
  .icons-banner-wrapper {
    align-items: flex-start;
  }
  .icons-banner-wrapper-item {
    width: 32%;
  }
  .icons-banner-wrapper-item .image-wrapper {
    min-height: 105px;
  }
  .icons-banner-wrapper-item h3 {
    font-size: 28px;
  }
  .icons-banner-wrapper-item p {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .icons-banner {
    padding: 80px 0 100px;
  }
  .icons-banner-wrapper {
    align-items: flex-start;
    justify-content: center;
    row-gap: 40px;
  }
  .icons-banner-wrapper-item {
    width: 50%;
  }
  .icons-banner-wrapper-item .image-wrapper {
    min-height: 105px;
  }
  .icons-banner-wrapper-item h3 {
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
  }
  .icons-banner-wrapper-item p {
    font-weight: 400;
    margin-top: 10px;
    font-size: 14px;
    line-height: 21px;
  }
  .icons-banner-wrapper-item p br {
    display: none;
  }
  .icons-banner-wrapper-item.item-2 {
    order: 1;
  }
  .icons-banner-wrapper-item.item-1 {
    order: 2;
  }
  .icons-banner-wrapper-item.item-3 {
    order: 3;
    width: 65%;
  }
}
.team {
  margin-top: 225px;
}
.team .small {
  font-weight: 700;
  color: #1A3E58;
}
.team-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
}
.team-wrapper-item {
  position: relative;
  max-width: 338px;
}
.team-wrapper-item .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 73px 10px 47px;
  background: linear-gradient(180deg, rgba(26, 62, 88, 0.08) 0%, #1a3e58 24.79%);
  text-align: center;
}
.team-wrapper-item .details h3 {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
}
.team-wrapper-item .details p {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1399.98px) {
  .team-wrapper-item {
    max-width: none;
    width: 23%;
  }
  .team-wrapper-item img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1199.98px) {
  .team-wrapper-item {
    max-width: none;
    width: 32%;
  }
  .team-wrapper-item img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .team-wrapper {
    row-gap: 15px;
  }
  .team-wrapper-item {
    max-width: none;
    width: 32%;
  }
  .team-wrapper-item img {
    width: 100%;
    height: auto;
  }
  .team-wrapper-item .details h3 {
    font-size: 13px;
    line-height: 20px;
  }
  .team-wrapper-item .details p {
    font-size: 11px;
    line-height: 16px;
  }
}
@media (max-width: 575.98px) {
  .team {
    margin-top: 60px;
  }
  .team .section-header.small {
    font-size: 30px;
    line-height: 137%;
  }
  .team-wrapper-item {
    max-width: none;
    width: 48%;
  }
  .team-wrapper-item img {
    width: 100%;
    height: auto;
  }
  .team-wrapper-item .details {
    padding-top: 40px;
    padding-bottom: 26px;
  }
  .team-wrapper-item .details h3 {
    margin-bottom: 0;
  }
  .team-wrapper-item .details p {
    margin-top: 5px;
    margin-bottom: 0;
  }
}
.get-consultation.about {
  margin-top: 255px;
}
