.contact-info{
  margin-top: 150px;
  .section-header{
    font-weight: 700;
    font-size: 75px;
    line-height: 143.5%; 
    color: #CCA06F;
  }
  .form-header{
    margin-top: 80px;
    font-weight: 700;
    font-size: 55px;
    line-height: 121.75%;  
    color: #1A3E58;
  }
  &-wrapper{
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    .main-form{
      width: 50%;
      margin: 0;
      max-width: none;
      text-align: end;
    }
    .map{
      position: relative;
      width: 50%;
      padding-left: 20px;
      iframe{
        width: 100%;
        height: 365px;
      }
    }
  }
}

.main-banner.contacts{
  margin-top: 290px;
}

@media (max-width: 1199.98px) { 
  .contact-info{
    .form-header{
      margin-top: 60px;
      width: 60%;
    }
  }
  .main-banner.contacts{
    margin-top: 140px;
  }

}

@media (max-width: 991.98px) { 
  .contact-info{
    .form-header{
      width: 75%;
    }
  }
}



@media (max-width: 575.98px) { 
  .contact-info{
    .section-header{
      font-size: 40px;
      line-height: 137%;
      text-align: start;
    }
    .form-header{
      width: 100%;
      font-size: 35px;
      line-height: 121.75%;
    }
    &-wrapper{
      .main-form{
        width: 100%;
        text-align: center;
      }
      .map{
        width: 100%;
        margin-top: 58px;
        padding-left: 0;
      }
    }
  }
  .main-banner.contacts{
    margin-top: 80px;
    .banner-header{
      max-width: none;
      margin: 0 auto;
      font-size: 35px;
      line-height: 42px;
    }
  }
}





.schedule{
  margin-top: 225px;
  margin-bottom: 144px;
  .schedule-wrapper{
    display: flex;
    flex-wrap: wrap;
    .schedule-title{
      font-weight: 700;
      font-size: 40px;
      line-height: 137%;
      color: #CCA06F;
    }
    &-contacts{
      width: 50%;
      &-item{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        gap: 14px;

        svg{
          path{
            fill: #CCA06F;
          }
        }
        
        span,a{
          max-width: 350px;
          font-weight:300;
          font-size: 30.75px;
          line-height: 143.5%;
          color: #1A3E58;
          text-decoration: none;
          b{
            font-weight: 500;
          }
        }
      }
    }
    &-hours{
      width: 50%;
      &-item{
        width: 100%;
        display: flex;
        align-items:center;
        gap: 10px;
        p{
          margin-bottom: 0;
          font-weight: 400;
          font-size: 30px;
          line-height: 143.5%;      
          color: #1A3E58;
        }
        span{
          display: inline-block;
          font-size: 30px;
          line-height: 143.5%;  
          border-bottom:  1px solid #CCA06F;
          flex: 1;
          transform: translateY(10px);
          
        }
        .hours{
          font-family: 'Cormorant Garamond';
          font-weight: 500;
          font-size: 35px;
          line-height: 143.5%;
          color: #1A3E58;
        }
      }
    }
  }
}


@media (max-width: 991.98px) { 
  .schedule{
    margin-top: 125px;
  }
}

@media (max-width: 767.98px) { 

}

@media (max-width: 575.98px) { 
  .schedule{
    margin-top: 67px;
    .container{
      padding: 0 40px;
    }
    .schedule-wrapper{
      
      flex-wrap: wrap;
      &-contacts{
        width: 100%;
        .schedule-title{
          margin-bottom: 54px;
          font-size: 35px;
          line-height: 137%;
        }
        &-item{
          svg{
            width: 25px;
            height: 25px;
          }
          span{
            font-size: 18px;
            line-height: 143.5%;
            
          }
          &.item-1{
            span{
              br{
                display: none;
              }
            }
          }
        }
      }
      &-hours{
        width: 100%;
        .schedule-title{
          margin-bottom: 46px;
          font-size: 35px;
          line-height: 137%;
        }
        &-item{
          p{
            margin-right: 30px;
            font-size: 18px;
            line-height: 143.5%;
          }
          .hours{
            margin-right: 0;
            font-size: 22px;
            line-height: 143.5%;
            flex-basis: 98px;
          }
        }
      }
    }
  }
}