.footer{
  padding: 100px 0 50px;
  background: #1A3E58;
  .footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    .info-strip{
      .logo{
        margin-bottom: 18px;
      }
      &-item{
        margin-top: 24px;
        display: flex;
        align-items: center;
        gap: 14px;

        svg{
          path{
            fill: #CCA06F;
          }
        }
        
        span,a{
          max-width: 172px;
          font-weight: 500;
          font-size: 16px;
          line-height: 143.5%;   
          color: #FFFFFF;
          text-decoration: none;
        }
      }
    }
    .navigation li a{
      color: #FFFFFF;
    }
  }
  .copywright{
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.11em;
    color: #FFFFFF;
  }
}