.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 48px;
}
.header .info-strip {
  display: flex;
  justify-content: end;
  margin-bottom: 25px;
}
.header .info-strip-item {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.header .info-strip-item span,
.header .info-strip-item a {
  margin-left: 10px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 143.5%;
  color: #1A3E58;
  text-decoration: none;
}
.header-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-top: 1px solid #1A3E58;
  border-bottom: 1px solid #1A3E58;
}
.header-body .logo {
  max-width: 270px;
  height: auto;
}
.navigation {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.navigation li a {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 143.5%;
  color: #1A3E58;
  text-decoration: none;
}
.mobile-menu {
  display: none;
}
@media (max-width: 1199.98px) {
  .info-strip {
    margin-bottom: 24px;
  }
  .header {
    padding-top: 24px;
  }
  .header-body {
    padding: 15px 0;
  }
  .navigation {
    gap: 25px;
  }
  .navigation li a {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .header-body {
    border: none;
  }
  .header-body .logo {
    width: 140px;
    height: auto;
  }
  .header-body .navigation {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: #9FAEB9;
    display: none;
    overflow: hidden;
  }
  .mobile-menu.active {
    display: block;
  }
  .mobile-menu-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu-wrapper .navigation {
    margin-top: 200px;
    display: block;
    text-align: center;
    justify-self: center;
    align-items: center;
  }
  .mobile-menu-wrapper .navigation li {
    margin-top: 48px;
  }
  .mobile-menu-wrapper .info-strip {
    width: 100%;
    justify-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: auto;
  }
  .mobile-menu-wrapper .info-strip-item {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
  }
  .mobile-menu-wrapper .info-strip-item span,
  .mobile-menu-wrapper .info-strip-item a {
    margin-left: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 143.5%;
    color: #1A3E58;
    text-decoration: none;
  }
  .mobile-menu-wrapper .info-strip .copyright {
    width: 100%;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.11em;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .mobile-menu .close-btn {
    position: absolute;
    top: 35px;
    right: 35px;
  }
  body.active {
    overflow: hidden;
  }
}
@media (max-width: 575.98px) {
  .mobile-menu-wrapper .navigation {
    margin-top: 166px;
  }
  .mobile-menu-wrapper .navigation li {
    margin: 0 0 48px;
  }
  .mobile-menu-wrapper .navigation li:last-child {
    margin-bottom: 0;
  }
  .mobile-menu-wrapper .navigation li a {
    font-size: 20px;
    font-weight: 700;
  }
  .mobile-menu-wrapper .info-strip {
    padding-top: 35px;
    border-top: 1px solid #1A3E58;
    gap: none;
    justify-content: space-evenly;
  }
  .mobile-menu-wrapper .info-strip-item {
    width: 50%;
    margin: 23px 0 0;
    justify-content: center;
  }
}
