.home-hero {
  height: 1040px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/hero-image.jpg);
}
.home-hero .content {
  text-align: center;
}
.home-hero .page-header {
  margin-top: 10px;
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 143.5%;
  color: #FFFFFF;
  text-align: center;
}
.home-hero .page-description {
  max-width: 790px;
  margin: 0 auto 43px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 143.5%;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1199.98px) {
  .home-hero .page-header {
    font-size: 50px;
  }
}
@media (max-width: 991.98px) {
  .home-hero .page-header {
    font-size: 40px;
  }
  .home-hero .page-description {
    font-size: 23px;
    line-height: 34px;
  }
}
@media (max-width: 575.98px) {
  .home-hero {
    background-position: left -670px bottom -60px;
    height: 100vh;
  }
  .home-hero .page-description {
    max-width: 272px;
    margin: 33px auto 33px;
  }
}
.clinics {
  padding-top: 166px;
  padding-bottom: 195px;
  background-image: url(../img/clinics-bg.jpg);
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.clinics .section-header {
  text-align: center;
  line-height: 91px;
}
.clinics-wrapper {
  margin: 30px auto 0;
  max-width: 1400px;
  display: flex;
}
.clinics-wrapper .content {
  flex-basis: 560px;
  padding: 40px 40px 50px 50px;
  background: #1A3E58;
}
.clinics-wrapper .content h3 {
  max-width: 350px;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #CCA06F;
}
.clinics-wrapper .content p {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 143.5%;
  color: rgba(255, 255, 255, 0.8);
}
.clinics-wrapper .content .btn {
  margin-top: 34px;
}
.clinics-wrapper .clinic-card {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}
.clinics-wrapper .clinic-card img {
  height: 100%;
  object-fit: cover;
}
.clinics-wrapper .clinic-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 22px 36px 33px 28px;
  background: rgba(26, 62, 88, 0.9);
}
.clinics-wrapper .clinic-card-content h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  color: rgba(255, 255, 255, 0.8);
}
.clinics-wrapper .clinic-card-content p {
  margin-top: 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 143.5%;
  color: rgba(255, 255, 255, 0.8);
  min-height: 70px;
}
.clinics.single-clinic .clinics-wrapper .clinic-card img {
  width: 100%;
  height: 574px;
}
@media (max-width: 1399.98px) {
  .clinics .clinics-wrapper .clinic-card-content {
    padding-right: 18px;
  }
}
@media (max-width: 1199.98px) {
  .clinics .clinics-wrapper {
    flex-wrap: wrap;
  }
  .clinics .clinics-wrapper .content {
    width: 100%;
    flex-basis: auto;
  }
  .clinics .clinics-wrapper .clinic-card {
    width: 50%;
  }
  .clinics .clinics-wrapper .clinic-card img {
    width: 100%;
  }
  .clinics .clinics-wrapper .clinic-card-content {
    padding-right: 18px;
  }
}
@media (max-width: 575.98px) {
  .clinics {
    padding-top: 0;
    padding-bottom: 85px;
    background-image: url(../img/clinics-bg-mob.png);
  }
  .clinics .container {
    margin: 0;
    padding: 0;
  }
  .clinics .clinics-wrapper {
    margin-top: 0;
    justify-content: space-evenly;
  }
  .clinics .clinics-wrapper .content {
    padding: 75px 27px 43px 40px;
  }
  .clinics .clinics-wrapper .content h3 {
    font-size: 35px;
    text-align: center;
  }
  .clinics .clinics-wrapper .content .btn-gold {
    display: inline-block;
    margin: 0 auto ;
  }
  .clinics .clinics-wrapper .section-header {
    width: 100%;
    margin-top: 58px;
    text-align: center;
  }
  .clinics .clinics-wrapper .clinic-card {
    width: 48%;
    flex-grow: unset;
  }
  .clinics .clinics-wrapper .clinic-card img {
    width: 100%;
    height: 217px;
    object-fit: cover;
  }
  .clinics .clinics-wrapper .clinic-card-content {
    position: static;
    transform: none;
  }
}
.popular-treatments {
  padding: 82px 0 103px;
  background: #1A3E58;
  text-align: center;
}
.popular-treatments-wrapper {
  max-width: 1400px;
  margin: 54px auto;
  display: flex;
  flex-wrap: wrap;
}
.popular-treatments-wrapper-item {
  width: 25%;
  border-right: 1px solid #CCA06F;
  text-align: center;
  padding: 50px 0px;
}
.popular-treatments-wrapper-item .image-wrapper {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular-treatments-wrapper-item img {
  width: auto;
}
.popular-treatments-wrapper-item h3 {
  margin: 80px auto 0;
  max-width: 215px;
  min-height: 76px;
  font-weight: 700;
  font-size: 28px;
  line-height: 137%;
  text-align: center;
  color: #CCA06F;
}
.popular-treatments-wrapper-item p {
  max-width: 254px;
  min-height: 102px;
  margin: 24px auto ;
  font-weight: 500;
  font-size: 18px;
  line-height: 137%;
  text-align: center;
  color: #FFFFFF;
}
.popular-treatments-wrapper-item:last-child {
  border: none;
}
.popular-treatments .section-sub-header {
  max-width: 433px;
  margin: 80px auto 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.popular-treatments .btn-gold {
  width: auto;
  padding: 18px 23px;
  display: inline-block;
  margin: 0 auto;
}
@media (max-width: 1199.98px) {
  .popular-treatments-wrapper-item p {
    padding: 0 10px;
    font-size: 16px;
    line-height: 137%;
  }
}
@media (max-width: 991.98px) {
  .popular-treatments-wrapper-item {
    width: 50%;
    border: none;
  }
  .popular-treatments-wrapper-item h3 {
    margin-top: 24px;
  }
}
@media (max-width: 575.98px) {
  .popular-treatments .section-sub-header {
    margin-top: 40px;
  }
}
.why-wait {
  margin: 135px 0;
}
.why-wait .section-description {
  margin-top: 27px;
  max-width: 697px;
  font-weight: 500;
  font-size: 18px;
  line-height: 137%;
  color: #1A3E58;
}
.why-wait .steps {
  margin-top: 58px;
  display: flex;
}
.why-wait .steps-item {
  position: relative;
  width: calc(33.33333333%);
  padding: 50px;
  overflow: hidden;
}
.why-wait .steps-item img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: -60px;
}
.why-wait .steps-item h3 {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  color: #1A3E58;
}
.why-wait .steps-item p {
  position: relative;
  z-index: 3;
  margin-top: 50px;
  min-height: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 137%;
  color: #000000;
}
.why-wait .steps .item-1 {
  background: rgba(204, 160, 111, 0.5);
}
.why-wait .steps .item-2 {
  background: #CCA06F;
}
.why-wait .steps .item-3 {
  background: rgba(204, 160, 111, 0.8);
}
@media (max-width: 1399.98px) {
  .why-wait .steps-item {
    padding: 30px;
    padding-right: 15px;
  }
  .why-wait .steps-item img {
    top: auto;
    bottom: 0;
    height: 80%;
  }
}
@media (max-width: 991.98px) {
  .why-wait .steps {
    flex-wrap: wrap;
  }
  .why-wait .steps-item {
    padding: 50px;
    width: 100%;
  }
  .why-wait .steps-item p {
    margin-top: 20px;
    min-height: 120px;
  }
}
@media (max-width: 575.98px) {
  .why-wait {
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .why-wait .container .steps-item {
    padding: 50px 16px 50px 40px;
  }
  .why-wait .container .steps-item p {
    margin-top: 50px;
    min-height: 150px;
  }
  .why-wait .container .steps .item-2 img {
    height: 100%;
    left: auto;
    right: 0;
    transform: translateX(60px);
  }
}
.main-banner {
  padding: 80px 0px;
  text-align: center;
  background-image: url(../img/banner-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.main-banner .banner-header {
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #FFFFFF;
  text-align: center;
}
.main-banner p {
  margin-top: 22px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
}
.main-banner .btn {
  margin-top: 43px;
}
@media (max-width: 575.98px) {
  .main-banner {
    padding-inline-start: 100px 0 115px ;
  }
  .main-banner .banner-header {
    max-width: 235px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  .main-banner p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}
.advantages {
  margin-top: 153px;
}
.advantages .section-header {
  text-align: center;
}
.advantages-wrapper {
  margin-top: 33px;
}
.advantages-wrapper .advantages-item {
  display: flex;
  flex-wrap: wrap;
}
.advantages-wrapper .advantages-item img {
  width: 50%;
  height: auto;
}
.advantages-wrapper .advantages-item .content {
  width: 50%;
  padding-left: 70px;
  background: #CCA06F;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.advantages-wrapper .advantages-item .content h3 {
  max-width: 752px;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  color: #1A3E58;
}
.advantages-wrapper .advantages-item .content p {
  margin-top: 42px;
  max-width: 640px;
  font-weight: 500;
  font-size: 18px;
  line-height: 137%;
  color: #FFFFFF;
}
.advantages-wrapper .item-2 img {
  order: 2;
}
.advantages-wrapper .item-2 .content {
  order: 1;
  background: #1A3E58;
}
.advantages-wrapper .item-2 .content h3 {
  color: #CCA06F;
}
@media (max-width: 1399.98px) {
  .advantages-wrapper .advantages-item .content {
    padding: 35px;
  }
}
@media (max-width: 991.98px) {
  .advantages-wrapper .advantages-item {
    width: 100%;
  }
  .advantages-wrapper .advantages-item img {
    order: 1;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .advantages-wrapper .advantages-item .content {
    order: 2;
    width: 100%;
  }
  .advantages-wrapper .advantages-item .content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  .advantages-wrapper .advantages-item .content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
  }
  .advantages-wrapper .item img {
    order: 1;
  }
  .advantages-wrapper .item .content {
    order: 2;
  }
}
@media (max-width: 575.98px) {
  .advantages {
    margin-top: 100px;
  }
  .advantages .section-header {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 50px;
    line-height: 137%;
  }
  .advantages-wrapper .advantages-item img {
    height: auto;
  }
  .advantages-wrapper .advantages-item .content {
    padding: 36px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .advantages-wrapper .advantages-item .content p {
    max-width: 340px;
  }
}
.special-offers {
  margin-top: 144px;
}
.special-offers .section-header {
  text-align: center;
}
.special-offers-wrapper {
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.special-offers-wrapper .special-offer-item {
  width: 50%;
  padding: 0 10px;
  display: flex;
}
.special-offers-wrapper .special-offer-item .content {
  padding-left: 32px;
  background: #1A3E58;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.special-offers-wrapper .special-offer-item .content h3 {
  margin-bottom: 0;
  max-width: 170px;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  color: #CCA06F;
}
.special-offers-wrapper .special-offer-item .content h3 sub {
  margin: 0 13px;
  text-decoration: line-through;
  font-weight: 300;
  font-size: 33px;
  line-height: 40px;
}
.special-offers-wrapper .special-offer-item .content p {
  margin: 10px 0 0;
  max-width: 337px;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 1399.98px) {
  .special-offers-wrapper .special-offer-item img {
    height: auto;
    width: 240px;
  }
  .special-offers-wrapper .special-offer-item .content {
    flex: 1;
  }
}
@media (max-width: 1199.98px) {
  .special-offers-wrapper .special-offer-item img {
    height: 100%;
    object-fit: cover;
    width: 160px;
  }
  .special-offers-wrapper .special-offer-item .content {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
  }
}
@media (max-width: 991.98px) {
  .special-offers-wrapper .special-offer-item img {
    height: 100%;
    object-fit: cover;
    width: 160px;
  }
  .special-offers-wrapper .special-offer-item .content {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
  }
  .special-offers-wrapper .special-offer-item .content h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
  .special-offers-wrapper .special-offer-item .content h3 sub {
    font-size: 20px;
  }
  .special-offers-wrapper .special-offer-item .content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 575.98px) {
  .special-offers {
    margin-top: 87px;
  }
  .special-offers .section-header {
    font-size: 60px;
  }
  .special-offers-wrapper .special-offer-item {
    width: 100%;
  }
  .special-offers-wrapper .special-offer-item img {
    width: 160px;
    height: auto;
  }
  .special-offers-wrapper .special-offer-item .content {
    padding-left: 18px;
  }
}
.reviews {
  margin-top: 150px;
  padding: 100px 0 130px;
  background: #CCA06F;
}
.reviews .section-header {
  color: #1A3E58;
  text-align: center;
}
.reviews-slider {
  max-width: 1130px;
  margin: 60px auto 0;
}
.reviews-slider-item {
  padding: 50px 190px;
  background: #FFFFFF;
}
.reviews-slider-item p {
  font-weight: 400;
  font-size: 35px;
  line-height: 112.11%;
  text-align: center;
  color: #383838;
}
.reviews-slider-item p b {
  color: #1A3E58;
  font-weight: 500 ;
}
.reviews-slider-item .reviews-meta {
  margin: 5px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.reviews-slider-item .reviews-meta .start-wrapper {
  display: flex;
  gap: 5px;
}
.reviews-slider-item .reviews-meta .client-name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 112.11%;
  color: #383838;
}
.reviews-slider .slick-dots li button {
  opacity: 1;
}
.reviews-slider .slick-dots li button:before {
  opacity: 1;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #C4C4C4;
}
.reviews-slider .slick-dots li.slick-active button::before {
  background: #1A3E58;
}
@media (max-width: 1199.98px) {
  .reviews {
    padding: 100px 50px 130px;
  }
  .reviews-slider {
    max-width: none;
  }
  .reviews-slider-item {
    padding: 50px 100px;
  }
}
@media (max-width: 991.98px) {
  .reviews {
    padding: 100px 50px 130px;
  }
  .reviews-slider {
    margin: 0 10px;
  }
  .reviews-slider-item {
    padding: 50px 50px;
  }
  .reviews-slider-item p {
    font-size: 25px;
    line-height: 112.11%;
  }
  .reviews-slider-item .reviews-meta .client-name {
    font-size: 14px;
    line-height: 112.11%;
  }
  .reviews-slider .slick-dots {
    transform: translateY(20px);
  }
}
@media (max-width: 575.98px) {
  .reviews {
    padding: 58px 5px 88px;
  }
  .reviews .section-header {
    font-weight: 700;
    font-size: 50px;
    line-height: 137%;
  }
  .reviews-slider-item P {
    margin-bottom: 0;
  }
  .reviews-slider-item .reviews-meta .client-name {
    font-weight: 600;
    margin-top: 60px;
  }
  .reviews-slider-item .stars-wrapper {
    display: none;
  }
}
.get-consultation {
  margin-top: 152px;
  margin-bottom: 145px;
}
.get-consultation .section-header {
  text-align: center;
  font-size: 55px;
  line-height: 67px;
}
.get-consultation .section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #1A3E58;
  text-align: center;
}
@media (max-width: 575.98px) {
  .get-consultation {
    margin: 100px auto 63px;
    padding: 0 16px;
  }
  .get-consultation .section-header {
    font-size: 60px;
  }
  .get-consultation .section-description {
    margin: 25px auto 30px;
  }
}
.main-form {
  margin: 40px auto 0;
  max-width: 676px;
  text-align: center;
}
.main-form input,
.main-form textarea {
  width: 100%;
  margin-top: 30px;
  padding: 14px 28px;
  background: #FFFFFF;
  border: 1px solid #CCA06F;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #CCA06F;
}
.main-form input::placeholder,
.main-form textarea::placeholder {
  color: inherit;
}
.main-form input:focus,
.main-form textarea:focus {
  outline: none;
}
.main-form input:first-child {
  margin-top: 0;
}
.main-form .textare {
  min-height: 150px;
}
.main-form .btn {
  padding: 13px 40px;
  margin-top: 36px;
}
