.pricelist {
  margin-top: 150px;
}
.pricelist .table-name {
  font-weight: 700;
  font-size: 55px;
  line-height: 121.75%;
  color: #1A3E58;
}
.pricelist .price-table {
  width: 100%;
  margin-top: 35px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 121.75%;
  color: #1E3E55;
  border-collapse: separate;
}
.pricelist .price-table .price-table-row {
  width: 100%;
  display: flex;
  padding: 16px 45px 0;
}
.pricelist .price-table .price-table-row .service {
  flex-basis: 600px;
}
.pricelist .price-table .price-table-row .price {
  flex: 1;
}
.pricelist .price-table .price-table-head {
  padding: 16px 45px;
  margin-bottom: 24px;
  background: #1E3E55;
  color: white;
}
.pricelist .price-table + .table-name {
  margin-top: 122px;
}
.get-consultation.prices {
  margin-top: 200px;
}
