.home-hero.prices {
  background-image: url(../img/prices-bg.png);
}
.pricelist {
  margin-top: 150px;
}
.pricelist .table-name {
  font-weight: 700;
  font-size: 55px;
  line-height: 121.75%;
  color: #1A3E58;
}
.pricelist .price-table {
  width: 100%;
  margin-top: 35px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 121.75%;
  color: #1E3E55;
  border-collapse: separate;
}
.pricelist .price-table .price-table-row {
  width: 100%;
  display: flex;
  padding: 16px 45px 0;
}
.pricelist .price-table .price-table-row .service {
  flex-basis: 600px;
}
.pricelist .price-table .price-table-row .price {
  flex: 1;
}
.pricelist .price-table .price-table-head {
  padding: 16px 45px;
  margin-bottom: 24px;
  background: #1E3E55;
  color: white;
}
.pricelist .price-table + .table-name {
  margin-top: 122px;
}
@media (max-width: 1399.98px) {
  .pricelist .price-table .price-table-row .service {
    flex-basis: 400px;
  }
}
@media (max-width: 1199.98px) {
  .pricelist .price-table .price-table-row {
    font-size: 24px;
  }
  .pricelist .price-table .price-table-row .service {
    flex-basis: 300px;
  }
}
@media (max-width: 991.98px) {
  .pricelist .price-table .price-table-row {
    font-size: 24px;
  }
  .pricelist .price-table .price-table-row .service {
    flex-basis: 220px;
  }
}
@media (max-width: 575.98px) {
  .pricelist {
    margin-top: 80px;
  }
  .pricelist .section-header {
    font-size: 40px;
    line-height: 137%;
    margin-bottom: 36px;
  }
  .pricelist .table-name {
    max-width: 307px;
    font-size: 35px;
    line-height: 121.75%;
  }
  .pricelist .price-table .price-table-row {
    padding: 5px 15px;
    font-size: 16px;
    line-height: 121.75%;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .pricelist .price-table .price-table-row .service {
    flex-basis: 125px;
  }
  .pricelist .price-table .price-table-row .price {
    flex-basis: 110px;
  }
  .pricelist .price-table .price-table-head .price span {
    display: none;
  }
}
.get-consultation.prices {
  margin-top: 200px;
}
