.home-hero{ 
  &.reviews-hero{
    background-image: url(../img/reviews-bg.png);
  }
}


.reviews-header{
  margin-top: 150px;
  .section-description{
    margin-top: 80px;
    max-width: 1010px;
    margin-bottom: 0;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 121.75%; 
    color: #1A3E58;
  }
}

@media (max-width: 575.98px) { 
.reviews-header{
  margin-top: 61px;
  .section-header{
    
    font-weight: 700;
    font-size: 40px;
    line-height: 137%;
    color: #CCA06F;
  }
  .section-description{
    margin-top: 36px;
  }
}
}

.review{
  margin-top: 70px;
  background: #1A3E58;
  padding: 57px 0 110px ;
  position: relative;
  overflow: hidden;
  .number{
    position: absolute;
    bottom: 7px;
    right: 103px;
    z-index: 2;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 450px;
    line-height: 1; 
    color: #CCA06F;
    font-variant-numeric: normal;
  }

  .content-1{
    position: relative;
    z-index: 3;
  }
  .content-2{
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    iframe{
      width: 700px;
      aspect-ratio: 16 / 9;
    }
  }
  .section-header{
    color: #CCA06F;
  }
  .section-desctiption{
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 137%;
    color: #FFFFFF;
  }
  .related-treatments{
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    &-item{
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      align-items:center;
      gap: 24px;

      img{
        width: 78px;
        height: auto;
      }
      p{
        width: 114px;
        font-weight: 500;
        font-size: 18px;
        line-height: 137%;    
        color: #FFFFFF;
      }
    }
    
  }
  .quote{
    max-width: 550px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 28px;
    line-height: 112.11%;  
    color: #FFFFFF;
  }
  .star-wrapper{
    display: flex;
    gap: 10px;
  }
}
.footer.reviews{
  margin-top: 195px;
}


@media (max-width: 991.98px) { 
  .footer.reviews{
    margin-top: 90px;
  }
}


@media (max-width: 1399.98px) { 
  .review{
    .number{
      bottom: 0;
      right: 0;
    }
  }
}



@media (max-width: 991.98px) { 
  .review{
    .content-2{
      margin-top: 70px;
    }
  }
}


@media (max-width: 575.98px) { 
  .review{
    .number{
      font-family: 'Times New Roman', Times, serif;
      
      top: 0;
      bottom: auto;
      right: -30px;
      font-size: 250px;
      line-height: 250px;
      text-align: start;
    }
    .section-header{
      font-weight: 700;
      font-size: 40px;
      line-height: 137%;
    }
    .container-fluid{
      padding: 0 40px;
    }
    .section-description{
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: justify;
      color: #FFFFFF;
    }
    .related-treatments{
      &-item{
        p{
          margin-top: 5px;
        }
      }
    }
    .quote{
      font-weight: 400;
      font-size: 22px;
      line-height: 112.11%;
      text-align: center;

      color: #FFFFFF;
    }
    .stars-wrapper{
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}

