@font-face {
    font-family: 'EuropeCond';
    src: url('EuropeCond.woff2') format('woff2'),
        url('EuropeCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EuropeCond';
    src: url('EuropeCond-Bold.woff2') format('woff2'),
        url('EuropeCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

