/*
ABOUT PAGE ///////////////////////////
*/


.about-page{
  .content{
    width: 580px;
    margin-bottom: 105px;
    .hero-header{
      width: 100%;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 64px;
      line-height: 70px;
      color: #FFFFFF;
    }
    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #F9F9F9;
    }
  }
}

@media (max-width: 991.98px) { 
  .about-page{
    .content{
      margin-bottom: 48px;
      .hero-header{
        margin-bottom: 10px;
      }
    }
  }
}


@media (max-width: 575.98px) { 
  .about-page{
    .hero-bg{
      position: static;
    }
    .content{
      text-align: center;
      width: 100%;
      .hero-header{
        color: #161616;
        width: auto;
        white-space: normal;
      }
      p{
        display: none;
      }
    }
  }
}

.extra-large{
  &-content{
    
    padding: 70px 0 120px;
    .section-header{
      width: auto;
      max-width: 360px;
      margin-bottom: 25px;
      font-weight: 500;
      font-size: 42px;
      line-height: 52px;
      letter-spacing: -0.01em;
      color: #F9F9F9;
    }
    
    p{
      margin-top: 20px;
      width: auto;
      max-width: 635px;
    }
    .btn{
      margin-top: 56px;
      text-transform: none;
    }
  }
}


@media (max-width: 991.98px) { 
  .extra-large{
    .bg-img{
      right: auto;
      left: 0;
    }
    &-content{
      padding-top: 34px;
      padding-left: 35%;
      padding-bottom: 34px;
      .btn{
        margin-top: 25px;
      }
    }
    .section-header{
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
  }
}

@media (max-width: 575.98px) { 
  .extra-large{
    &-content{
      padding-left: 0;
      text-align: start;
      padding-bottom: 0;
      .btn{
        text-align: center;
        color: #FFFFFF;
        background-color: #00a3ff;
      }
    }
  }
}


.roadmap{
  margin-top: 64px;
  position: relative;
  &-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .wrapper{
      max-width: 490px;
      .author-card{
        margin-top: 0px;
        margin-left: 20px;
      }
      .section-header{
        font-weight: 500;
        font-size: 42px;
        line-height: 52px;
        letter-spacing: -0.01em;
        color: #161616;
      }
      p{
        margin-top: 15px;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #505050;
      }
    }
  }
  .grey-line{
    position: relative;
    width: 100%;
    height: 6px ;
    background: #505050;
    opacity: 0.2;
    z-index: -2;
    transform: translateY(95px);
  }

  &-slider{
    margin-top: 45px;
    margin-bottom: 20px;
    &-item{
      text-align: center;
      padding: 0 10px;
      span{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #161616;
      }
      svg{
        width: 19px;
        height: 19px;
      }
      .highlight-icons{
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        justify-content: center;
        svg{
          height: 48px;
          width: auto;
          margin: 0 10px;
        }
      }
      h3{
        margin-top: 15px;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        color: #161616;
      }
      p{
        margin-top: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #505050;
      }
    }
    .slick-arrow{
      top: 25px;
      width: 42px;
      height: 42px;
    }
    .slick-next{
      transform: translateX(25px);
    }
    .slick-prev{
      transform: translateX(-25px);
    }
  }
}


@media (max-width: 1199.98px) { 
  .roadmap-slider .slick-next{
    transform: none;
  }
  .roadmap-slider .slick-prev{
    transform: none;
  }
}
@media (max-width: 991.98px) { 
  .roadmap{
    margin-top: 0;
    padding-top: 53px;
    background: #F9F9F9;
    &-content{
      .wrapper{
        max-width: 570px;
      }
      .author-card{
        margin-top:24px;
        .author-card-image{
          
          margin-left: 0;
        }
      }
    }
  }
  .roadmap-slider {
    &-item{
      width: 300px;
      padding-left: 40px;
      padding-right: 40px;
    }
    .slick-arrow{
      width: 26px;
      height: 26px;
      top: 34px;
    }
    .slick-next{
      transform: translate(0);
    }
    .slick-prev{
      transform: translate(0px);
    }
  }
}

@media (max-width: 575.98px) { 
  .roadmap{
    &-slider{
      margin-bottom: 0;
    }
    &-content{
      text-align: center;
      justify-content: center;
      .wrapper{
        .section-header{
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
  }
}



.trophies{
  background-color: #161616;
  padding-top: 60px;
  padding-bottom: 70px;
  background-image: url(../img/trophies-bg.png) ;
  background-repeat: no-repeat;
  background-size: height 100% width auto;
  background-position:top left;
  .section-header{
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #F9F9F9;
  }
  p{
    margin-top: 5px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #F9F9F9;
  }
}
.trophies-slider{
  margin-top: 50px;
  margin-bottom: 10px;
  * {
  box-sizing: border-box;
  }
  &-item{
    width: 290px;
    position: relative;
    img{
      width: 100%;
      height: auto;
    }
  }

  .slick-slide {
    transition: margin-top 0.3s;
  
    img {
      border: 2px solid;
    }
  }

  .slick-arrow{
      top: 75px;
      width: 42px;
      height: 42px;
      z-index: 10;
    }
    .slick-next{
      transform: translateX(5px);
    }
    .slick-prev{
      transform: translateX(-5px);
    }
  
  .slick-center{
    position: relative;
    z-index: 10;
    overflow: visible;
    padding-left: -30px;
    transform: translate(-25%, 30px);
    transition: 0.5s;
    img{
      width: 150%;
    }
  }
}



@media (max-width: 1199.98px) { 

}
@media (max-width: 991.98px) { 
  
}
@media (max-width: 767.98px) { 
 .trophies{
  position: relative;
  background: none;
  background: #161616;
  padding-bottom: 0;
  .section-header{
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  .bg-img{}
 }
}
@media (max-width: 575.98px) { 
  .trophies-slider {
    margin-top: 23px;
    &-item{
      margin: 0 20px;
    }
    .slick-center{
      transform: none;
      img {
        width: 100%;
      }
    }
    .slick-arrow{
      width: 26px;
      height: 26px;
    }
    .slick-prev{
      transform: translateX(10px);
    }
    .slick-next{
      transform: translate(-10px);
    }
  }
  .trophies{
    .bg-img{
      margin-top: 20px;
    }
  }
}


.homepage_about_tose{
  &.about-page-1{
    background: transparent;
    padding-top:90px;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  &.about-page-2{
    .content{
      padding-left: 60px;
    }
  }
  .no-margin{
    .section-header{
      margin-bottom: 45px;
    }
    &:first-child{
      margin-top: 0;
    }
    p{
      margin-top: 30px;
      color: #505050;
    }
  }
  
  &.no-bg{
    background: none;
  }
}


.homepage_slider{
  &.about-page-1{
    padding-top: 20px;
    padding-bottom: 0px;
    background: linear-gradient(
      to bottom,
      #F9F9F9 120px,
      transparent 120px  100%,
    );
  }
  &.about-page-2{
    padding-bottom: 107px;
    background: linear-gradient(
      to top,
      #161616 267px,
      transparent 267px  100%,
    );
  }
  &.about-page-3{
    padding-bottom: 125px;
    background: linear-gradient(
      to bottom,
      transparent 120px,
    #F9F9F9 120px  100%,
    );
  }
}


@media (max-width: 1199.98px) { 
  .homepage_about_tose.about-page-3{
    .box.pro-tip{
      max-width: none;
      width: 100%;
      p{
        max-width: none;
      }
    }
  }
}

@media (max-width: 991.98px) { 
  .homepage_about_tose.about-page-1{
    padding-top: 0;
    .section-header{
      max-width: 388px;
      margin: 33px auto 17px;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
    .no-margin{
      padding-left: 0;
     p{
      margin-top: 0px;
     }
     p+p{
      margin-top: 30px;
     }
    }
    
  }

  .homepage_about_tose.about-page-2{
    .section-header{
      margin-top: 53px;
    }
  }
  .homepage_slider.about-page-1{
    background: transparent;
  }
  .homepage_slider.about-page-2{
    padding-bottom: 60px;
    background: linear-gradient(
      to top,
      #161616 162px,
      transparent 162px  100%,
    );
  }
  .homepage_about_tose.about-page-3{
    margin-bottom: 45px;
  }
  .homepage_slider.about-page-3{
    padding-bottom: 50px;
    background: linear-gradient(
      to top,
      #F9F9F9 155px,
      transparent 155px  100%,
    );
  }
}

@media (max-width: 575.98px) { 
  
  .homepage_about_tose.about-page-1{
    .container{
      margin: 0 10px;
    }
    .section-header{
      margin-left: 20px;
      text-align: start;
      max-width: 206px;
    }
  }
  .homepage_about_tose.about-page-2{
    
    .section-header{
      max-width: 282px;
    }
  }

  .homepage_about_tose.about-page-3{
    margin-bottom: 0;
    .section-header{

    }
  }
}



.bottom{
  .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .content{
      position: relative;
      max-width: 510px;
      margin-bottom: 95px;
      
      .hero-header{
        width: 100%;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 42px;
        line-height: 52px;
        letter-spacing: -0.01em;    
        color: #FFFFFF;
      }
      p{
        width: 95%;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #F9F9F9;
      }
      .btn{
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@media (max-width: 1399.98px) { 

}
@media (max-width: 1199.98px) { 

}
@media (max-width: 991.98px) { 
  .bottom{
    height: auto;
    padding-top: 35px;
    background: #161616;
    .hero-bg{
      position: relative;
      z-index: 2;
    }
    .opacity-overlay{
      height: 162px;
      top: auto;
      bottom: 280px;
      z-index: 3;
      background: linear-gradient(#161616, 65%, transparent );
    }
    .wrapper{
      .content{
        width: 100%;
        max-width: none;
        text-align: center;
        margin-bottom: 0;
        .hero-header{
          max-width: 335px;
          margin-left: auto;
          margin-right: auto;
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
        }
        p{
          margin-right: 0;
        }
        .btn-round{
          margin-top: 35px;
          margin-bottom: 58px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .bottom{
    .opacity-overlay{
      bottom: 75px;
    }
    .wrapper{
      .content{
        text-align: start;
        .hero-header{
          text-align: center;
          margin-bottom: 24px;
          max-width: none;
          width: 100%;
        }
        p{
          text-align: start;
          display: block;
        }
        .btn-round{
          display: inline-block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}


