/*
ACADEMY PAGE ///////////////////////////
*/



@color-blue: #00A3FF;
@color-dark-blue:#005686;
@color-black: #161616;
@color-light-gray:#F9F9F9;
@color-white: #FFFFFF;
@color-gray: #505050;
@color-dark-gray: #212121;

.homepage_hero_section{
  &.academy-hero{
    height: auto;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    
    .hero-bg{
      height: 100%;
      width: auto;
      left: auto;
      right: 0;
    }
    .opacity-overlay{
      background: linear-gradient(180deg, #161616 28.86%, rgba(22, 22, 22, 0) 100%);
      background: linear-gradient(0.25turn, #161616 38.86%, rgba(22, 22, 22, 0) 100%);
    }
    .content{
      width: auto;
    }
    .page-header{
      width: 567px;
 
      font-weight: 600;
      font-size: 64px;
      line-height: 70px;
      color: #FFFFFF;
    }
    p{
      margin-top: 10px;
      width: 634px;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #F9F9F9;
    }
    .btn{
      margin-top: 18px;
      margin-bottom: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}





@media (max-width: 991.98px) { 
  .homepage_hero_section{
    &.academy-hero{
      padding-top: 53px;
      padding-bottom: 42px;
      background: #161616;
      .opacity-overlay{
        display: none;
      }
      .hero-bg{
        z-index: 2;
      }
      .content{
        z-index: 3;
      }
      .page-header{
        max-width: 348px;
        font-weight: 500;
        font-size: 42px;
        line-height: 52px;  
        letter-spacing: -0.01em;
      }
      p{
        max-width: 325px;
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .homepage_hero_section{
    &.academy-hero{
      padding-top: 27px;
      padding-bottom: 0;
    }
  }
}



.line-double.line-eight{
  height: 8px;
}

.academy-about{
  background-color: @color-black;
  padding: 90px 0;
  h2,p{
    color: white;
  }
  .section-header{
    margin-bottom: 35px;
  }
  p{
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #F9F9F9;
  }
  img{
    max-width: 454px;
    height: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    align-items:center
  }
}


@media (max-width: 991.98px) { 
  .academy-about{
    padding-bottom: 70px;
    .section-header{
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 18px;
    }
    img{
      max-width: 100%;
      padding-left:  35px;
      padding-right: 35px;
    }
  }
}

@media (max-width: 575.98px) { 
  .academy-about{
    padding-top: 45px;
    padding-bottom: 37px;
    .section-header{
      margin-top: 45px;
      margin-bottom: 10px;
    }
  }
}




.academy-about-2{
  background-color:transparent;
  padding: 100px 0;
  margin-bottom: 10px;
  h2,p{
    color: #505050;
  }
  img{
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  }
  .content{
    padding: 0 45px;
  }
}

.olympia-gear-banner.about-page{
  padding-top: 35px;
  padding-bottom: 20px;
}

.benefits{
  margin-top: 95px;
  .section-header{
    margin-bottom: 65px;
  }
  &-wrapper{
    .large-media{
      padding: 0 55px;
      margin-bottom: 45px;
    }
    .large-media-icon{
      width: 121px;
      max-width: auto;
      display: flex;
      justify-content: center;
      flex-shrink: 0;

      
    }
    .large-media-content p{
      max-width: 100%;
      flex-grow: 0;
    }
    .large-media-content{
      margin-left: 0;
      padding-left: 60px;
    }
  }
}

.banner-with-bg{
  padding: 190px 0 155px;
  background-image: url(../img/contestants-bg.png);
  background-position: center center;
  background-size: 100% auto;
  &-wrapper{
    padding: 30px 0 36px;
    text-align: center;
    background: rgba(22, 22, 22, 0.7);
    .section-header{
      font-weight: 500;
      font-size: 42px;
      line-height: 52px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #FFFFFF;
    }
    p{
      margin: 15px auto 0;
      max-width: 532px;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
      color: #F9F9F9;
    }
    .btn-round{
      margin-top: 20px;
      text-transform: none;
    }
  }
}



.recognition-steps{
  margin-top: 83px;
  .section-header{
    max-width:634px;
    margin-bottom: 25px;
  }
}

.application-banner{
  margin-top: 125px;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    #F9F9F9 50%  100%,
  );
  .content{
    position: relative;
    background-color:#161616;
    padding: 65px 0 65px 118px;
    .bg-img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
    p{
      max-width: 613px;
      font-weight: 500;
      font-size: 42px;
      line-height: 52px;
      letter-spacing: -0.01em;
      color: #F9F9F9;
    }
    .btn{
      margin-top: 28px;
    }
  } 
}

.academy-schedule{
  padding-top: 100px;
  background: #F9F9F9;
  
}
.supporters-slider{
  &.academy{
    max-width: 524px;
    margin-top: 75px;
    margin-bottom: 65px;

    .supporters-slider-item{
      margin-left: 30px;
      margin-right: 30px;
      img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0 ;
        
      }
      .expert-details{
        text-align: center;
        background: #FFFFFF;
        padding-top: 18px ;
        padding-bottom: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        h3{
          font-weight: 700;
          font-size: 24px;
          line-height: 26px;
          text-align: center;      
          color: #161616;
        }
        p{
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;      
          color: #161616;
        }
      }
      .expert-schedule{
        padding: 0 45px;
        h3{
          margin-top: 40px;
        }
        ul{
          margin-top: 30px;
          list-style-image: url(../img/list-marker.svg);
          li{
            margin-bottom: 18px;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;        
            color: #505050;
          }
        }
      }
    }
  }
}


.academy-request{
  margin-top: 140px;
  

  background: linear-gradient(
    to bottom,
    transparent 15%,
    #00A3FF 15%  85%,
    transparent 85% 100%,
  );
  .section-header{
    text-align: center;
    max-width: 510px;
    margin: 0 auto;
  }
  .section-description{
    max-width:667px;
    margin: 25px auto 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #505050;
  }
  .discount{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    span{
      margin: 0 9px;
      font-weight: 500;
      font-size: 30px;
      line-height: 33px;
      text-decoration-line: line-through;
      color: #000000;
      opacity: 0.4;
    }
    .new-price{
      margin: 0 9px;
      font-weight: 700;
      font-size: 42px;
      line-height: 46px;    
      color: #00A3FF;
      text-decoration-line: none;
      opacity: 1;
    }
  }
  &-wrapper{
    margin: 0 auto;
    max-width: 978px;
    padding: 55px 84px 50px 84px;
    background: #F5F5F5;
    border-radius: 10px;
  }
  .contact-us-form{
    margin-top: 40px;
    width: 100%;
    background: transparent;
    padding: 0;
    
    form{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #333333;
        
      }
      input, textarea{
        margin-top: 8px;
      }
    }
    .column{
      margin-bottom: 25px;
      width: 50%;
      padding: 0 16px;
      
    }
    .column-full{
      width: 100%;
      padding: 0 16px;
      margin-bottom: 20px;
    }
    .btn{
      margin-top: 10px;
      margin-right: auto;
      margin-left: 16px;
    }
  }
}

.faq{
  
  &.no-bg{
    .accordion{
      padding-bottom: 120px;
    }
    background:transparent;
    .accordion .accordion-item .accordion-header .accordion-button{
      background: transparent;
    }
    .accordion .accordion-item .accordion-body{
      background: transparent;
    }
  }
}

