/*
ACADEMY PAGE ///////////////////////////
*/
.homepage_hero_section.academy-hero {
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
.homepage_hero_section.academy-hero .hero-bg {
  height: 100%;
  width: auto;
  left: auto;
  right: 0;
}
.homepage_hero_section.academy-hero .opacity-overlay {
  background: linear-gradient(180deg, #161616 28.86%, rgba(22, 22, 22, 0) 100%);
  background: linear-gradient(0.25turn, #161616 38.86%, rgba(22, 22, 22, 0) 100%);
}
.homepage_hero_section.academy-hero .content {
  width: auto;
}
.homepage_hero_section.academy-hero .page-header {
  width: 567px;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
}
.homepage_hero_section.academy-hero p {
  margin-top: 10px;
  width: 634px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9F9;
}
.homepage_hero_section.academy-hero .btn {
  margin-top: 18px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  .homepage_hero_section.academy-hero {
    padding-top: 53px;
    padding-bottom: 42px;
    background: #161616;
  }
  .homepage_hero_section.academy-hero .opacity-overlay {
    display: none;
  }
  .homepage_hero_section.academy-hero .hero-bg {
    z-index: 2;
  }
  .homepage_hero_section.academy-hero .content {
    z-index: 3;
  }
  .homepage_hero_section.academy-hero .page-header {
    max-width: 348px;
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.01em;
  }
  .homepage_hero_section.academy-hero p {
    max-width: 325px;
  }
}
@media (max-width: 575.98px) {
  .homepage_hero_section.academy-hero {
    padding-top: 27px;
    padding-bottom: 0;
  }
}
.line-double.line-eight {
  height: 8px;
}
.academy-about {
  background-color: #161616;
  padding: 90px 0;
}
.academy-about h2,
.academy-about p {
  color: white;
}
.academy-about .section-header {
  margin-bottom: 35px;
}
.academy-about p {
  margin-top: 30px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #F9F9F9;
}
.academy-about img {
  max-width: 454px;
  height: auto;
}
.academy-about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 991.98px) {
  .academy-about {
    padding-bottom: 70px;
  }
  .academy-about .section-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 18px;
  }
  .academy-about img {
    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 575.98px) {
  .academy-about {
    padding-top: 45px;
    padding-bottom: 37px;
  }
  .academy-about .section-header {
    margin-top: 45px;
    margin-bottom: 10px;
  }
}
.academy-about-2 {
  background-color: transparent;
  padding: 100px 0;
  margin-bottom: 10px;
}
.academy-about-2 h2,
.academy-about-2 p {
  color: #505050;
}
.academy-about-2 img {
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
}
.academy-about-2 .content {
  padding: 0 45px;
}
@media (max-width: 991.98px) {
  .academy-about-2 {
    padding-top: 42px ;
    padding-bottom: 42px;
  }
  .academy-about-2 .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .academy-about-2 .content p {
    margin-top: 0;
    width: 45%;
  }
}
@media (max-width: 575.98px) {
  .academy-about.academy-about-2 {
    padding-top: 6px;
    padding-bottom: 42px;
  }
  .academy-about.academy-about-2 .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 5px ;
  }
  .academy-about.academy-about-2 .content p {
    margin-top: 26px;
    width: 100%;
  }
  .academy-about.academy-about-2 img {
    padding: 0 15px;
  }
}
.olympia-gear-banner.about-page {
  padding-top: 35px;
  padding-bottom: 20px;
}
.shop-wrapper.academy-page .olympia-gear-banner {
  margin-top: 0;
}
.benefits {
  margin-top: 95px;
}
.benefits .section-header {
  margin-bottom: 65px;
}
.benefits-wrapper .large-media {
  padding: 0 55px;
  margin-bottom: 45px;
}
.benefits-wrapper .large-media-icon {
  width: 121px;
  max-width: auto;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.benefits-wrapper .large-media-content p {
  max-width: 100%;
  flex-grow: 0;
}
.benefits-wrapper .large-media-content {
  margin-left: 0;
  padding-left: 60px;
}
@media (max-width: 991.98px) {
  .benefits {
    margin-top: 42px;
    margin-bottom: 63px;
  }
  .benefits .section-header {
    margin-bottom: 45px;
  }
  .benefits-wrapper .large-media {
    margin-bottom: 23px;
    justify-content: center;
  }
  .benefits-wrapper .large-media h3 {
    max-width: none;
    width: 100%;
    text-align: center;
    min-height: auto;
  }
  .benefits-wrapper .large-media .large-media-content {
    padding-left: 0;
  }
  .benefits-wrapper .large-media .large-media-content p {
    margin-top: 17px;
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .benefits .section-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #161616;
  }
  .benefits-wrapper .large-media {
    padding: 0;
    justify-content: start;
  }
  .benefits-wrapper .large-media .large-media-icon {
    width: 25%;
  }
  .benefits-wrapper .large-media h3 {
    max-width: 150px;
    margin-left: 30px;
    text-align: start;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #161616;
  }
  .benefits-wrapper .large-media .large-media-content {
    margin-top: 0;
  }
  .benefits-wrapper .large-media .large-media-content p {
    text-align: start;
  }
}
.banner-with-bg {
  padding: 190px 0 155px;
  background-image: url(../img/contestants-bg.png);
  background-position: center center;
  background-size: 100% auto;
}
.banner-with-bg-wrapper {
  padding: 30px 0 36px;
  text-align: center;
  background: rgba(22, 22, 22, 0.7);
}
.banner-with-bg-wrapper .section-header {
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}
.banner-with-bg-wrapper p {
  margin: 15px auto 0;
  max-width: 532px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #F9F9F9;
}
.banner-with-bg-wrapper .btn-round {
  margin-top: 20px;
  text-transform: none;
}
@media (max-width: 991.98px) {
  .banner-with-bg {
    padding: 0;
    background: #161616;
    background-image: none;
  }
  .banner-with-bg .section-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  .banner-with-bg .bg-img {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .banner-with-bg {
    display: flex;
    flex-wrap: wrap;
  }
  .banner-with-bg .section-header {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: start;
  }
  .banner-with-bg .container {
    order: 2;
  }
  .banner-with-bg .bg-img {
    order: 1;
  }
  .banner-with-bg p {
    text-align: start;
  }
}
.recognition-steps {
  margin-top: 83px;
}
.recognition-steps .section-header {
  max-width: 634px;
  margin-bottom: 25px;
}
.recognition-steps .large-media-header h3 {
  margin-top: 10px;
}
@media (max-width: 991.98px) {
  .recognition-steps .large-media {
    justify-content: center;
  }
  .recognition-steps .large-media .large-media-icon {
    text-align: center;
  }
  .recognition-steps .large-media .large-media-header {
    text-align: center;
  }
  .recognition-steps .large-media .large-media-content {
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .recognition-steps .large-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .recognition-steps .large-media .large-media-icon {
    width: 25%;
  }
  .recognition-steps .large-media .large-media-header {
    margin-left: 20px;
    max-width: 175px;
    text-align: start;
  }
  .recognition-steps .large-media .large-media-content {
    width: 100%;
    padding-right: 0;
  }
  .recognition-steps .large-media .large-media-content p {
    text-align: start;
  }
}
.application-banner {
  margin-top: 125px;
  background: linear-gradient(to bottom, transparent 50%, #f9f9f9 50% 100%);
}
.application-banner .content {
  position: relative;
  background-color: #161616;
  padding: 65px 0 65px 118px;
}
.application-banner .content .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
}
.application-banner .content p {
  max-width: 613px;
  font-weight: 500;
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.01em;
  color: #F9F9F9;
}
.application-banner .content .btn {
  margin-top: 28px;
}
@media (max-width: 991.98px) {
  .application-banner {
    margin-top: 62px;
  }
  .application-banner .content {
    padding: 36px 0 67px 40px;
  }
  .application-banner .content p,
  .application-banner .content a {
    position: relative;
    z-index: 5;
  }
  .application-banner .content p {
    max-width: 335px;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 575.98px) {
  .application-banner .container {
    padding: 0;
  }
  .application-banner .content {
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 26px 0 0;
    align-items: center;
  }
  .application-banner .content p {
    text-align: center;
    margin: 0 13px;
  }
  .application-banner .content .bg-img {
    position: static;
    order: 3;
  }
}
.academy-schedule {
  padding-top: 100px;
  background: #F9F9F9;
}
@media (max-width: 991.98px) {
  .academy-schedule {
    padding-top: 55px;
  }
}
.supporters-slider.academy {
  max-width: 524px;
  margin-top: 75px;
  margin-bottom: 65px;
}
.supporters-slider.academy .supporters-slider-item {
  margin-left: 30px;
  margin-right: 30px;
}
.supporters-slider.academy .supporters-slider-item img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0 ;
}
.supporters-slider.academy .supporters-slider-item .expert-details {
  text-align: center;
  background: #FFFFFF;
  padding-top: 18px ;
  padding-bottom: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}
.supporters-slider.academy .supporters-slider-item .expert-details h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #161616;
}
.supporters-slider.academy .supporters-slider-item .expert-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
}
.supporters-slider.academy .supporters-slider-item .expert-schedule {
  padding: 0 45px;
}
.supporters-slider.academy .supporters-slider-item .expert-schedule h3 {
  margin-top: 40px;
}
.supporters-slider.academy .supporters-slider-item .expert-schedule ul {
  margin-top: 30px;
  list-style-image: url(../img/list-marker.svg);
}
.supporters-slider.academy .supporters-slider-item .expert-schedule ul li {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #505050;
}
@media (max-width: 991.98px) {
  .supporters-slider.academy {
    margin-bottom: 40px;
  }
  .supporters-slider.academy .slick-arrow {
    top: 100px;
    z-index: 10;
  }
  .supporters-slider.academy .slick-next {
    transform: translate(50px, 0);
    z-index: 10;
  }
  .supporters-slider.academy .slick-prev {
    transform: translate(-50px, 0);
    z-index: 10;
  }
}
@media (max-width: 575.98px) {
  .supporters-slider.academy .supporters-slider-item {
    margin: 0;
  }
  .supporters-slider.academy .supporters-slider-item img {
    padding: 0 20px;
  }
  .supporters-slider.academy .supporters-slider-item .expert-details {
    margin-left: 20px;
    margin-right: 20px;
  }
  .supporters-slider.academy .supporters-slider-item .expert-schedule {
    padding-left: 0;
    padding-right: 0;
  }
  .supporters-slider.academy .supporters-slider-item .expert-schedule h3 {
    text-align: center;
    margin-bottom: 27px;
  }
  .supporters-slider.academy .supporters-slider-item .expert-schedule ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-left: 20px;
  }
}
.academy-request {
  margin-top: 140px;
  background: linear-gradient(to bottom, transparent 15%, #00a3ff 15% 85%, transparent 85% 100%);
}
.academy-request .section-header {
  text-align: center;
  max-width: 510px;
  margin: 0 auto;
}
.academy-request .section-description {
  max-width: 667px;
  margin: 25px auto 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #505050;
}
.academy-request .discount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.academy-request .discount span {
  margin: 0 9px;
  font-weight: 500;
  font-size: 30px;
  line-height: 33px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.4;
}
.academy-request .discount .new-price {
  margin: 0 9px;
  font-weight: 700;
  font-size: 42px;
  line-height: 46px;
  color: #00A3FF;
  text-decoration-line: none;
  opacity: 1;
}
.academy-request-wrapper {
  margin: 0 auto;
  max-width: 978px;
  padding: 55px 84px 50px 84px;
  background: #F5F5F5;
  border-radius: 10px;
}
.academy-request .contact-us-form {
  margin-top: 40px;
  width: 100%;
  background: transparent;
  padding: 0;
}
.academy-request .contact-us-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.academy-request .contact-us-form form p {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
}
.academy-request .contact-us-form form input,
.academy-request .contact-us-form form textarea {
  margin-top: 8px;
}
.academy-request .contact-us-form .column {
  margin-bottom: 25px;
  width: 50%;
  padding: 0 16px;
}
.academy-request .contact-us-form .column-full {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 20px;
}
.academy-request .contact-us-form .btn {
  margin-top: 10px;
  margin-right: auto;
  margin-left: 16px;
}
@media (max-width: 991.98px) {
  .academy-request {
    margin-top: 60px;
    padding: 0 44px;
  }
  .academy-request-wrapper {
    padding: 40px 50px;
  }
  .academy-request-wrapper .section-header {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
  }
}
@media (max-width: 575.98px) {
  .academy-request {
    padding: 0;
  }
  .academy-request-wrapper {
    padding: 20px 20px 30px;
  }
  .academy-request-wrapper .contact-us-form .column {
    width: 100%;
  }
}
.faq.no-bg {
  background: transparent;
}
.faq.no-bg .accordion {
  padding-bottom: 120px;
}
.faq.no-bg .accordion .accordion-item .accordion-header .accordion-button {
  background: transparent;
}
.faq.no-bg .accordion .accordion-item .accordion-body {
  background: transparent;
}
@media (max-width: 575.98px) {
  .faq.academy .section-header {
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    /* or 143% */
    letter-spacing: -0.03em;
    /* Text/txt-primary */
    color: #000000;
  }
}
