/*
BLOG ARCHIVE PAGE ///////////////////////////
*/

@color-blue: #00A3FF;
@color-dark-blue:#005686;
@color-black: #161616;
@color-light-gray:#F9F9F9;
@color-white: #FFFFFF;
@color-gray: #505050;
@color-dark-gray: #212121;

.blog-featured{
  margin-top: 45px;
  &-meta{
    margin-left: 65px;
    .page-header{
      margin-top: 50px;
      font-weight: 700;
      font-size: 64px;
      line-height: 61px;
      color: #161616;
    }
    p{
      margin-top: 30px;
      width: 100%;
      padding-right: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #696969;
    }
    .breadcrumb{
      margin-top: 20px;
      &-item{
        a{
          text-decoration: none;
          color: #696969;
        }
      }
    }
  }
  &-article{
    margin-left: 55px;
    background: #F9F9F9;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 80px 60px 60px;
    .blog-card{
      padding: 35px ;
    }
  }
}

.blog-card{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  
  margin-top: 25px;
  background: #FFFFFF;
  border-radius: 7px;
  h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    color: #161616;
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    margin-top: 10px;
  }
  .post-thumbnail{
    width: 272px;
    height: auto;
    margin-right: 25px;
    border-radius: 10px;
    border: 2px solid @color-blue;
  }
  .post-meta{
    padding: 0;
    flex-grow: 1;
  }
  .post-meta-details{
    margin-top: 10px;
    p{
      margin-top: 0;
      font-size: 12px;
      line-height: 100%;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 1399.98px) { 
  .blog-featured-meta p{
    width: 100%;
  }
  .blog-card .post-thumbnail{
    width: 240px;
  }
}

@media (max-width: 1199.98px) { 
  .blog-featured-article {
    .blog-card{
      flex-wrap: wrap;
      .post-thumbnail{
        width: 100%;
      }
    }
  }
  .blog-featured-meta{
    margin-left: 0;
  }
  
}
@media (max-width: 991.98px) { 
  .blog-featured-article{
    margin-left: 0;
    padding: 20px 50px 40px;
    .section-header{
      font-size: 30px;
      line-height: 36px;
    }
    .blog-card{
      padding: 0;
      background: transparent;
    }
  }
  .blog-featured{
    &-meta{
      .page-header{
        font-size: 42px;
        line-height: 70px;
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .blog-featured{
    margin-top: 15px;
    .container{
      padding: 0; 
      margin: 0;
    }
    &-meta {
      padding-left: 20px;
      .page-header{
        margin-top: 22px;
      }
      p{
        margin-top: 0;
        margin-bottom: 35px;
      }
    }
    &-article{
      padding: 43px 20px 60px;
      border-radius: 0;
      .blog-card{
        padding:  34px 22px;
        background: #FFFFFF;
        border-radius: 7px;
      }
    }
  }
}





.popular-content{
   padding-bottom: 0;
  .section-header{
    margin-top: 80px;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #161616;
  }
  &-wrapper{
    display: flex;
    flex-wrap: wrap;
    .blog-card{
      width: 50%;
      margin-top: 35px;
      .post-thumbnail{
        margin-right: 20px;
      }
    }
  }
  
}


@media (max-width: 1399.98px) { 

}
@media (max-width: 1199.98px) { 
  .popular-content{

    .blog-card{
      width: 100%;
    }
  }
}
@media (max-width: 991.98px) { 
  .popular-content{
    .section-header{
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
    .container{
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 100%;
      padding-left: 36px;
    }
    &-wrapper{
      display: block;
      overflow: auto;
      white-space: nowrap;
      &::-webkit-scrollbar { 
          display: none;  /* Safari and Chrome */
      }
      .blog-card{
        display: inline-block;
        width: 270px;
        margin-right: 45px;
        h3{
          white-space: normal;
        }
        p{
          white-space: normal;
        }
      }
    } 
    
  }
}

@media (max-width: 575.98px) { 
  .popular-content{
    .section-header{
      margin-top: 35px;
    }
    .container{
      padding: 0 20px;
    }
    &-wrapper{
      overflow: hidden;
      white-space: normal;
      .blog-card{
        width: 100%;
        display: block;
        .post-thumbnail{
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}


.recently-posted{
  margin-top: 55px;
  background-color: #F9F9F9;
  .section-header{
    margin-top: 70px;
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #161616;
  }
  &-slider{
    max-width: 1200px;
    margin: 35px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-item{
      width: 270px;
      margin: 0 15px;
      img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 2px solid @color-blue ;
      }
      h3{
        margin-top: 18px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #161616;
      }
    }
    .slick-dots{
      position: static;
      margin-top: 50px;
      li {
        background: white;
        border-radius: 4px;
        width: 32px;
        height: 32px;
        text-align: center;
        a{
          line-height: 32px;
        }
      }
      .slick-active{
        border: 1px solid @color-blue;
      }
    }
  }
}

@media (max-width: 991.98px) { 
  .recently-posted{
    .section-header{
      margin-top: 26px;
      text-align: center;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
  }
}



// recently posted section without background
.no-bg{
  margin-top: 0;
  background: transparent;
}

// main banner with bg at top



.top-bg{
  margin-top: 0;
  padding-top: 50px;
  background: linear-gradient(
    to bottom,
    #F9F9F9 220px,
    transparent 220px  100%,
  );
}

.right{
  padding-top: 70px;
  padding-bottom: 70px;
  .bg-img{
    left: auto;
    right: 0;
  }
  .content{
    margin-left: 94px;
  }
}



@media (max-width: 991.98px) { 
  .right{
    .content{
      max-width: 395px;
      margin-left: 40px;
    }
  }
}
@media (max-width: 767.98px) { 

}
@media (max-width: 575.98px) { 
  .right{
    text-align: center;
    padding-bottom: 0;
    .content{
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 0;
    }
  }
}



