/*
TEAM PAGE ///////////////////////////
*/

.team-hero{
  .page-header{
    margin-top: 48px;
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
    color: #161616;
  }
  &-content{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p{
      max-width: 700px;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #505050;
    }
    .author-card.mini{
      margin-top: 10px;
    }
  }
}




@media (max-width: 1199.98px) { 
  .team-hero{
    &-content{
      
      .author-card.mini{
        margin-top: 24px;
        .author-card-image{
          margin-left: 0;
        }
      }
    }
  }
}
@media (max-width: 991.98px) { 
  .team-hero{
    .page-header{
      max-width: 507px;
      text-align: center;
      margin: 48px auto 0;
    }
    &-content{
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 35px;
      padding-right: 35px;
      p{
        text-align: center;
      }
    }
  }
}
@media (max-width: 767.98px) { 
  .team-hero{
    &-content{
      margin-top: 24px;
      padding-left: 49px;
      padding-right: 49px;
    }
  }
}


.team-slider{
  margin: 78px auto 0;
  max-width: 960px;
  width: 100%;
  &-item{
    max-width: 270px;
    margin: 0 26px;
    text-align: center;
    img{
      width: 210px;
      height: 210px;
      object-fit: cover;
      border-radius: 10px;
      margin: 0 auto;
    }
    .socials{
      margin-top: 14px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      h3{
        margin-left: 10px;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;  
        color: #161616;
      }
    }
    .languages{
      display: flex;
      align-items: center;
      justify-content: center;
      svg{
        margin: 0 8px;
      }
    }
  }
  .slick-arrow{
    z-index: 10;
    width: 43px;
    height: 43px;
    top: 50%;
  }
  .slick-next{
   transform: translate(-20px,-150%); 
  }
  .slick-prev{
    transform: translate(20px,-150%); 
  }
}


@media (max-width: 991.98px) { 
  .team-slider{
    max-width: none;
    height: auto;
    &-item{
      width: 210px;
      margin: 0 0;
      img{
        width: 210px;
        height: 210px;
        aspect-ratio: 1;
      }
      .socials{
        position: relative;
        align-items: flex-start;
        a{
          position: absolute;
          top: 3px;
          left: 0;
          flex-shrink: 0;
          transform: translateY(3px);
        }
        h3{
          flex: 1;
        }
      }
    }
    
  }
}

@media (max-width: 575.98px) { 
  .team-hero{
    .container{
      margin: 0;
      padding: 0;
    }
  }
  .team-slider{
    margin-top: 24px;
    .slick-slide {
    width: 210px;
    margin: 0 6px;
    }
    &-item{
      width: 300px;
      margin: 0 0;
      img{
        
        aspect-ratio: 1 / 1;
        border-radius: 10px;
      }
    }
  }
}


.banner-transparent{
  &.team-banner{
    margin-top: 70px;
    .banner-transparent-wrapper{
      align-items: center;
      p{
        max-width: 810px;
        width: 810px;
      }
      .btn{
        width: auto;
        font-size: 14px;
        line-height: 15px;
      }
    }
  }
}


@media (max-width: 1199.98px) { 
  .banner-transparent{
    &.team-banner{
      .banner-transparent-wrapper{
       
        p{
         max-width: 600px; 
        }
        
      }
    }
  }
}


@media (max-width: 991.98px) { 
  .banner-transparent{
    &.team-banner{
      margin-top: 43px;
      .banner-transparent-wrapper{
        padding: 30px 40px;
        flex-wrap: wrap;
        p{
          font-weight: 500;
        }
        .btn{
          margin-top: 14px;
        }
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .banner-transparent{
    &.team-banner{
      .banner-transparent-wrapper{
        .btn{
          margin-top: 18px;
        }
      }
    }
  }
}



// modified banner from contact page

.main-black-banner{
  &.team-banner{
    background: linear-gradient(
      to top,
      #F9F9F9 50%,
      transparent 50%  100%,
    );
    .section-header{
      max-width: 406px;
    }
    p{
      max-width: 667px;
    }
  }
}

@media (max-width: 991.98px) { 
  .main-black-banner{
  &.team-banner{
    .main-black-banner-wrapper{
      padding-top: 28px;
      padding-bottom: 28px;
    }
    .content{
      max-width: none;
      p{
        max-width: 426px;
      }
    }
   }
  }
}

@media (max-width: 575.98px) { 
  .main-black-banner.team-banner .main-black-banner-wrapper{
    padding-bottom: 0;
  }
}



.what-you-get{
  padding-top: 77px;
  background: #F9F9F9;
  padding-bottom: 55px;
}
.what-you-get-content{
  margin-top: 82px;
}


@media (max-width: 991.98px) { 
  .what-you-get{
    padding-top: 34px;
  }
}

@media (max-width: 575.98px) { 
  .what-you-get{
    padding-bottom: 0;
  }
}





.large-media{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  
  &-icon{
    width: 86px;
  }
  &-content{
    margin-left: 45px;
    flex-grow: 1;
    h3{
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      color: #161616;
    }
    p{
      margin-top: 20px;
      max-width: 400px;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #161616;
    }
  }

  // centered layout
  &.center{
    display: block;
    text-align: center;
    margin-bottom: 0;
    margin-top: 40px;
    .large-media-icon{
      width: 100%;
    }
    span{
      display: inline-block;
      margin-top: 20px;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #00A3FF;
    }
    .large-media-content{
      margin-top: 13px;
      width: 100%;
      flex-grow: 0;
      margin-left: 0;
      p{
        margin-top: 15px;
        max-width:800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &.block{
    text-align:start;
    .large-media-content{
      padding-right:20px;
    }
  }
}

@media (max-width: 991.98px) { 
  .large-media{
   flex-wrap: wrap;
     &-icon{
      width: 100%;
      
    }
    &-content{
      width: 100%;
      margin-top: 21px;
      margin-left: 0;
      h3{
        max-width: 317px;
        min-height: 72px;
      }
      p{
        margin-top: 14px;
      }
    }
  } 
}

@media (max-width: 575.98px) { 
  .what-you-get{
    .section-header{
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
  }
  .what-you-get-content{
    margin-top: 52px;
  }
  .large-media{
    &-icon{
      display: flex;
      align-items: center;
      h3{
        margin-left: 30px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;  
        color: #161616;
      }
    }
    &-content{

    }
  }
}



.steps{
  margin-top: 37px;
  text-align: center;
  margin-bottom: 100px;
  .section-header{
    max-width: 634px;
    width: 634px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .large-media{
    margin-top: 40px;
    h3{
      margin-top: 10px;
    }
  }
}


@media (max-width: 991.98px) { 
  .steps{
    margin-bottom: 30px;
    .large-media{
      h3{
        margin-top: 10px;
        max-width: none;
        width: 100%;
        text-align: center;
        min-height: 36px;
      }
      .large-media-content {
        
      }
    }
  }
}
@media (max-width: 767.98px) { 
}
@media (max-width: 575.98px) { 
  .steps{
    margin-bottom: 20px;
    .section-header{
      max-width: none;
      width: 100%;
      text-align: start;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
    }
    .large-media{
      &.center{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .large-media-icon{
          width: auto;

        }
        .large-media-header{
          margin-left: 30px;
          flex: 1;
          text-align: start;
          span{
            margin-top: 0;
          }
          h3{
            text-align: start;
          }
         
        }
        .large-media-content{
          width: 100%;
           p{
            text-align: start;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) { 
  .faq{
    &.team-page{
      .section-header{
        font-weight: 800;
        font-size: 42px;
        line-height: 60px;  
        letter-spacing: -0.03em;
      }
    }
  }
}